
.ribbon{
	position: relative;
	display: inline-block;
	margin: 0 -10px;
	padding: 0 10px;

	&:after{
		content: '';
	}

	&__content,
	&:after{

		animation-duration: 1s;
		animation-timing-function: ease;
		animation-delay: 0s;
		animation-direction: normal;
		animation-iteration-count: 1;
		//animation-fill-mode: forwards;
		animation-fill-mode: forwards;
		animation-play-state: paused;
	}

	&__content{
		opacity: 0;
		position: relative;
		animation-name: ribbonContent;
	}

	&:after{
		position: absolute;
		background: $colorGreen;
		left: 0;
		bottom: 0;
		top: 0;
		right: 100%;
		animation-name: ribbonLine;
	}

	&_title{
		&:after{
			left: 0;
			right: 100%;
			top: 0;
			bottom: -0.06em;
			z-index: 2;
			animation-name: ribbonLineTitle;
			animation-duration: 2s;
		}

		.ribbon__content{
			animation-duration: 2s;
			opacity: 0;
			animation-name: ribbonContentTitle;

			margin: 0 -0.06em;
			padding-top: 0.06em;
		}
	}

	&.is-animated {
		&:after,
		.ribbon__content{
			animation-play-state: running;
		}
	}

}




@keyframes ribbonContent {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 0;
	}
	50.01% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}


@keyframes ribbonLine {
	0% {
		left: 0;
		right: 100%;
	}
	50% {
		left: 0;
		right: 0;
	}
	100% {
		left:100%;
		right: 0;
	}
}


@keyframes ribbonContentTitle {
	0% {
		opacity: 0;
	}
	33.333% {
		opacity: 0;
	}
	33.334% {
		opacity: 1;
		z-index: 2;
	}
	100% {
		opacity: 1;
		z-index: 2;
	}
}

@keyframes ribbonLineTitle {
	0% {
		left: 0;
		right: 100%;
		top: 0;
		bottom: -0.06em;
		z-index: 2;
	}
	33.3333% {
		left: 0;
		right: 0;
	}
	66.6666% {
		left: 100%;
		right: 0;
		top: 0;
		bottom: -0.06em;
		z-index: 2;
	}
	66.6667% {
		left: 100%;
		right: 10px;
		top: 50%;
		bottom: 0;
		z-index: 1;
	}

	100% {
		left: 10px;
		right: 10px;
		top: 50%;
		bottom: 0;
		z-index: 1;
	}
}



