.card{

	&__list{
		@include clearfix();
		margin: -18px;

		@include breakPoint($breakPoint){
			margin: -13px;
		}
	}


	&__item{
		float: left;
		width: 50%;
		box-sizing: border-box;
		padding: 18px;

		@include breakPoint($breakPoint){
			width: 25%;
			padding: 13px;
		}

		&_big{
			width: 100%;

			@include breakPoint($breakPoint){
				width: 50%;
			}
		}

		&-inner{
			position: relative;
			display: block;

			&:hover{
				.card__item-image .object-fit{
					transform: scale(1.1);
				}
			}
		}

		&-tag{
			position: absolute;
			top: 40px;
			left: -1px;
			font-size: 14px;
			padding: 13px 20px 12px 25px;
			box-sizing: border-box;
			max-width: 90%;
			background: #000;
			text-transform: uppercase;
			z-index: 1;

			@include breakPoint($breakPoint){
				font-size: 11px;
				top: 25px;
				padding: 14px 20px;
			}

		}

		&-image{
			height: 195px;
			position: relative;
			overflow: hidden;
			font-size: 0;

			.object-fit{
				background: no-repeat 50% 50%;
				background-size: cover;
				object-fit: cover;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				will-change: transform;
				transition: transform 1s ease;
				transform: scale(1);
				font-family: 'object-fit: cover';
			}
		}
		&-info{
			padding: 30px 25px 20px;

			overflow: hidden;
			text-overflow: ellipsis;
			display: -webkit-box;
			-webkit-line-clamp: 4;
			-webkit-box-orient: vertical;

			.browser-firefox &{
				display: inline-block;
			}

		}
		&-date{
			color: rgba(#fff, 0.22);
			font-size: 16px;
			//overflow: hidden;
			margin-bottom: 15px;

			&-day{
				font-size: 40px;
				color: #fff;
				float: left;
				margin-right: 10px;
				padding-bottom: 25px;
				border-bottom: 2px solid #fff;
				//margin-left: -5px;
				line-height: 1;

			}

			&-month{
				color: #fff;
			}

			&-year{}
		}

		&-title{
			font-size: 20px;
			line-height: 1.625;
			margin-bottom: 10px;
			overflow: hidden;

			@include breakPoint($breakPoint){
				font-size: 13px;
			}
		}

		&-text{
			font-size: 16px;
			line-height: 1.75;
			overflow: hidden;

			@include breakPoint($breakPoint){
				font-size: 13px;
			}

			.news__card_big &{

				@include breakPoint($breakPoint){
					font-size: 16px;
				}

			}
		}


		&_news{
			.card{

				&__item{

					&-inner{
						height: 390px;
						box-shadow: inset 0 0 0 1px #1b1b1b;

						.news_home &{
							box-shadow: none;

							@include breakPoint($breakPoint){
								height: 355px;
							}
						}
					}

					&-info{
						.news_home &{
							@include breakPoint(0, $breakPoint){
								padding-right: 0;
								padding-left: 0;
							}
						}
					}

					&-image{
						height: 196px;
					}

					&-title{
						@include breakPoint(0, $breakPoint){
							max-height: 96px;
							text-overflow: ellipsis;
							display: -webkit-box;
							-webkit-line-clamp: 3;
							-webkit-box-orient: vertical;
						}
					}
				}
			}

			&.card__item_big{

				.card{

					&__item{

						&-inner{
							height: 806px;
							display: flex;
							flex-flow: column nowrap;
							justify-content: space-around;

							.news_home &{
								@include breakPoint($breakPoint){
									height: auto;
								}
							}
						}


						&-image{
							height: auto;
							flex: 1 1 auto;


							.news_home &{
								@include breakPoint($breakPoint){
									height: 580px;
								}
							}
						}

						&-info{
							padding: 50px 45px;
						}

						&-title{
							margin-bottom: 12px;
							font-size: 26px;


							max-height: 79px;
							overflow: hidden;
							display: -webkit-inline-box;
							-webkit-line-clamp: 2;
							-webkit-box-orient: vertical;
						}

						&-text{
							font-size: 16px;
							max-height: 110px;

							@include breakPoint($breakPoint){
							}
						}

						&-inner{
							background-color: $colorGreen;
							box-shadow: none;
						}
					}
				}
			}
		}


		&_project{
			.card{

				&__item{

					&-inner{
						background-color: #161616;

						.projects_part &{

							@include breakPoint($breakPoint){
								box-shadow: 0 0 0 24px #000;
							}
						}
					}

					&-image{
						height: 380px;
					}



					&-info{
						padding: 0 25px;
						height: 95px;
						font-size: 0;

						&:after{
							content: '';
							display: inline-block;
							vertical-align: middle;
							height: 100%;
						}
					}

					&-title{
						line-height: 1.625;
						font-size: 19px;
						display: inline-block;
						vertical-align: middle;
						max-height: 60px;
						margin: 0;

						overflow: hidden;
						display: -webkit-inline-box;
						-webkit-line-clamp: 2;
						-webkit-box-orient: vertical;
					}
				}
			}



			.page_projects &{
				&:nth-of-type(6n),
				&:nth-of-type(6n - 5){

					@include breakPoint($breakPoint){
						width: 50%;

						.card{
							&__item{
								&-title{
									font-size: 26px;
								}
							}
						}
					}
				}

				&:nth-of-type(6n),
				&:nth-of-type(6n - 3),
				&:nth-of-type(6n - 4){

					@include breakPoint($breakPoint){
						position: relative;
						//top: 150px;
					}
				}

				&:last-child{
					@include breakPoint($breakPoint){
						//margin-bottom: 150px;
					}
				}


			}
		}


		&_equipment{
			.card{

				&__item{

					&-inner{
						background: #000;

						&:after{
							content: '';
							display: block;
							position: absolute;
							top: 0;
							left: 0;
							right: 0;
							bottom: 0;
							pointer-events: none;
							border: 2px solid $colorGreen;
							z-index: 1;
							opacity: 0;
							transition: opacity 0.2s ease;
						}

						&:hover{
							&:after{
								opacity: 1;
							}
						}
					}


					&-tag{
						background: #161616;
					}

					&-image{
						height: 370px;
						box-shadow: inset 0 0 0 1px #1b1b1b;

						.object-fit{
							top: 10%;
							left: 10%;
							width: 80%;
							height: 80%;
							transform: none!important;
							background-size: contain;
							object-fit: contain;
							font-family: 'object-fit: contain;';
						}
					}

					&-info{
						padding: 0 25px;
						height: 95px;
						font-size: 0;
						background-color: #161616;

						&:after{
							content: '';
							display: inline-block;
							vertical-align: middle;
							height: 100%;
						}
					}

					&-title{
						line-height: 1.625;
						font-size: 20px;
						display: inline-block;
						vertical-align: middle;
						max-height: 60px;
						margin: 0;

						overflow: hidden;
						display: -webkit-inline-box;
						-webkit-line-clamp: 2;
						-webkit-box-orient: vertical;
					}
				}
			}


			.page_equipment &{
				&:nth-of-type(6n - 4),
				&:nth-of-type(6n - 5){

					@include breakPoint($breakPoint){
						width: 50%;

						.card{
							&__item{
								&-title{
									font-size: 26px;
									max-height: 62px;
									line-height: 1.2;
								}
							}
						}
					}
				}
			}
		}




		&_brand{
			.card{

				&__item{

					&-inner{
						background: #000;

						&:after{
							content: '';
							display: block;
							position: absolute;
							top: 0;
							left: 0;
							right: 0;
							bottom: 0;
							pointer-events: none;
							border: 2px solid $colorGreen;
							z-index: 1;
							opacity: 0;
							transition: opacity 0.2s ease;
						}

						&:hover{
							&:after{
								opacity: 1;
							}

							.greyscale{
								opacity: 0;
							}

							.hover{
								opacity: 1;
							}
						}
					}


					&-image{
						height: 230px;
						box-shadow: inset 0 0 0 1px #1b1b1b;
						text-align: center;

						&:before{
							content: '';
							display: inline-block;
							vertical-align: middle;
							height: 100%;
						}

						img{
							max-width: 70%;
							max-height: 60%;
							display: inline-block;
							vertical-align: middle;

							&.greyscale{
								opacity: 0.8;
							}
							&.hover{
								position: absolute;
								top: 50%;
								left: 50%;
								transform: translate(-50%, -50%);
								opacity: 0;
							}
						}
					}

				}
			}

			.page_brands &{
				&:nth-of-type(6n),
				&:nth-of-type(6n - 5){

					@include breakPoint($breakPoint){
						width: 50%;

						.card{
							&__item{
								&-image{
									height: 380px;
								}
							}
						}
					}
				}

				&:nth-of-type(6n),
				&:nth-of-type(6n - 3),
				&:nth-of-type(6n - 4){

					@include breakPoint($breakPoint){
						position: relative;
						//top: 150px;
					}
				}

				&:nth-of-type(6n){

					@include breakPoint($breakPoint){
						margin-top: -150px;
					}
				}

				&:nth-of-type(6n - 2){

					@include breakPoint($breakPoint){
						clear: left;
					}
				}

				&:last-child{
					@include breakPoint($breakPoint){
						//margin-bottom: 150px;
					}
				}
			}
		}

	}

	&__more{
		margin-top: 40px;

		.btn{

			font-size: 28px;

			@include breakPoint($breakPoint){
				font-size: 16px;
			}
		}
	}
}