

@font-face {
	font-family: 'Akzidenz';
	//src: url('../../fonts/akzidenz/AkzidenzGroteskPro-BoldEx.eot');
	src: local('Akzidenz-Grotesk Pro Bold Ext'), local('AkzidenzGroteskPro-BoldEx'),
	//url('../../fonts/akzidenz/AkzidenzGroteskPro-BoldEx.eot?#iefix') format('embedded-opentype'),
	url('../../fonts/akzidenz/AkzidenzGroteskPro-BoldEx.woff') format('woff'),
	url('../../fonts/akzidenz/AkzidenzGroteskPro-BoldEx.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Akzidenz';
	//src: url('../../fonts/akzidenz/AkzidenzGroteskPro-BoldExIt.eot');
	src: local('Akzidenz-Grotesk Pro BoldExtIt'), local('AkzidenzGroteskPro-BoldExIt'),
	//url('../../fonts/akzidenz/AkzidenzGroteskPro-BoldExIt.eot?#iefix') format('embedded-opentype'),
	url('../../fonts/akzidenz/AkzidenzGroteskPro-BoldExIt.woff') format('woff'),
	url('../../fonts/akzidenz/AkzidenzGroteskPro-BoldExIt.ttf') format('truetype');
	font-weight: 600;
	font-style: italic;
}




@font-face {
	font-family: 'Montserrat';
	//src: url('../../fonts/montserrat/Montserrat-Light.eot');
	src: local('Montserrat Light'), local('Montserrat-Light'),
	//url('../../fonts/montserrat/Montserrat-Light.eot?#iefix') format('embedded-opentype'),
	url('../../fonts/montserrat/Montserrat-Light.woff') format('woff'),
	url('../../fonts/montserrat/Montserrat-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}


@font-face {
	font-family: 'Montserrat';
	//src: url('../../fonts/montserrat/Montserrat-Regular.eot');
	src: local('Montserrat Regular'), local('Montserrat-Regular'),
	//url('../../fonts/montserrat/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
	url('../../fonts/montserrat/Montserrat-Regular.woff') format('woff'),
	url('../../fonts/montserrat/Montserrat-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}


@font-face {
	font-family: 'Montserrat';
	//src: url('../../fonts/montserrat/Montserrat-Medium.eot');
	src: local('Montserrat Medium'), local('Montserrat-Medium'),
	//url('../../fonts/montserrat/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
	url('../../fonts/montserrat/Montserrat-Medium.woff') format('woff'),
	url('../../fonts/montserrat/Montserrat-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	//src: url('../../fonts/montserrat/Montserrat-Bold.eot');
	src: local('Montserrat Bold'), local('Montserrat-Bold'),
	//url('../../fonts/montserrat/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
	url('../../fonts/montserrat/Montserrat-Bold.woff') format('woff'),
	url('../../fonts/montserrat/Montserrat-Bold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}


@font-face {
	font-family: 'Montserrat';
	//src: url('../../fonts/montserrat/Montserrat-SemiBold.eot');
	src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
	//url('../../fonts/montserrat/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
	url('../../fonts/montserrat/Montserrat-SemiBold.woff') format('woff'),
	url('../../fonts/montserrat/Montserrat-SemiBold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}


@font-face {
	font-family: 'Montserrat';
	//src: url('../../fonts/montserrat/Montserrat-ExtraBold.eot');
	src: local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'),
	//url('../../fonts/montserrat/Montserrat-ExtraBold.eot?#iefix') format('embedded-opentype'),
	url('../../fonts/montserrat/Montserrat-ExtraBold.woff') format('woff'),
	url('../../fonts/montserrat/Montserrat-ExtraBold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}


@font-face {
	font-family: 'Montserrat';
	src: local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'),
	url('../../fonts/montserrat/Montserrat-ExtraBold.woff') format('woff'),
	url('../../fonts/montserrat/Montserrat-ExtraBold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}



@font-face {
	font-family: "Aeroport";
	src:
		url("../../fonts/aeroport/AEROPORT-REGULAR.ttf") format("truetype"), /* Safari, Android, iOS */
		url("../../fonts/aeroport/AEROPORT-REGULAR.woff") format("woff"), /* Modern Browsers */
		url("../../fonts/aeroport/AEROPORT-REGULAR.woff2") format("woff2"); /* Modern Browsers */
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: "Favourite";
	src:
		url("../../fonts/favourit/FAVORITTRIALSTD-LIGHTXT.ttf") format("truetype"), /* Safari, Android, iOS */
		url("../../fonts/favourit/FAVORITTRIALSTD-LIGHTXT.woff") format("woff"), /* Modern Browsers */
		url("../../fonts/favourit/FAVORITTRIALSTD-LIGHTXT.woff2") format("woff2"); /* Modern Browsers */
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: "Favourite";
	src:
		url("../../fonts/favourit/FAVORITTRIALSTD-REGXT.ttf") format("truetype"), /* Safari, Android, iOS */
		url("../../fonts/favourit/FAVORITTRIALSTD-REGXT.woff") format("woff"), /* Modern Browsers */
		url("../../fonts/favourit/FAVORITTRIALSTD-REGXT.woff2") format("woff2"); /* Modern Browsers */
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Favourite";
	src:
		url("../../fonts/favourit/FAVORITTRIALSTD-MEDXT.ttf") format("truetype"), /* Safari, Android, iOS */
		url("../../fonts/favourit/FAVORITTRIALSTD-MEDXT.woff") format("woff"), /* Modern Browsers */
		url("../../fonts/favourit/FAVORITTRIALSTD-MEDXT.woff2") format("woff2"); /* Modern Browsers */
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: "Favourite";
	src:
		url("../../fonts/favourit/FAVORITTRIALSTD-BOOKXT.ttf") format("truetype"), /* Safari, Android, iOS */
		url("../../fonts/favourit/FAVORITTRIALSTD-BOOKXT.woff") format("woff"), /* Modern Browsers */
		url("../../fonts/favourit/FAVORITTRIALSTD-BOOKXT.woff2") format("woff2"); /* Modern Browsers */
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: "Favourite";
	src:
		url("../../fonts/favourit/FAVORITTRIALSTD-BOLDXT.ttf") format("truetype"), /* Safari, Android, iOS */
		url("../../fonts/favourit/FAVORITTRIALSTD-BOLDXT.woff") format("woff"), /* Modern Browsers */
		url("../../fonts/favourit/FAVORITTRIALSTD-BOLDXT.woff2") format("woff2"); /* Modern Browsers */
	font-weight: 700;
	font-style: normal;
}

