$popupZIndex: 100;
$popupOverlayColor: rgba(#000, 0.66) !default;

.popup {

	//display: none;
	pointer-events: none;
	opacity: 0;

	&.is-open {
		pointer-events: all;
	}

	&.is-view {
		opacity: 1;
	}

	&.is-busy{
		pointer-events: none!important;
	}

	&__overlay {
		background-color: $popupOverlayColor;
		display: block;
		height: 100%;
		left: 0;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: $popupZIndex;
		transition: opacity 0.5s ease;
		opacity: 0;

		.popup.is-open &{
			opacity: 1;
		}
	}

	&__inner {
		height: 100%;
		left: 0;
		overflow: auto;
		overflow-x: hidden;
		overflow-y: auto;
		position: fixed;
		text-align: center;
		top: 0;
		width: 100%;
		z-index: $popupZIndex;
		display: block;
		background: transparent;
		font-size: 0;

		//transition: left 0.6s ease;

		.popup.is-open &{
			//left: 0;
		}

		&:before {
			content: '';
			display: inline-block;
			height: 100%;
			vertical-align: middle;
		}

	}

	&__layout {
		box-sizing: border-box;
		display: inline-block;
		margin: 0 auto;
		padding: 0;
		position: relative;
		vertical-align: middle;
		width: calc(100% - 100px);
		max-width: 974px;
		min-height: 100px;
		text-align: left;
		font-size: 16px;
		border-radius: 8px;
		color: #fff;
		left: 100%;
	}

	&__bg{
		position: absolute;
		top: 0;
		left: -50px;
		width: calc(100% + 100px);
		height: 100%;
		pointer-events: none;

		path{
			fill: #000;
			stroke: $colorGreen;
			stroke-width: 4px;
		}
	}

	&__close {
		width: 28px;
		height: 28px;
		position: absolute;
		cursor: pointer;
		top: 35px;
		right: 35px;
		z-index: 1;

		&:before,
		&:after {
			content: '';
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			background: #fff;
			height: 4px;
			width: 30px;
			margin-top: -2px;
			margin-left: -15px;
			border-radius: 10px;

		}
		&:before {
			transform: rotate(45deg);
		}
		&:after {
			transform: rotate(-45deg);
		}

		&:hover {

		}
	}

	&__content{
		position: relative;
		padding: 75px 125px 55px;
	}

	&__title{
		font-size: 30px;
		margin-bottom: 40px;
		text-align: center;

		@include breakPoint($breakPoint){
			font-size: 37px;
		}
	}

	&__text{
		font-size: 24px;

		p{
			margin: 15px 0;
		}

		@include breakPoint($breakPoint){
			font-size: 16px;
		}
	}

	&__btn{
		margin-top: 50px;
	}

	&_info{
		.popup__content{
			padding: 100px 60px;
			text-align: center;


			@include breakPoint($breakPoint){
				padding: 100px 98px;
			}
		}
	}



	&_feedback{
		.form{
			&__field{
				margin-bottom: 20px;
			}


			&__input{
				textarea{
					height: 100px;
				}
			}
		}
	}
}
