$fontTitle: 'Favourite', sans-serif;
$fontMain: 'Aeroport', sans-serif;
$breakPoint: 1060px;


$colorGreen: #2e5542;	//main
$colorGreenHover: #376650;	//main
$colorGreenLight: #55937a;	//main
$colorBlue: #42b3cc;	//flot
$colorYellow: #f5d20f;	//retail
$colorViolet: #735586;	//hotel
$colorBrown: #d5a25a;	//bakery
$colorRed: #8b0e3d;		//kitchen
$colorBlack: #000;
//retail
//kitchen
//flot
//hotel
//bakery

.c{
	&-yellow{
		color: $colorYellow;
	}
	&-green{
		color: $colorGreen;
	}
	&-blue{
		color: $colorBlue;
	}
	&-red{
		color: $colorRed;
	}
}
