
.table{
	overflow: auto;

	table{

		width: 100%;
		min-height: 100px;
		//border-collapse: separate;
		//border-spacing:	5px;
	}

	thead{}

	tbody{}

	tr{

		&:hover{
			td{
				background: rgba($colorGreyLight, 0.35);
			}
		}

		&:last-child{
			td{
				border-bottom: 0;
			}
		}
	}

	th{
		text-align: left;
		padding: 5px;
		border-bottom: 1px solid $colorGreyLight;
		font-weight: normal;
		background: $colorGreyLight;
	}

	td{
		padding: 5px;
		border-bottom: 1px solid $colorGreyLight;
		background: transparent;
		transition: background-color 0.3s ease;
	}

	.sqz{
		width: 10px;
	}

	.nwrp{
		white-space: nowrap;
	}

	.label{
		margin: 2px 5px 2px 0;
	}

	a {
		text-decoration: underline;
		color: $colorBlue;

		&:hover{

			text-decoration: none;
		}
	}
}



.case{
	margin: 0 -10px;
	font-size: 0;

	&__item{
		display: inline-block;
		width: 100%;
		vertical-align: top;
		padding: 0 10px 10px;
		box-sizing: border-box;
	}

	&__title{
		margin-bottom: 20px;
		font-size: 20px;
		font-weight: bold;
	}

	&__menu{
		display: inline-block;
		width: 100%;
		vertical-align: top;
		padding: 0 5px;
		box-sizing: border-box;

		.btn{
			margin: 0 5px 10px;
		}
	}


	&__inner{
		background: #fff;
		border: 1px solid $colorGreyLight;
		font-size: 14px;
		border-radius: 3px;
		padding: 10px;
	}
}