$inputHeight: 38px;
$inputBorderRadius: 2px;
$inputBorderColor: $colorGreyLight;
$inputBorderWidth: 1px;
$inputPaddingAside: 20px;
$inputFontSize: 13px;




.form{
	font-size: 0;

	&__title{
		font-size: 13px;
		color: $colorGrey;
		margin-bottom: 11px;
	}


	&__field{
		margin-bottom: 25px;
		font-size: $inputFontSize;
	}

	&__input{
		position: relative;

		select{
			opacity: 0;
			position: absolute;
			margin: 0;
			padding: 0;
			pointer-events: none;
		}

		select + label,
		input,
		textarea{
			box-sizing: border-box;
			border: $inputBorderWidth solid $inputBorderColor;
			width: 100%;
			font-size: $inputFontSize;
			display: block;
			color: $colorBlack;
			background: #fff;
			transition: all 0.3s ease;
			position: relative;

			.is-filled &{

			}
			.is-focused &{
				border-color: $colorBlue;
				z-index: 1;
			}
			.is-error &{
				border-color: $colorRed;
			}
		}

		select + label,
		input{
			height: $inputHeight;
			line-height: $inputHeight - (2 * $inputBorderWidth);
			border-radius: $inputBorderRadius;
			padding: 0 $inputPaddingAside;

			&[type=checkbox],
			&[type=radio]{
				opacity: 0;
				position: absolute;
				margin: 0;
				padding: 0;
				pointer-events: none;


				& + label{
					display: block;
					position: relative;
					padding: 2px 0 3px 30px;
					margin-bottom: 5px;

					&:before{
						content: '';
						position: absolute;
						top: 0;
						left: 0;
						width: 20px;
						height: 20px;
						box-sizing: border-box;
						cursor: pointer;
						border: 1px solid $inputBorderColor;
						transition: all .3s ease;
						background: #fff no-repeat 50% 50%;
						background-size: contain;
					}

					a{
						text-decoration: underline;

						&:hover{
							text-decoration: none;
						}
					}
				}
			}


			&[type=checkbox]{


				& + label{

					&:before{
						border-radius: 2px;
					}

				}

				&:checked{
					& + label{
						&:before{
							background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 38 38'%3E%3Cpath fill='%233867D6' d='M31,13.1L14.5,28.6L7,21.1l3.5-3.5l4.1,4.1l13-12.2L31,13.1z'/%3E%3C/svg%3E%0A");
						}
					}
				}
			}

			&[type=radio]{

				& + label{
					&:before{
						border-radius: 50%;
					}
				}

				&:checked{
					& + label{
						&:before{
							background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' version='1.1' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle fill='%233867D6' cx='50' cy='50' r='25'/%3E%3C/svg%3E");
						}
					}
				}
			}

			&[type=submit]{

				cursor: pointer;
				background: $colorBlue;
				color: #fff;
				border-color: $colorBlue;
				width: auto;
				margin: 0 auto;

				&:active{
					box-shadow: inset 0 3px 5px rgba(#000, 0.5);
					line-height: 40px;
				}
			}
		}

		select + label{
			position: relative;
			padding-right: 35px;

			&:before,
			&:after{
				content: '';
				width: 6px;
				height: 2px;
				background: $inputBorderColor;
				position: absolute;
				top: 50%;
				right: 15px;
				border-radius: 10px;
				transition: all .3s ease;
			}

			&:before{
				transform: rotate(45deg);
				margin-right: 1px;

				.is-focused &{
					transform: rotate(-45deg);
				}
			}

			&:after{
				transform: rotate(-45deg);
				margin-right: -2px;

				.is-focused &{
					transform: rotate(45deg);
				}
			}

			.form__field_multiple &{
				padding: (($inputHeight - (2 * $inputBorderWidth) - $inputFontSize ) / 2) $inputPaddingAside;
				line-height: 1;
				height: auto;
				min-height: $inputHeight;
			}
		}

		textarea{
			border-radius: $inputBorderRadius;
			padding: (($inputHeight - (2 * $inputBorderWidth) - $inputFontSize ) / 2) $inputPaddingAside;
			line-height: 1.5;
			height: 100px;
		}

	}

	&__editor{
		box-sizing: border-box;
		border: $inputBorderWidth solid $inputBorderColor;
		width: 100%;
		font-size: $inputFontSize;
		color: $colorBlack;
		background: #fff;
		transition: all 0.3s ease;
		position: relative;
		border-radius: $inputBorderRadius;

		.is-filled &{

		}
		.is-focused &{
			border-color: $colorBlue;
			z-index: 1;
		}
		.is-error &{
			border-color: $colorRed;
		}


		&-inner{
			padding: (($inputHeight - (2 * $inputBorderWidth) - $inputFontSize ) / 2) $inputPaddingAside;
			line-height: 1.5;
			box-sizing: border-box;
			min-height: 150px;

			p{
				margin-bottom: 10px;
			}

			a{
				text-decoration: underline;
			}
		}


		&-btn{
			width: 30px;
			height: 30px;
			background: $colorGrey;
			margin-bottom: 1px;
			color: #fff;
			border-radius: 3px;
			line-height: 30px;
			text-align: center;
			font-weight: bold;
			font-size: 20px;
			cursor: pointer;
		}
	}

	&__placeholder{
		position: absolute;
		pointer-events: none;
		left: $inputPaddingAside + $inputBorderWidth - 5px;
		//top: (($inputHeight + (2 * $inputBorderWidth)) / 2);
		top: 0;
		line-height: $inputHeight - (2 * $inputBorderWidth);
		font-size: $inputFontSize;
		transition: all .3s ease;
		color: $colorGrey;
		z-index: 1;

		span{
			background: #fff;
			padding: 0 5px;
		}


		.is-filled &{
			//opacity: 0;
			left: 8px;
			top: -20px;
			font-size: 10px;
		}
		.is-focused &{
			top: -20px;
			left: 8px;
			font-size: 10px;
		}
		.is-error &{

		}
	}


	&__dropdown{
		position: absolute;
		top: calc(100% + 5px);
		left: 0;
		right: 0;
		background: #fff;
		border-radius: 3px;
		box-shadow: 0 0 10px  rgba(0,0,0,0.3);
		max-height: 200px;
		overflow: auto;
		z-index: 2;

		&_top{
			top: auto;
			bottom: calc(100% + 5px);
		}

		&-list{
			padding: 10px 0;
		}
		&-item{
			cursor: pointer;
			padding: 10px 15px;
			color: $colorGrey;

			&:hover{
				background: #E5F6FF;
			}

			&.is-active{
				color: $colorBlack;

				.form__field_select.form__field_multiple &{
					display: none;
				}
			}
		}
	}


	&__hint{
		font-size: 11px;
		color: $colorGreyText;
		font-style: italic;
		margin-top: 6px;
	}


	&__multi{
		margin: -5px 0 -15px;
		font-size: 0;

		&__item{
			display: inline-block;
			background: $colorGrey;
			margin: 0 10px 10px 0;
			border-radius: 3px;
			color: #fff;
		}

		&__text{
			display: inline-block;
			vertical-align: middle;
			white-space: nowrap;
			padding: 5px 10px;
			font-size: $inputFontSize;
		}
		&__remove{
			vertical-align: middle;
			display: inline-block;
			height: 23px;
			width: 23px;
			border-left: 1px solid #fff;
			cursor: pointer;
			border-radius: 0 3px 3px 0;
			position: relative;

			&:hover{
				background: $inputBorderColor;
			}

			&:before,
			&:after{
				content: '';
				display: inline-block;
				position: absolute;
				top: 50%;
				left: 50%;
				width: 10px;
				height: 2px;
				background: #fff;
				margin-top: -1px;
				margin-left: -5px;
			}

			&:before{
				transform: rotate(45deg);
			}

			&:after{
				transform: rotate(-45deg);
			}
		}
	}


	&__message{

		font-size: 11px;
		margin-top: 5px;
		color: $colorGrey;

		.is-error &{
			color: $colorRed;
		}
	}




	&__images{

		box-sizing: border-box;
		border: $inputBorderWidth solid $inputBorderColor;
		width: 100%;
		font-size: $inputFontSize;
		display: block;
		color: $colorGrey;
		background: #fff;
		transition: all 0.3s ease;
		position: relative;
		border-radius: $inputBorderRadius;
		padding: (($inputHeight - (2 * $inputBorderWidth) - $inputFontSize ) / 2) $inputPaddingAside;

		.is-error &{
			border-color: $colorRed;
		}

		&-list{
			font-size: 0;
		}

		&-item{
			margin: 0 10px 10px 0;
			height: 150px;
			background: $colorGrey no-repeat 50% 50%;
			background-size: contain;
			display: inline-block;
			width: 150px;
			border-radius: 3px;
			position: relative;

			&:hover{
				.form__images-move,
				.form__images-remove{
					opacity: 1;
				}
			}
		}

		&-move{
			height: 23px;
			width: 23px;
			cursor: pointer;
			border-radius: 3px;
			position: absolute;
			background: $colorGreen;
			bottom: 10px;
			transition: opacity 0.3s ease;
			opacity: 0;
			box-shadow: 0 1px 1px rgba(0,0,0,0.3);
			text-align: center;
			color: #fff;

			i.ico{
				line-height: 23px;
				height: 23px !important;
				width: 23px !important;
			}

			&_left{
				left: 10px;
			}

			&_right{
				right: 10px;
			}
		}

		&-remove{
			position: absolute;
			background: $colorRed;
			display: inline-block;
			height: 23px;
			width: 23px;
			cursor: pointer;
			border-radius: 3px;
			top: 10px;
			right: 10px;
			opacity: 0;
			transition: opacity 0.3s ease;
			box-shadow: 0 1px 1px rgba(0,0,0,0.3);

			&:before,
			&:after{
				content: '';
				display: inline-block;
				position: absolute;
				top: 50%;
				left: 50%;
				width: 10px;
				height: 2px;
				background: #fff;
				margin-top: -1px;
				margin-left: -5px;
			}

			&:before{
				transform: rotate(45deg);
			}

			&:after{
				transform: rotate(-45deg);
			}
		}

		& ~ input{
			position: absolute;
			pointer-events: none;
			opacity: 0;
		}
	}
}





