html {
	height: 100%;
	background: $backgroundBody;
}

body {
	font-family: 'roboto', sans-serif;
	font-size: 14px;
	width: 100%;
	line-height: 1.2;
	color: $colorBlack;
	height: 100%;
	background: $backgroundBody;

	&.is-popup{
		overflow: hidden;
	}
}

a {

	&:hover{

	}
}

h1, h2, h3, h4{
	font: inherit;
}

.btn{

	transition: background-color .3s ease;
	color: #fff;
	display: inline-block;
	vertical-align: middle;
	font-size: 13px;
	border-radius: 3px;
	cursor: pointer;
	user-select: none;
	padding: 5px 10px;
	text-align: center;
	box-sizing: border-box;

	* {
		color: #fff;
		text-decoration: none;
	}

	&_red{
		background: $colorRed;

		&:hover{
			background: $colorRedLight;
		}
	}

	&_blue{
		background: $colorBlue;

		&:hover{
			background: $colorBlueLight;
		}
	}

	&_green{
		background: $colorGreen;

		&:hover{
			background: $colorGreenLight;
		}
	}

	&_yellow{
		background: $colorYellow;

		&:hover{
			background: $colorYellowLight;
		}
	}

	&_violet{
		background: $colorViolet;

		&:hover{
			background: $colorVioletLight;
		}
	}


	&_black{
		background: $colorBlack;
	}


	&:active{
	}

	&.loading{
		color: transparent;
		background: url("../img/svg/loading.svg") no-repeat 50% 50% ;
		background-size: auto 80%;
	}


	.ico{
		margin: -9px;
	}
}


.label{
	transition: background-color .3s ease;
	color: #fff;
	display: inline-block;
	vertical-align: middle;
	font-size: 10px;
	border-radius: 3px;
	cursor: default;
	user-select: none;
	padding: 5px 10px 5px;
	text-align: center;
	box-sizing: border-box;
	white-space: nowrap;

	&_red{
		background: $colorRed;
	}

	&_blue{
		background: $colorBlue;
	}

	&_green{
		background: $colorGreen;
	}

	&_yellow{
		background: $colorYellow;
	}

	&_orange{
		background: $colorOrange;
	}

	&_violet{
		background: $colorViolet;
	}

	&_grey{
		background: $colorGrey;
	}

	&_black{
		background: $colorBlack;
	}
}


.c{
	&-red{
		color: $colorRed;
	}

	&-blue{
		color: $colorBlue;
	}

	&-green{
		color: $colorGreen;
	}

	&-orange{

	}
}


.nobr{
	white-space: nowrap;
}

.is-hidden{
	display: none!important;
}






// custom transitions
.v-enter-active, .v-leave-active {
	transition: all .3s ease;

	.popup__layout{
		transition: all .3s ease;
	}
}
.v-enter, .v-leave-to {
	opacity: 0;
	//filter: blur(3px);

	.popup__layout{
		transform: translateY(50%);
		//@include transform(scale(0.5));
	}
}


// name = "tr-fade"


*[class*="tr-fade-"]{
	transition: opacity .3s ease;
}

.tr-fade{
	// появление
	&-enter{
		&-active{
			// до анимации
			opacity: 0;
			.aside__accounts-layout{
				left: -100%;
			}
		}

		&-to{
			// после анимации
			opacity: 1;
			.aside__accounts-layout{
				left: 0;
			}
		}
	}

	// удаление
	&-leave{
		&-active{
			// до анимации
			opacity: 1;
			.aside__accounts-layout{
				left: 0;
			}
		}

		&-to{
			// после анимации
			opacity: 0;
			.aside__accounts-layout{
				left: -100%;
			}
		}
	}
}
// name = "tr_slide"





// name = "zoom"
.zoom-enter-active, .zoom-leave-active {
	transition: all 0.3s ease;
	transform: scale(1);
	opacity: 1;
}
.zoom-enter, .zoom-leave-to {
	opacity: 0;
	transform: scale(0.5);
}



/*

// out
.v-leave{
	@include transform(scale(1));
	opacity: 1;
	filter: blur(0);
}
.v-leave-active{
	@include transition(all 0.5s ease);
}
.v-leave-to{
	@include transform(scale(2));
	opacity: 0;
	filter: blur(10px);
}

//in
.v-enter{
	@include transform(scale(0.5));
	opacity: 0;
	filter: blur(10px);
}
.v-enter-active{
	@include transition(all 0.5s ease);
}
.v-enter-to{
	@include transform(scale(1));
	filter: blur(0);
	opacity: 1;
}
*/




.vue-notification {
	padding: 10px;
	margin: 0 5px 5px;

	font-size: 12px;

	color: #ffffff;
	background: #44A4FC;
	border-left: 5px solid #187FE7;

	&.warn {
		background: #ffb648;
		border-left-color: #f48a06;
	}

	&.error {
		background: #E54D42;
		border-left-color: #B82E24;
	}

	&.success {
		background: #68CD86;
		border-left-color: #42A85F;
	}
}

