.wrapper{
	height: 100%;

	&:before{
		content: '';
		display: block;
		position: fixed;
		background: #fff;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 100;
		opacity: 0;
		transition: opacity 0.2s ease;
		pointer-events: none;
	}

	&:after{
		content: '';
		display: block;
		width: 100px;
		z-index: 101;
		height: 100px;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		background: url("../img/svg/loading.svg") no-repeat 50% 50%;
		background-size: contain;
		pointer-events: none;
		opacity: 0;
	}

	&.is-loading{

		&:before{
			opacity: 0.5;
			pointer-events: all;
		}
		&:after{
			opacity: 1;
		}
	}
}
.dashboard{
	height: 100%;
	box-sizing: border-box;
	padding: 10px;


	.ico{
		font-size: 16px;
		display: inline-block;
		height: 30px;
		width: 30px;
		line-height: 30px;
		text-align: center;
		position: relative;

		&__counter{
			position: absolute;
			color: #fff;
			background: $colorRed;
			font-style: normal;
			font-size: 10px;
			height: 15px;
			line-height: 15px;
			padding: 0 5px;
			border-radius: 10px;
			text-align: center;
			top: 0;
			right: -10px;
		}
	}


	&__logo{

	}
	&__aside{
		display: flex;
		flex-direction: column;
		position: fixed;
		top: 10px;
		bottom: 10px;
		width: 240px;
		transition: all 0.3s ease;
		left: -250px;
		z-index: 10;
		overflow: hidden;
		box-shadow: 0 0 10px rgba(0,0,0,0.5);
		background: #3c4c5c;
		color: #fff;
		border-radius: 3px;


		.is-nav-show &{
			left: 10px;
		}

		@include breakPoint($breakPoint){
			left: 10px;
			box-shadow: none;

			.is-nav-compact &{
				left: 10px;
				width: 50px;
			}
		}
	}

	&__overlay{
		background: rgba(#fff, 0.85);
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		opacity: 0;
		pointer-events: none;
		transition: opacity 0.3s ease;
		z-index: 10;

		@include breakPoint(0, $breakPoint){

			.is-nav-show &{
				opacity: 1;
				pointer-events: all;
			}
		}
	}

	&__page{
		display: flex;
		flex-direction: column;
		min-height: 100%;
		margin-left: 0;
		transition: margin-left 0.3s ease;

		.is-nav-compact &{

			@include breakPoint($breakPoint){
				margin-left: 60px;
			}
		}

		.is-nav-show &{

		}

		@include breakPoint($breakPoint){
			margin-left: 250px;
		}
	}

	&__menu{
		font-size: 12px;


		.ico{
			position: absolute;
			top: 7px;
			left: 7px;
		}

		&-arrow{
			position: absolute;
			top: 50%;
			right: 10px;
			width: 15px;
			height: 15px;
			margin-top: -7px;
			font-size: 10px;

			transition: all 0.3s ease;
			transform: rotate(0);

			.dashboard__menu-group.is-open &{
				transform: rotate(180deg);
			}

			.ico{
				width: 100%;
				height: 100%;
				font-size: 14px;
				line-height: 1;
				top: -3px;
				left: 0;
			}
		}

		&-item{
			display: block;
			position: relative;
			border-bottom: 1px solid rgba(#000,0.3);
			border-left: 4px solid transparent;
			transition: all 0.3s ease;

			&.is-active{
				border-left-color: #00aced;
			}
		}

		&-link{
			display: block;
			position: relative;
			box-sizing: border-box;
			padding: 15px 45px 15px 46px;
			cursor: pointer;
			transition: all 0.3s ease;

			&:hover{
				background-color: #1F364C;
			}

			&.is-active{
				background-color: #1F364C;
			}
		}
	}


	&__submenu{
		display: none;

		.is-active &{
			display: block;
		}

		.is-nav-compact &{
			display: none;
		}

		&-item{
			display: block;
			position: relative;
		}

		&-link{
			display: block;
			position: relative;
			box-sizing: border-box;
			padding: 15px 45px 15px 46px;
			cursor: pointer;
			transition: all 0.3s ease;


			&:hover{
				background-color: #1F364C;
			}

			&.is-active{
				background-color: #1F364C;
			}
		}
	}


	&__header{
		height: 50px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		box-sizing: border-box;
		position: relative;
		color: #fff;
		background: #64788b;

		.dashboard__page &{
			border-radius: 3px;
		}

		&-left{
			display: flex;
			align-items: center;
			height: 100%;
		}

		&-title{


			@include breakPoint($breakPoint){
				padding-left: 16px;
			}
		}

		&-info{
			display: flex;
			align-items: center;
			height: 100%;
		}

		&-btn{
			width: 60px;
			border-left: 1px solid $backgroundBody;
			text-align: center;
			height: 100%;
			display: block;
			margin-left: -1px;
			cursor: pointer;

			&:before{
				content: '';
				display: inline-block;
				vertical-align: middle;
				height: 100%;
			}

			.ico{
				//margin-left: 15px;
				vertical-align: middle;
			}
		}

		&-handler{

			@include breakPoint($breakPoint){
				display: none;
			}
		}

	}
	&__content{
		flex: 1 0 auto;
		box-sizing: border-box;
		padding: 10px 0;
		position: relative;

		.dashboard__aside &{
			padding: 0;
			height: calc(100vh - 120px);
		}
	}
	&__footer{
		flex-shrink: 0;
		height: 50px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		box-sizing: border-box;
		padding: 10px 16px;
		position: relative;


		&-out{
			opacity: 1;
			display: block;
			cursor: pointer;
			transition: opacity 0.3s ease;

			.is-nav-compact &{
				opacity: 0;
				pointer-events: none;
			}
		}

		.ico{
			transform: rotate(0);
			transition: transform 0.3s ease;
			position: absolute;
			right: 9px;
			top: 10px;
			cursor: pointer;

			@include breakPoint($breakPoint){
				.is-nav-compact &{
					transform: rotate(180deg);
				}
			}
		}


		&-links{
			font-size: 11px;
			a{
				display: inline-block;

				&:after{
					content: '|';
					margin: 0 10px;
				}

				&:last-child{
					&:after{
						display: none;
					}
				}
			}
		}


		&-site{
			font-size: 11px;
		}
	}
}
