$popupZIndex: 1000;
$popupOverlayColor: rgba(255,255,255,0.5);

.popup {
	display: block;
	position: fixed;
	height: 100%;
	left: 0;
	top: 0;
	width: 100%;
	z-index: $popupZIndex;
	text-align: center;
	background: transparent;
	overflow-y: auto;
	font-size: 0;

	&:before {
		content: '';
		display: inline-block;
		height: 100%;
		vertical-align: middle;
	}

	&__overlay{
		display: block;
		position: fixed;
		height: 100%;
		left: 0;
		top: 0;
		width: 100%;
		background: $popupOverlayColor;
	}

	&__layout {
		background-color: white;
		box-sizing: border-box;
		display: inline-block;
		margin: 15px auto;
		padding: 0;
		position: relative;
		vertical-align: middle;
		max-width: calc(100% - 40px);
		width: 560px;
		min-height: 100px;
		text-align: left;
		font-size: 15px;
		box-shadow: 0 2px 50px -15px rgba(#000, 0.35) ;
	}

	&__close {
		color: $colorBlack;
		@include closeBtn(20px, 4px);
		z-index: 1;
	}

	&__content{
		padding: 20px;
	}

	&__title{
		font-size: 28px;
		font-weight: 600;
		margin-bottom: 25px;
		text-align: center;
	}

	&__text{

	}

	&__btn{
		text-align: center;
		margin-top: 20px;

		.btn{
			margin: 5px;
		}
	}

	&__form{

	}

}
