
$breakPoint: 1000px;
$breakPoint2: 1600px;


$asideWidthCompact: 56px;
$asideWidth: 196px;

$headHeight: 70px;





$backgroundBody: #F1F1F1;

$colorAside: #1F364C;

$colorAsideBlue: #708BA5;

$colorBlack: #1E1E1E;


$colorNavy: #2d98da;
$colorNavyLight: #45aaf2;

$colorBlue: #3867d6;
$colorBlueLight: #4b7bec;

$colorGreen: #20bf6b;
$colorGreenLight: #26de81;

$colorYellow: #f7b731;
$colorYellowLight: #fed330;

$colorOrange: #fa8231;
$colorOrangeLight: #fd9644;

$colorRed: #eb3b5a;
$colorRedLight: #fc5c65;

$colorViolet: #8854d0;
$colorVioletLight: #a55eea;

$colorGreyLight: #d1d8e0;
$colorGrey: #a5b1c2;
$colorGreyDark: #778ca3;
$colorGreyDeep: #4b6584;

$colorGreyText: #fff;

$fa-font-path: '../fonts/awesome';
$fa-css-prefix: ico;


$fontTitle: 'Vollkorn', sans-serif;


@mixin closeBtn($width: 30px, $height: 4px){
	position: absolute;
	width: $width;
	height: $width;
	//background: #f00 no-repeat 0 0;
	//background-size: cover;
	cursor: pointer;
	top: 22px;
	right: 22px;

	&:before,
	&:after{
		content: '';
		width: $width;
		height: $height;
		margin-top: -($height/2);
		margin-left: -($width/2);
		position: absolute;
		top: 50%;
		left: 50%;
		background: currentColor;
		border-radius: #{$height};
	}

	&:before{
		transform: rotate(45deg);
	}

	&:after{
		transform: rotate(135deg);
	}



	&:hover{
		background-position: 100% 0;
	}
}