
@import "scss/var";

@import "scss/mixins";

@import "scss/fonts";


//@import "scss/drugndrop";

$scrollbarWidth: 5px;
$scrollbarLineColor: none;
$scrollbarLineWidth: 5px;
$scrollbarDragColor: $colorGreen;
$scrollbarDragWidth: 5px;
$scrollbarMargin: 5px;
$scrollbarBorderRadius: 0;
@import "modules/scrollbar";

@import "scss/print";

@import "scss/normalize";

@import "modules/lightgallery";
.lg-prev.lg-icon.disabled,
.lg-next.lg-icon.disabled {
	opacity: 0.15;
	pointer-events: all
}

@import "../../../node_modules/slick-carousel/slick/slick.scss";

@import "scss/popup";

@import "scss/form";

@import "modules/selectize";

@import "scss/global";

@import "scss/card";

@import "scss/main";

@import "scss/animation";