<template lang="pug">
	.case
		.case__item(v-if="$route.meta.create || (model && model.id)")
			.case__inner
				form(action='/', method='post', @submit.prevent="onSubmit", novalidate)
					FormField(v-for='(field, index) in fields', :field='field', :model='model', :key='index', :ref="field.name")

		.case__item(v-else)
			.case__inner Бренд не создан или удален

</template>

<script>

	import FormField from './component/formField.vue'
	import slugify from 'slugify'

	export default {

		data () {
			let tags = _.map(this.$store.getters.getTags('brands'), tag=>{
					return {
						value: tag.id,
						label: tag.name
					}
				})
			;


			return {

				model: {
					name: '',
					slug: '',
					description: '',
					history: '',
					tags: [],
					image: '',
					image_gs: '',
					sequence: ''
				},

				fields: [

					{
						type: 'text',
						name: 'name',
						placeholder: 'Название бренда',
						required: true,
						onKeyup: (val)=>{
							try {
							this.model.slug = slugify(val, {
								replacement: '_',
								lower: true
							}).replace(/[.%~]/img, '_').match(/[a-z0-9_\-]/img).join('');
							} catch (e) {}
							this.$refs.slug[0].error = false;
							this.$refs.slug[0].message = false;
						},
						onChange: ()=>{
							console.info('change slug', this.model.slug);

							this.$api.checkSlug({section: 'brands', slug: this.model.slug},
								(res)=>{
									if ( res.data.status === false){
										this.$refs.slug[0].error = true;
										this.$refs.slug[0].message = res.data.message;
									}
								}
							);
						}
					},

					{
						type: 'text',
						name: 'slug',
						placeholder: 'Адрес (url) страницы',
						required: true,
					},

					{
						name: 'description',
						placeholder: 'Краткое описание',
						type: 'editor',
						items: [
							{
								name: 'title',
								tooltip: 'заголовок',
								label: 'Заголовок',
								tag: 'div',
								class: 'article__brand-title'
							},
							{
								name: 'text',
								tooltip: 'Текст',
								label: 'Текст',
								tag: 'p',
								class: ''
							}
						],
						required: true,
					},

					{
						type: 'editorMCE',
						name: 'history',
						placeholder: 'История бренда',
						required: true
					},

					{
						type: 'select',
						name: 'tags',
						multiple: true,
						placeholder: 'Теги',
						items: tags
					},

					{
						type: 'image',
						name: 'image',
						maxWidth: 600,
						title: 'Цветной логотип',
						required: true
					},

					{
						type: 'image',
						name: 'image_gs',
						maxWidth: 600,
						title: 'Черно-белый логотип',
						required: true
					},

					{
						type: 'text',
						name: 'sequence',
						mask: '9{1,3}',
						placeholder: 'Приоритет (1 - самый важный)',
					},

					{
						type: 'submit',
						value: this.$route.meta.create ? 'Создать бренд' : 'Редактировать бренд'
					}

				]
			}
		},

		mounted(){
			if ( this.$route.params && this.$route.params.id){

				console.info('*//**');
				console.info(this.$route.params);

				this.$api.getBrand({id: this.$route.params.id},
					(res)=>{
						this.model = res.data.data;
					}
				);
			}
		},

		methods: {
			onSubmit(){

				let valid = true;

				for (let i = 0; i < this.fields.length; i++){
					if ( this.fields[i].name ) {
						if (this.$refs[this.fields[i].name][0].validate().errors.length){
							valid = false;
						}
					}
				}

				if ( valid ){

					let method = this.$route.meta.create ? 'addBrand' : 'updateBrand' ;

					this.$api[method](this.model,
						(res)=>{
							if (res.data.status){
								this.$router.push('/brands');
								this.$store.dispatch('loadBrands');
							}
						}
					);

				}

			}
		},

		components:{
			FormField
		}
	}
</script>


<style lang="scss">
	.article__brand-title{
		font-size: 1.1em;
		font-weight: 600;
		margin-bottom: 10px;
	}
</style>