<template lang="pug">
	.case
		.case__item
			router-link(to="/brands/add").btn.btn_green Добавить бренд
		.case__item
			.case__inner(v-if="$store.state.brands.length")

				.table
					table
						thead
							tr
								th Название
								th Тег
								th(colspan='3').sqz Управление
						//-vue-scroll
						tbody
							tr(v-for='(item, index) in $store.state.brands')
								td
									| {{ item.name }}&nbsp;
									.label.label_green(v-if="item.sequence > 0", v-tooltip="'Бренду задан приоритет'") {{ item.sequence }}
								td
									.label.label_black(v-for="tag in item.tags") {{ $store.getters.getTagItem('id', tag).name }}
								td.sqz
									router-link(:to="'/brands/' + item.id", v-tooltip="'Редактировать'").btn.btn_green: .ico.ico-pencil-square-o
								td.sqz
									.btn.btn_red(@click="preDelete(item)", v-tooltip="'Удалить'"): .ico.ico-trash
								td.sqz
									a.btn.btn_blue(:href='"/brands/"+ item.slug', target="_blank", v-tooltip="'Перейти на страницу бренда'"): .ico.ico-external-link


			.case__inner(v-else) Список брендов пуст


		Popup(:name="'removeBrand'")
			.popup__title Удалить бренд?
			.popup__text Вы уверены что хотите удалить бренд #[b {{ deleteItem.name }}]?
			.popup__btn
				.btn.btn_green(@click="$store.commit('popup', 'close')") Отменить
				.btn.btn_red(@click="confirmDelete") Удалить

</template>

<script>

	import Popup from './component/popup.vue'

	export default {
		data () {
			return {
				deleteItem: {}
			}
		},

		mounted(){

		},

		methods: {
			preDelete(item){
				this.deleteItem = item;
				this.$store.commit('popup', 'removeBrand')
			},

			confirmDelete(id){
				this.$api.deleteBrand({id: this.deleteItem.id},
					()=>{
						this.$store.dispatch('loadBrands')
					},
					()=>{},
					()=>{
						this.$store.commit('popup', 'close');
					}
				);
			}
		},

		components:{
			Popup
		}
	}
</script>


<style lang="scss">

</style>