<template lang="pug">
	div
		h1 {{ $route.meta.title }}

		p {{ 10000000000.50 | discharge('\'') }}
		p {{ 100001 | declension('день', 'дня', 'дней') }}
		p {{ 'фывыфвф фы01ыв фывывыфвфывф' | substrLengh(10, '>>>') }}


		p
			span(@click="$store.commit('popup', 'examplePopup')") Пример попапа
		h2 Форма
		form(action='/', method='post', @submit.prevent="onSubmit", novalidate)
			FormField(v-for='(field, index) in fields', :field='field', :model='model', :key='index', :ref="field.name")


		Popup(:name="'examplePopup'")
			p Внутринности попапа

</template>

<script>

	import Popup from './component/popup.vue'
	import FormField from './component/formField.vue'

	export default {
		data () {
			return {
				title: 'Примеры компонентов',
				message: 'Домашняя страница',

				model: {
					checkbox_name: true,
					radio_name: '',
					date_name: '',
					textarea_name: '',
					select_name: '',
					description_editable: '',
					description_editable_2: '',
					multiselect_name: [],
					images: []
				},

				fields: [
					{
						type: 'checkbox',
						name: 'checkbox_name',
						title: 'checkbox_title',
						label: 'checkbox_label <a href="#">link</a> and more',
						class: '',
						required: true,
						onChange: (checked)=>{
							console.info('onChange', checked);
							//this.$refs.checkbox_name[0].validate();
						}
					},
					{
						type: 'radio',
						name: 'radio_name',
						title: 'radio_title',
						label: 'radio_label',
						required: true,
						items: [
							{
								label: 'Radio 1',
								value: 'Radio 1',
							},
							{
								label: 'Radio 2',
								value: 'Radio 2',
							},
							{
								label: 'Radio 3',
								value: 'Radio 3'
							},
						],
						onChange: (value)=>{
							console.info('onChange', value);
							//this.$refs.radio_name[0].validate();
						}
					},
					{
						type: 'text',
						name: 'text_name',
						title: 'text_title',
						label: 'text_label',
						placeholder: 'text_placeholder',
						required: true,
						onChange: (value)=>{
							console.info('onChange', value);
							//this.$refs.text_name[0].validate();
						},
						onKeyup: (value)=>{
							console.info('onKeyup', value);
						}
					},
					/*{
						type: 'autocomplete',
						name: 'autocomplete_name',
						title: 'autocomplete_title',
						label: 'autocomplete_label',
						placeholder: 'autocomplete_placeholder',
						required: true,
						items: [
							{
								value: 'select item 1',
								html: 'select item <b>1</b>'
							},
							{
								value: 'select item 2',
								html: 'select item <b>2</b>'
							},
							{
								value: 'select item 3',
								html: 'select item <b>3</b>'
							}
						],
						onChange: (value)=>{
							console.info('onChange', value);
							//this.$refs.text_name[0].validate();
						},
						onKeyup: (value)=>{
							console.info('onKeyup', value);
						}
					},*/
					{
						type: 'email',
						name: 'email_name',
						title: 'email_title',
						label: 'email_label',
						placeholder: 'email_placeholder',
						required: true,
						onChange: (value)=>{
							console.info('onChange', value);
							//this.$refs.email_name[0].validate();
						}
					},

					{
						type: 'editor',
						name: 'description_editable',
						placeholder: 'Краткое описание',
						items: [
							{
								name: 'title',
								tooltip: 'заголовок',
								label: 'H',
								tag: 'h2',
								class: 'content_title'
							},
							{
								name: 'paragraph',
								tooltip: 'обычный текст',
								label: 'P',
								tag: 'p',
								class: 'content_title'
							}
						],
						required: true,
					},

					{
						type: 'editorMCE',
						name: 'description_editable_2',
						placeholder: 'Подробное описание',
						required: true,
					},
					{
						type: 'select',
						name: 'select_name',
						title: 'select_title',
						label: 'select_label',
						placeholder: 'select_placeholder',
						required: true,
						multiple: false,
						items: [
							{
								value: '1',
								label: 'select item 1',
								html: 'select item <b>1</b>'
							},
							{
								value: '2',
								label: 'select item 2',
								html: 'select item <b>2</b>'
							},
							{
								value: '3',
								label: 'select item 3',
								html: 'select item <b>3</b>'
							}
						],
						onChange: (value)=>{
							console.info('onChange', value);
							//this.$refs.select_name[0].validate();
						}
					},
					{
						type: 'select',
						name: 'multiselect_name',
						title: 'multiselect_title',
						label: 'multiselect_label',
						multiple: true,
						placeholder: 'multiselect_placeholder',
						required: true,
						items: [
							{
								value: '1',
								label: 'select item 1',
								html: 'select item <b>1</b>'
							},
							{
								value: '2',
								label: 'select item 2',
								html: 'select item <b>2</b>'
							},
							{
								value: '3',
								label: 'select item 3',
								html: 'select item <b>3</b>'
							},
							{
								value: '4',
								label: 'select item 4',
								html: 'select item <b>4</b>'
							},
							{
								value: '5',
								label: 'select item 5',
								html: 'select item <b>5</b>'
							}
						],
						onChange: (value)=>{
							console.info('onChange', value);
							//this.$refs.select_name[0].validate();
						}
					},


					{
						type: 'image',
						name: 'images',
						title: 'Галерея изображений',
						multiple: true,
						required: true
					},

					/*{
						type: 'file',
						name: 'file_name',
						title: 'file_title',
						placeholder: 'file_placeholder',
						required: true,
						onChange: (value)=>{
							//this.$refs.file_name[0].validate();
							console.info('onChange', value);
						}
					},*/

					{
						type: 'date',
						name: 'date_name',
						title: 'date_title',
						label: 'date_label',
						placeholder: 'Дата date_placeholder',
						required: true,
						onChange: (value)=>{
							console.info('onChange', value);
							//this.$refs.date_name[0].validate();
						}
					},
					{
						type: 'textarea',
						name: 'textarea_name',
						title: 'textarea_title',
						label: 'textarea_label',
						value: '',
						placeholder: 'textarea_placeholder',
						required: true,
						onChange: (value)=>{
							console.info('onChange', value);
						}
					},
					{
						type: 'submit',
						value: 'Отправить'
					}
				]
			}
		},

		mounted(){

		},

		methods:{
			onSubmit(){
				console.info('1');

				let valid = true;

				for (let i = 0; i < this.fields.length; i++){
					if ( this.fields[i].name ) {
						if (this.$refs[this.fields[i].name][0].validate().errors.length){
							valid = false;
						}
					}
				}

				console.info('2', valid);

				if ( valid ){

					alert('all ok');

				}

			}
		},

		components: {
			Popup,
			FormField
		}
	}
</script>


<style lang="scss">

</style>