<template lang="pug">
	.case
		.case__item(v-if="$route.meta.create || (model && model.id)")
			.case__inner
				form(action='/', method='post', @submit.prevent="onSubmit", novalidate)
					FormField(v-for='(field, index) in fields', :field='field', :model='model', :key='index', :ref="field.name")

		.case__item(v-else)
			.case__inner Оборудование не создано или удалено

</template>

<script>

	import FormField from './component/formField.vue'
	import slugify from 'slugify'

	export default {
		data () {

			let brands = _.map(this.$store.state.brands, brand=>{
					return {
						value: brand.id,
						label: brand.name
					}
				}),
				tags = _.map(this.$store.getters.getTags('equipment'), tag=>{
					return {
						value: tag.id,
						label: tag.name
					}
				})
			;

			console.info(brands, tags);

			return {
				model: {
					name: '',
					slug: '',
					description: '',
					public: true,
					id_tag: '',
					brand: '',
					feature_dimensions: '',
					feature_voltage: '',
					feature_power: '',
					sequence: '',
					images: []
				},

				fields: [

					{
						type: 'text',
						name: 'name',
						placeholder: 'Название (заголовок) оборудования',
						required: true,
						onKeyup: (val)=>{
							console.info('onKeyup', val);
							try {
							this.model.slug = slugify(val, {
								replacement: '_',
								lower: true
							}).replace(/[.%~]/img, '_').match(/[a-z0-9_\-]/img).join('');
							} catch (e) {}
							this.$refs.slug[0].error = false;
							this.$refs.slug[0].message = false;
						},
						onChange: ()=>{
							console.info('change slug', this.model.slug);

							this.$api.checkSlug({section: 'equipment', slug: this.model.slug},
								(res)=>{
									if ( res.data.status === false){
										this.$refs.slug[0].error = true;
										this.$refs.slug[0].message = res.data.message;
									}
								}
							);
						}
					},

					{
						type: 'text',
						name: 'slug',
						placeholder: 'Адрес (url) страницы',
						required: true,
					},

					{
						type: 'textarea',
						name: 'description',
						placeholder: 'Описание',
						required: true,
					},

					{
						type: 'select',
						name: 'id_tag',
						placeholder: 'Тег',
						items: tags,
						required: true,
					},

					{
						type: 'select',
						name: 'brand',
						placeholder: 'Бренды',
						required: true,
						items: brands
					},

					{
						type: 'image',
						name: 'images',
						maxWidth: 1500,
						title: 'Галерея изображений',
						multiple: true,
						required: true
					},


					{
						title: 'Характеристики',
						type: 'text',
						name: 'feature_dimensions',
						placeholder: 'Габаритные размеры',
					},

					{
						type: 'text',
						name: 'feature_voltage',
						placeholder: 'Напряжение, В',
						mask: '9{0,5}'
					},

					{
						type: 'text',
						name: 'feature_power',
						placeholder: 'Мощность, кВт',
						mask: '9{0,10}.{0,1}9{0,2}'
					},

					{
						type: 'text',
						name: 'sequence',
						mask: '9{1,3}',
						placeholder: 'Приоритет (1 - самый важный)',
					},

					{
						type: 'checkbox',
						name: 'public',
						label: 'Опубликовать оборудование',
					},

					{
						type: 'submit',
						value: this.$route.meta.create ? 'Сохранить оборудование' : 'Редактировать оборудование'
					}

				]
			}
		},

		mounted(){

			if ( this.$route.params && this.$route.params.id){
				this.$api.getEquipment({id: this.$route.params.id},
					(res)=>{
						this.model = res.data.data;
					}
				);
			}

		},

		methods: {
			onSubmit(){

				let valid = true;

				for (let i = 0; i < this.fields.length; i++){
					if ( this.fields[i].name ) {
						if (this.$refs[this.fields[i].name][0].validate().errors.length){
							valid = false;
						}
					}
				}

				if ( valid ){

					if ( this.$route.meta.create ){
						this.$api.createEquipment({},
							(res)=>{
								this.model.id = res.data.id;

								this.$api.updateEquipment(this.model,
									(res)=>{
										this.$router.push('/equipments');
									}
								);
							}
						);
					} else {
						this.$api.updateEquipment(this.model,
							(res)=>{
								this.$router.push('/equipments');
							}
						);
					}

				}

			}
		},

		components:{
			FormField
		}
	}
</script>


<style lang="scss">

</style>