<template lang="pug">
	.case
		.case__item
			router-link(to="/equipments/add").btn.btn_green Добавить оборудование
		.case__item
			.case__inner(v-if="list.length")
				.table
					table
						thead
							tr
								th Название
								th Бренд
								th Тег
								th Статус
								th(colspan='3').sqz Управление
						//-vue-scroll
						tbody
							tr(v-for='(item, index) in list')
								td
									| {{ item.name }}&nbsp;
									.label.label_green(v-if="item.sequence > 0", v-tooltip="'Оборудованию задан приоритет'") {{ item.sequence }}
								td {{ $store.getters.getBrand(item.brand).name }}
								td: .label.label_black(v-if="item.id_tag") {{ $store.getters.getTagItem('id', item.id_tag).name }}
								td
									.label.label_green(v-if="item.public") Опубликован
									.label.label_grey(v-else) Скрыт
								td.sqz
									router-link(:to="'/equipments/' + item.id", v-tooltip="'Редактировать'").btn.btn_green: .ico.ico-pencil-square-o
								td.sqz
									.btn.btn_red(@click="preDelete(item)", v-tooltip="'Удалить'"): .ico.ico-trash
								td.sqz
									a.btn.btn_blue(:href='"/equipment/"+ item.slug', target="_blank", v-tooltip="'Перейти на страницу оборудования'"): .ico.ico-external-link


			.case__inner(v-else) Список оборудования пуст



		Popup(:name="'deleteItem'")
			.popup__title Удалить оборудование?
			.popup__text Вы уверены что хотите удалить оборудование #[b {{ deleteItem.name }}]?
			.popup__btn
				.btn.btn_green(@click="$store.commit('popup', 'close')") Отменить
				.btn.btn_red(@click="confirmDelete") Удалить

</template>

<script>

	import Popup from './component/popup.vue'

	export default {
		data () {
			return {
				list: [],
				deleteItem: {}
			}
		},

		mounted(){

			this.$api.listEquipment({},
				(res)=>{
					if (res.data.status){
						if (res.data.list && Array.isArray(res.data.list)) this.list = res.data.list;
					}
				}
			);
		},

		methods: {
			preDelete(item){
				this.deleteItem = item;
				this.$store.commit('popup', 'deleteItem')
			},

			confirmDelete(){
				this.$api.deleteEquipment({id: this.deleteItem.id},
					()=>{
						this.$api.listEquipment({},
							(res)=>{
								if (res.data.status){
									this.list = res.data.list;
								}
							}
						);
					},
					()=>{},
					()=>{
						this.$store.commit('popup', 'close');
					}
				);
			}
		},

		components:{
			Popup
		}
	}
</script>


<style lang="scss">

</style>