<template lang="pug">
	.case
		.case__item(v-if="$store.state.user.info.level < 1 && list.length")
			.btn.btn_green(@click="saveAsExcel") Скачать в Excel

		.case__item
			.case__inner(v-if="list.length")

				.table
					table
						thead
							tr
								th Дата
								th Статус
								th(v-if='$store.state.user.info.level < 1') Ответственный
								th(v-if='$store.state.user.info.level < 1', colspan='2').sqz Управление
								th(v-else).sqz Управление
						//-vue-scroll
						tbody
							tr(v-for='(item, index) in list')
								td {{ new Date(item.dt).toLocaleDateString('ru', {day: '2-digit', year: 'numeric', month: 'long', hour: '2-digit', minute: '2-digit'}) }}
								td
									.label(v-if="item.id_status", :style="'background-color:' + $store.getters.getFeedbackStatus(item.id_status).color + ';'") {{ $store.getters.getFeedbackStatus(item.id_status).name  }}
									.label.label_red(v-else) Новая заявка
								td(v-if='$store.state.user.info.level < 1')
									router-link(v-if="item.id_user", :to="'/users/' + item.id_user") {{ $store.getters.getUser(item.id_user).email  }}
									.label.label_grey(v-else) Не назначен
								td.sqz
									router-link(:to="'/feedback/' + item.id", v-tooltip="'Редактировать'").btn.btn_green: .ico.ico-paper-plane
								td.sqz(v-if='$store.state.user.info.level < 1')
									.btn.btn_red(@click="preDelete(item)", v-tooltip="'Удалить'"): .ico.ico-trash

			.case__inner(v-else) Список заявок пуст


		Popup(:name="'deleteItem'")
			.popup__title Удалить заявку?
			.popup__text Вы уверены что хотите удалить заявку #[b от {{ new Date(deleteItem.dt).toLocaleDateString('ru', {day: '2-digit', year: 'numeric', month: 'long', hour: '2-digit', minute: '2-digit'}) }}]?
			.popup__btn
				.btn.btn_green(@click="$store.commit('popup', 'close')") Отменить
				.btn.btn_red(@click="confirmDelete") Удалить

</template>

<script>

	import Popup from './component/popup.vue'
	import XLSX from 'xlsx'
	import { saveAs } from 'file-saver';

	export default {
		data () {
			return {

				list: [],
				deleteItem: {}
			}
		},

		mounted(){
			this.$api.listRequests({},
				(res)=>{
					if (res.data.status){
						if (res.data.list && Array.isArray(res.data.list)) this.list = res.data.list;

						this.getDataExcel();
					}
				}
			);

			console.info(XLSX);

		},

		methods: {
			preDelete(item){
				this.deleteItem = item;
				this.$store.commit('popup', 'deleteItem')
			},

			getDataExcel(){
				let data = [];

				this.list.forEach((item, count)=>{
					let request = [];
					request[0] = this.list.length - count;
					request[1] = new Date(item.dt).toLocaleDateString('ru', {day: '2-digit', year: 'numeric', month: 'long', hour: '2-digit', minute: '2-digit'});
					request[2] = item.id_status ? this.$store.getters.getFeedbackStatus(item.id_status).name : 'Новая заявка';
					request[3] = item.id_user ? this.$store.getters.getUser(item.id_user).email : 'Не назначен';
					request[4] = item.result;
					data.unshift(request);
				});

				data.unshift(['№', 'Дата заявки', 'Статус', 'Исполнитель', 'Результат']);

				return data;
			},

			generateExcel(){
				console.info('Generate');

				let excel = XLSX.utils.book_new();

				excel.Props = {
					Title: "Заявки с сайта tfdecor.ru",
					Subject: "Заявки с сайта tfdecor",
					Author: "tfdecor",
					CreatedDate: new Date()
				};

				excel.SheetNames.push("Test Sheet");

				/*let ws_data = [['hello' , 'world'], ['hello' , 'world']];

				let data = [
					[1, 2, 3],
					[true, false, null, "sheetjs"],
					["foo    bar", "baz", new Date("2014-02-19T14:30Z"), "0.3"],
					["baz", null, "\u0BEE", 3.14159],
					["hidden"],
					["visible"]
				];*/

				excel.Sheets["Test Sheet"] = XLSX.utils.aoa_to_sheet(this.getDataExcel());

				return XLSX.write(excel, {bookType:'xlsx',  type: 'binary'});
			},

			saveAsExcel(){

				let xlsx = this.generateExcel(),
					buf = new ArrayBuffer(xlsx.length),
					view = new Uint8Array(buf),
					date = new Date()
				;

				for (let i = 0; i < xlsx.length; i++) {
					view[i] = xlsx.charCodeAt(i) & 0xFF;
				}

				saveAs(new Blob([buf],{type:"application/octet-stream"}), `tfdecor_${date.getDate()}-${date.getMonth()}-${date.getFullYear()}_${date.getHours()}-${date.getMinutes()}.xlsx`);
			},

			confirmDelete(){
				this.$api.deleteRequest({id: this.deleteItem.id},
					()=>{
						this.$api.listRequests({},
							(res)=>{
								if (res.data.status){
									this.list = res.data.list;
								}
							}
						);
					},
					()=>{},
					()=>{
						this.$store.commit('popup', 'close');
					}
				);
			}
		},

		components:{
			Popup
		}
	}
</script>


<style lang="scss">

</style>