<template lang="pug">
	.case
		.case__item

			.case__inner(v-if="info.length")

				.case__title Информация из заявки отправителя

				.table
					table
						thead
							tr

								th Параметр из заявки
								th Значение

						tbody
							tr(v-for='(item, index) in info')
								td(v-html='item.name')
								td(v-html='item.value')

		.case__item
			.case__inner(v-if="location.length")

				.case__title Информация по IP отправителя

				.table
					table
						thead
							tr

								th Параметр
								th Значение

						tbody
							tr(v-for='(item, index) in location')
								td(v-html='item.name')
								td(v-html='item.value')




		.case__item(v-if="(model && model.id) && $store.state.user.info.level < 1")
			.case__inner
				form(action='/', method='post', @submit.prevent="onSubmit(assignFields, 'assign')", novalidate)
					FormField(v-for='(field, index) in assignFields', :field='field', :model='model', :key='index', :ref="field.name")

		.case__item(v-if="(model && model.id)")
			.case__inner
				form(action='/', method='post', @submit.prevent="onSubmit(fields, 'result')", novalidate)
					FormField(v-for='(field, index) in fields', :field='field', :model='model', :key='index', :ref="field.name")

		.case__item(v-else)
			.case__inner Такой заявки не существует

</template>

<script>

	import FormField from './component/formField.vue'
	import _ from 'lodash'

	export default {


		data () {

			let users = _.map(this.$store.state.users, user=>{
					return {
						value: user.id,
						label: `${user.login} (${user.email})`
					}
				})
			;

			return {
				model: {
					request_status: true
				},

				info: [],

				location: [],

				assignFields: [
					{
						type: 'select',
						name: 'id_user',
						placeholder: 'Выберите сотрудника',
						required: true,
						items: users
					},
					{
						type: 'submit',
						value: 'Назначить ответственного'
					}
				],

				fields: [
					{
						type: 'textarea',
						name: 'result',
						placeholder: 'Результат обработки заявки',
						required: true,
					},
					{
						type: 'checkbox',
						name: 'request_status',
						label: 'Заявка обработана',
					},
					{
						type: 'submit',
						value: 'Сохранить результат'
					}
				]
			}
		},

		mounted(){


			if ( this.$route.params && this.$route.params.id){
				this.$api.getRequest({id: this.$route.params.id},
					(res)=>{
						_.assign(this.model, res.data.data);
						this.getInfo(res.data.data.data);

						if ( this.$store.state.user.info.level < 1 && res.data.data.id_status === null ){

							this.$api.register({},
								(res)=>{
									this.$store.state.user.info = res.data;
								}
							);
						}
					}
				);
			}
		},

		methods: {

			getInfo(sdata){

				if ( !sdata ) return false;

				let data;

				try {
					data = JSON.parse(sdata);
				}
				catch (e){}

				console.info(data);

				if ( data ){
					_.forEach(data, (value, key)=>{

						switch (key){
							case 'page_url':
								this.info.push({
									name: 'Заявка отправлена со страницы',
									value: `<a href="${window.location.protocol}//${value}" target="_blank"> ${value} </a>`
								});
								break;

							case 'form_title':
								this.info.push({
									name: 'Заголовок формы заявки',
									value
								});
								break;

							case 'name':
								this.info.push({
									name: 'Указанное имя',
									value
								});
								break;

							case 'direction':
								this.info.push({
									name: 'Выбранный раздел',
									value
								});
								break;

							case 'phone':
								this.info.push({
									name: 'Указанный номер телефона',
									value
								});
								break;

							case 'email':
								this.info.push({
									name: 'Указанная почта',
									value
								});
								break;

							case 'message':
								this.info.push({
									name: 'Текст сообщения',
									value
								});
								break;

							case 'city':
								this.info.push({
									name: 'Указанный город',
									value
								});
								break;

							case 'location':

								let location = {};

								try{
									location = JSON.parse(data[key])
								} catch (e){}

								_.forEach(location, (value, key)=>{

									switch (key){
										case 'country':

											this.location.push({
												name: 'Страна',
												value
											});

											break;

										case 'regionName':

											this.location.push({
												name: 'Регион',
												value
											});

											break;

										case 'city':

											this.location.push({
												name: 'Город',
												value
											});

											break;

										case 'timezone':

											this.location.push({
												name: 'Временная зона',
												value
											});

											break;


										case 'isp':

											this.location.push({
												name: 'Интернет-провайдер',
												value
											});

											break;


										default:

											break;
									}
								});

								break;

							case 'g-recaptcha-response':

								break;

							case 'politics':

								break;

							default:
								this.info.push({
									name: key,
									value
								});
								break;
						}
					});
				}

			},

			onSubmit(fields, name){

				let valid = true;

				for (let i = 0; i < fields.length; i++){
					if ( fields[i].name ) {
						if (this.$refs[fields[i].name][0].validate().errors.length){
							valid = false;
						}
					}
				}

				console.info(fields);

				if ( valid ){

					let method = name === 'result' ? 'setRequestResult' : 'setRequestExecutor',
						data = {};

					data.id = this.$route.params.id;
					data.id_user = this.model.id_user;

					if ( name === 'result' ){
						data.id_status = this.model.request_status ? '3' : '2';
						data.result = this.model.result;
					}

					this.$api[method](data,
						(res)=>{
							if (res.data.status){
								this.$router.push('/feedback');
							}
						}
					);

				}

			}
		},

		components:{
			FormField
		}
	}
</script>


<style lang="scss">

</style>