<template lang="pug">
	div

		//-pre {{ $store.state.user.info.statistic }}
		.case(v-if='$store.state.user.info.level < 1')

			.case__item
				.case__inner(v-if="$store.state.user.info && $store.state.user.info.statistic")

					.case__title Статистика

					.table
						table
							thead
								tr
									th Раздел
									th Создано
									th Опубликовано
									th(colspan='2').sqz Управление
							//-vue-scroll
							tbody
								tr
									td Новости
									td {{ $store.state.user.info.statistic.news.count }}
									td {{ $store.state.user.info.statistic.news.publish }}
									td.sqz: router-link(:to="'/news/'", v-tooltip="'К списку новостей'").btn.btn_yellow: .ico.ico-list
									td.sqz: router-link(:to="'/news/add'", v-tooltip="'Добавить новость'").btn.btn_green: .ico.ico-plus

								tr
									td Проекты
									td {{ allProgect($store.state.user.info.statistic.projects).count }}
									td {{ allProgect($store.state.user.info.statistic.projects).publish }}
									td.sqz: router-link(:to="'/projects/'", v-tooltip="'К списку проектов'").btn.btn_yellow: .ico.ico-list
									td.sqz: router-link(:to="'/projects/add'", v-tooltip="'Добавить проект'").btn.btn_green: .ico.ico-plus

								tr(v-for='(item, index) in $store.state.user.info.statistic.projects')
									td(align="right"): .label(:style="'background-color:' + $store.getters.getDirection('id', item.direction).color + ';'") {{ $store.getters.getDirection('id', item.direction).name }}
									td {{ item.count }}
									td {{ item.publish }}
									td &nbsp;
									td &nbsp;

								tr
									td Оборудование
									td {{ $store.state.user.info.statistic.equipment.count }}
									td {{ $store.state.user.info.statistic.equipment.publish }}
									td.sqz: router-link(:to="'/equipments/'", v-tooltip="'К списку оборудования'").btn.btn_yellow: .ico.ico-list
									td.sqz: router-link(:to="'/equipments/add'", v-tooltip="'Добавить оборудование'").btn.btn_green: .ico.ico-plus

								tr
									td Бренды
									td {{ $store.state.brands.length }}
									td &nbsp;
									td.sqz: router-link(:to="'/brands/'", v-tooltip="'К списку брендов'").btn.btn_yellow: .ico.ico-list
									td.sqz: router-link(:to="'/brands/add'", v-tooltip="'Добавить бренд'").btn.btn_green: .ico.ico-plus

		.case(v-else)
			.case__item
				.case__inner(v-if="message")

					.case__title {{ message }}
					.case__text: router-link(:to="'/feedback'") Перейти к заявкам >>
</template>

<script>

	export default {
		data () {
			return {
				message: null
			}
		},

		mounted(){

			console.info(this.$store.state.user.info.statistic);

			this.$api.register({},
				(res)=>{
					this.$store.state.user.info = res.data;
				}
			);

			if ( this.$store.state.user.info.level > 0){
				this.$api.listRequests({},
					(res)=>{
						if (res.data.status){
							if (res.data.list && Array.isArray(res.data.list)) {
								let process = 0;

								for (let i = 0; i < res.data.list.length; i++){
									if (res.data.list[0].id_status !== '3'){
										process++;
									}
								}

								this.message = process > 0 ? `У вас ${process} ${process.declension('необработанная', 'необработанных', 'необработанных')} ${process.declension('заявка', 'заявки', 'заявок')}` : 'У вас нет необработанных заявок';
							}
						}
					}
				);
			}


		},

		methods: {
			allProgect(arr){

				let data = {
					count: 0,
					publish: 0
				};

				for (let i = 0; i < arr.length; i++){
					console.info(arr[i]);

					data.count += arr[i].count;
					data.publish += arr[i].publish;
				}

				return data;
			}
		},


		components:{

		}
	}
</script>


<style lang="scss">

</style>