<template lang="pug">
	.wrapper(:class="$store.state.loading ? 'is-loading' : ''")
		Template(v-if="$store.state.user.info.auth === true")
		Login(v-else="$store.state.user.info.auth === false")
		notifications(position="bottom right", animation-type="velocity", :speed="1000")
</template>

<script>

	import Login from './layout/login.vue'
	import Template from './layout/template.vue'

	export default {
		data () {	
			return {
				activeGroup: null
			}
		},

		beforeCreate (){
			// if (isDev) console.info('beforeCreate')
		},
		created (){
			this.$api.register({},
				(res)=>{
					this.$store.state.user.info = res.data;
				}
			);
		},

		destroyed (){
			// if (isDev) console.info('destroyed')
		},

		beforeMount (){
			// if (isDev) console.info('beforeMount')
		},
		mounted (){

			this.activeGroup = this.$route.meta.group;

			if (isLocal) console.info(this.$route);


		},
		beforeUpdate (){
			// if (isDev) console.info('beforeUpdate')
		},
		updated (){
			// if (isDev) console.info('updated')
		},

		watch: {


		},

		components: {
			Login,
			Template
		},

		methods: {

		}
	}
</script>

<style lang="scss">

</style>