<template lang="pug">
	.case
		.case__item
			router-link(to="/news/add").btn.btn_green Добавить новость
		.case__item
			.case__inner(v-if="list.length")

				.table
					table
						thead
							tr
								th Дата
								th Заголовок
								th Тег
								th.sqz Статус
								th(colspan='3').sqz Управление
						//-vue-scroll
						tbody
							tr(v-for='(item, index) in list')
								td: .label.label_grey {{ turnDate(item.dt) }}
								td
									| {{ item.name }}&nbsp;
									.label.label_green(v-if="item.secure", v-tooltip="'Новость закреплена в списке'") fix
								td: .label.label_black(v-if="item.id_tag") {{ $store.getters.getTagItem('id', item.id_tag).name }}
								td
									.label.label_green(v-if="item.public") Опубликован
									.label.label_grey(v-else) Скрыт
								td.sqz
									router-link(:to="'/news/' + item.id", v-tooltip="'Редактировать'").btn.btn_green: .ico.ico-pencil-square-o
								td.sqz
									.btn.btn_red(@click="preDelete(item)", v-tooltip="'Удалить'"): .ico.ico-trash
								td.sqz
									a.btn.btn_blue(:href='"/news/"+ item.slug', target="_blank", v-tooltip="'Перейти на страницу новости'"): .ico.ico-external-link


			.case__inner(v-else) Список новостей пуст



		Popup(:name="'deleteItem'")
			.popup__title Удалить новость?
			.popup__text Вы уверены что хотите удалить новость #[b {{ deleteItem.name }}]?
			.popup__btn
				.btn.btn_green(@click="$store.commit('popup', 'close')") Отменить
				.btn.btn_red(@click="confirmDelete") Удалить

</template>

<script>

	import Popup from './component/popup.vue'

	export default {
		data () {
			return {

				list: [],
				deleteItem: {}
			}
		},

		mounted(){
			this.$api.listNews({},
				(res)=>{
					if (res.data.status){
						if (res.data.list && Array.isArray(res.data.list)) this.list = res.data.list;
					}
				}
			);

		},

		methods: {

			turnDate(date){
				let d = date.split('-');
				return `${d[2]}.${d[1]}.${d[0]}`;
			},

			preDelete(item){
				this.deleteItem = item;
				this.$store.commit('popup', 'deleteItem')
			},

			confirmDelete(){
				this.$api.deleteNew({id: this.deleteItem.id},
					()=>{
						this.$api.listNews({},
							(res)=>{
								if (res.data.status){
									this.list = res.data.list;
								}
							}
						);
					},
					()=>{},
					()=>{
						this.$store.commit('popup', 'close');
					}
				);
			}
		},

		components:{
			Popup
		}
	}
</script>


<style lang="scss">

</style>