<template lang="pug">
	.case
		.case__item(v-if="$route.meta.create || (model && model.id)")
			.case__inner
				form(action='/', method='post', @submit.prevent="onSubmit", novalidate)
					FormField(v-for='(field, index) in fields', :field='field', :model='model', :key='index', :ref="field.name")

		.case__item(v-else)
			.case__inner Новость не создана или удалена

</template>

<script>

	import FormField from './component/formField.vue'
	import slugify from 'slugify'
	import _ from 'lodash'

	export default {
		data () {

			let tags = _.map(this.$store.getters.getTags('news'), tag=>{
					return {
						value: tag.id,
						label: tag.name
					}
				})
			;

			return {
				model: {
					name: '',
					slug: '',
					announce: '',
					description: '',
					public: true,
					secure: false,
					id_tag: '',
					main: '',
					dt: new Date(),
					gallery: []

				},

				fields: [

					{
						type: 'text',
						name: 'name',
						placeholder: 'Название (заголовок) проекта',
						required: true,
						onKeyup: (val)=>{
							console.info('onKeyup', val);

							try {
							this.model.slug = slugify(val, {
								replacement: '_',
								lower: true
							}).replace(/[.%~]/img, '_').match(/[a-z0-9_\-]/img).join('');
							} catch (e) {}
							this.$refs.slug[0].error = false;
							this.$refs.slug[0].message = false;
						},
						onChange: ()=>{
							console.info('change slug', this.model.slug);

							this.$api.checkSlug({section: 'news', slug: this.model.slug},
								(res)=>{
									if ( res.data.status === false){
										this.$refs.slug[0].error = true;
										this.$refs.slug[0].message = res.data.message;
									}
								}
							);
						}
					},

					{
						type: 'text',
						name: 'slug',
						placeholder: 'Адрес (url) страницы',
						required: true,
						onChange: (val)=>{


						}
					},

					{
						type: 'date',
						name: 'dt',
						placeholder: 'Дата новости',
						required: true,
					},

					{
						type: 'textarea',
						name: 'announce',
						placeholder: 'Краткое описание',
						required: true,
					},

					{
						type: 'editorMCE',
						name: 'description',
						placeholder: 'Текст новости',
						// items: [
						// 	{
						// 		name: 'text',
						// 		tooltip: 'Текст',
						// 		label: 'Текст',
						// 		tag: 'p',
						// 		class: ''
						// 	}
						// ],
						required: true,
					},

					{
						type: 'select',
						name: 'id_tag',
						placeholder: 'Тег',
						items: tags,
						required: true
					},

					{
						type: 'image',
						name: 'main',
						maxWidth: 1800,
						title: 'Главное изображение',
						required: true
					},

					{
						type: 'image',
						name: 'gallery',
						maxWidth: 1800,
						title: 'Галерея изображений',
						multiple: true,
						// required: true
					},


					{
						type: 'checkbox',
						name: 'public',
						label: 'Опубликовать новость',
					},

					{
						type: 'checkbox',
						name: 'secure',
						label: 'Закрепить новость',
					},

					{
						type: 'submit',
						value: this.$route.meta.create ? 'Сохранить новость' : 'Редактировать новость'
					}

				]
			}
		},

		mounted(){

			if ( this.$route.params && this.$route.params.id){
				this.$api.getNew({id: this.$route.params.id},
					(res)=>{
						this.model = res.data.data;
					}
				);
			}

		},

		methods: {
			onSubmit(){

				let valid = true;

				for (let i = 0; i < this.fields.length; i++){
					if ( this.fields[i].name ) {
						if (this.$refs[this.fields[i].name][0].validate().errors.length){
							valid = false;
						}
					}
				}

				if ( valid ){

					if ( this.$route.meta.create ){
						this.$api.createNew({},
							(res)=>{
								this.model.id = res.data.id;

								this.$api.updateNew(this.model,
									(res)=>{
										this.$router.push('/news');
									}
								);
							}
						);
					} else {
						this.$api.updateNew(this.model,
							(res)=>{
								this.$router.push('/news');
							}
						);
					}

				}

			}
		},

		components:{
			FormField
		}
	}
</script>


<style lang="scss">

</style>