<template lang="pug">
	.case
		.case__item
			router-link(to="/projects/add").btn.btn_green Добавить проект

		.case__item
			.case__inner(v-if="list.length")
				.table
					table
						thead
							tr
								th Дата
								th Название
								th Адрес
								th Разделы
								th Тег
								th Публикация
								th(colspan='3').sqz Управление
						//-vue-scroll
						tbody
							tr(v-for='(item, index) in list')
								td.nwrp: .label.label_grey {{ turnDate(item.dt) }}
								td
									| {{ item.name }}&nbsp;
									.label.label_green(v-if="item.secure", v-tooltip="'Проект закреплен в списке'") fix
								td {{ item.address }}
								td
									.label(:style="'background-color:' + $store.getters.getDirection('id', item.id_direction).color + ';'") {{ $store.getters.getDirection('id', item.id_direction).name }}
								td
									.label.label_black(v-if="item.id_tag") {{ $store.getters.getTagItem('id', item.id_tag).name }}
								td
									.label(:class="item.public ? 'label_green' : 'label_grey'") На сайте
									.label(:class="item.public_carousel ? 'label_green' : 'label_grey'") В карусели
								td.sqz
									router-link(:to="'/projects/' + item.id", v-tooltip="'Редактировать'").btn.btn_green: .ico.ico-pencil-square-o
								td.sqz
									.btn.btn_red(@click="preDelete(item)", v-tooltip="'Удалить'"): .ico.ico-trash
								td.sqz
									a.btn.btn_blue(:href='getUrl(item)', target="_blank", v-tooltip="'Перейти на страницу проекта'"): .ico.ico-external-link


			.case__inner(v-else) Список проектов пуст


		Popup(:name="'deleteItem'")
			.popup__title Удалить проект?
			.popup__text Вы уверены что хотите удалить проект #[b {{ deleteItem.name }}]?
			.popup__btn
				.btn.btn_green(@click="$store.commit('popup', 'close')") Отменить
				.btn.btn_red(@click="confirmDelete") Удалить

</template>


<script>

	/**
	 address: "Санкт-Петербург, Синопская набережная, 78"
	 area: "4500"
	 brands: [{id: "1", name: "Electrolux"}]
	 description: "Первый в России lounge-ресторан мировой сети Buddha-Bar. Уникальный формат: гармония, спокойствие и безмятежная атмосфера в сочетании с лучшими блюдами паназиатской кухни."
	 directions: [{id: "4", name: "Ритейл"}, {id: "1", name: "Кухни"}]
	 id: "7"
	 main: "https://needforsport.ru/assets/uploads/projects/7/main_thumb.jpg"
	 name: "Будда бар"
	 public: "0"
	 public_carousel: "0"
	 seats: "128"
	 slug: "budda_bar"
	 tags: [{id: "5", name: "Кондитерские", section: "projects"}]
	 time_elapsed: null

	 */

	import Popup from './component/popup.vue'

	export default {
		data () {
			return {
				list: [],
				deleteItem: {}
			}
		},

		mounted(){

			this.$api.listProjects({},
				(res)=>{
					if (res.data.status){
						if (res.data.list && Array.isArray(res.data.list)) this.list = res.data.list;
					}
				}
			);

		},

		methods: {

			turnDate(date){
				let d = date.split('-');
				return `${d[2]}.${d[1]}.${d[0]}`;
			},

			preDelete(item){
				this.deleteItem = item;
				this.$store.commit('popup', 'deleteItem')
			},

			getUrl(item){
				return `${window.location.protocol}//${this.$store.getters.getDirection("id", item.id_direction).subdomain}.${window.location.host}/projects/${item.slug}`;
			},

			confirmDelete(){
				this.$api.deleteProject({id: this.deleteItem.id},
					()=>{
						this.$api.listProjects({},
							(res)=>{
								if (res.data.status){
									this.list = res.data.list;
								}
							}
						);
					},
					()=>{},
					()=>{
						this.$store.commit('popup', 'close');
					}
				);
			}
		},

		components:{

			Popup
		}
	}
</script>


<style lang="scss">

</style>