<template lang="pug">
	.case
		.case__item(v-if="$route.meta.create || (model && model.id)")
			.case__inner
				form(action='/', method='post', @submit.prevent="onSubmit", novalidate)
					FormField(v-for='(field, index) in fields', :field='field', :model='model', :key='index', :ref="field.name")

		.case__item(v-else)
			.case__inner {{ message }}

</template>

<script>

	import FormField from './component/formField.vue'
	import slugify from 'slugify'

	export default {
		data () {

			let brands = _.map(this.$store.state.brands, brand=>{
					return {
						value: brand.id,
						label: brand.name
					}
				}),
				tags = _.map(this.$store.getters.getTags('projects'), tag=>{
					return {
						value: tag.id,
						label: tag.name
					}
				}),
				directions =_.map(this.$store.state.directions, direction=>{
					return {
						value: direction.id,
						label: direction.name
					}
				})
			;

			return {
				message: '',

				loaded: false,

				model: {
					name: '',
					slug: '',
					area: '',
					description: '',
					address: '',
					seats: '',
					public: true,
					public_carousel: false,
					id_tag: '',
					brands: [],
					logo: '',
					main: '',
					gallery: [],
					id_direction: '',
					dt: new Date(),
					secure: false,
				},

				fields: [

					{
						type: 'text',
						name: 'name',
						placeholder: 'Название (заголовок) проекта',
						required: true,
						onKeyup: (val)=>{
							console.info('onKeyup', val);
							try {
								this.model.slug = slugify(val, {
									replacement: '_',
									lower: true
								}).replace(/[.%~]/img, '_').match(/[a-z0-9_\-]/img).join('');
							} catch (e) {}
							this.$refs.slug[0].error = false;
							this.$refs.slug[0].message = false;
						},
						onChange: ()=>{
							console.info('change slug', this.model.slug);

							this.$api.checkSlug({section: 'projects', slug: this.model.slug},
								(res)=>{
									if ( res.data.status === false){
										this.$refs.slug[0].error = true;
										this.$refs.slug[0].message = res.data.message;
									}
								}
							);
						}
					},

					{
						type: 'text',
						name: 'slug',
						placeholder: 'Адрес (url) страницы',
						required: true,
					},

					{
						type: 'date',
						name: 'dt',
						placeholder: 'Дата публикации проекта',
						required: true,
					},

					{
						type: 'textarea',
						name: 'description',
						placeholder: 'Краткое описание',
						required: true,
					},

					{
						type: 'text',
						name: 'area',
						mask: '9{0,10}',
						placeholder: 'Площадь помещения (м2)'
					},

					{
						type: 'text',
						name: 'address',
						placeholder: 'Адрес объекта'
					},

					{
						type: 'text',
						name: 'seats',
						mask: '9{0,10}',
						placeholder: 'Количество посадочных мест'
					},

					{
						type: 'select',
						name: 'id_direction',
						placeholder: 'Разделы',
						required: true,
						items: directions
					},

					{
						type: 'select',
						name: 'id_tag',
						placeholder: 'Тег',
						required: true,
						items: tags
					},

					{
						type: 'select',
						name: 'brands',
						multiple: true,
						placeholder: 'Бренды',
						// required: true,
						items: brands
					},

					{
						type: 'image',
						name: 'main',
						maxWidth: 1920,
						title: 'Главное изображение',
						required: true
					},

					{
						type: 'image',
						name: 'logo',
						title: 'Логотип объекта',
						maxWidth: 700,
						// required: true
					},

					{
						type: 'image',
						name: 'gallery',
						maxWidth: 1800,
						title: 'Галерея изображений',
						multiple: true,
						required: true
					},

					{
						type: 'checkbox',
						name: 'public',
						label: 'Опубликовать проект',
					},

					{
						type: 'checkbox',
						name: 'public_carousel',
						label: 'Показывать в карусели на главной',
					},

					{
						type: 'checkbox',
						name: 'secure',
						label: 'Закрепить проект в начале списка',
					},

					{
						type: 'submit',
						value: this.$route.meta.create ? 'Сохранить проект' : 'Редактировать проект'
					}

				]
			}
		},

		mounted(){

			if ( this.$route.params && this.$route.params.id){
				this.$api.getProject({id: this.$route.params.id},
					(res)=>{

						if ( res.data.status ){
							this.model = res.data.data;
						} else {
							this.message = 'Проект не создан, или удален'
						}

					}
				);
			}

		},

		methods: {
			onSubmit(){
				console.info('1');

				let valid = true;

				for (let i = 0; i < this.fields.length; i++){
					if ( this.fields[i].name ) {
						if (this.$refs[this.fields[i].name][0].validate().errors.length){
							valid = false;
						}
					}
				}

				console.info('2', valid);

				if ( valid ){

					if ( this.$route.meta.create ){
						this.$api.createProject({},
							(res)=>{
								this.model.id = res.data.id;

								this.$api.updateProject(this.model,
									(res)=>{
										this.$router.push('/projects');
									}
								);
							}
						);
					} else {
						this.$api.updateProject(this.model,
							(res)=>{
								this.$router.push('/projects');
							}
						);
					}

				}

			}
		},

		components:{
			FormField
		}
	}
</script>


<style lang="scss">

</style>