<template lang="pug">
	.case
		.case__item
			router-link(to="/tags/add").btn.btn_green Добавить тег

		.case__menu
			.btn.btn_green(@click="loadTagsList()") Все теги
			.btn(v-for="section in $store.state.tagDirectionActual", :style="'background-color:' + $store.getters.getTagDirection('value', section).color + ';'", v-html=" $store.getters.getTagDirection('value', section).label", @click="loadTagsList(section)")

		.case__item
			.case__inner(v-if="list.length")

				.table
					table
						thead
							tr
								th Название
								th Раздел
								th(colspan='2').sqz Управление
						//-vue-scroll
						tbody
							tr(v-for='(item, index) in list')
								td {{ item.name }}
								td
									.label(:style="'background-color:' + $store.getters.getTagDirection('value', item.section).color + ';'", v-html=" $store.getters.getTagDirection('value', item.section).label")
								td.sqz
									router-link(:to="'/tags/' + item.id", v-tooltip="'Редактировать'").btn.btn_green: .ico.ico-pencil-square-o
								td.sqz
									.btn.btn_red(@click="preDelete(item)", v-tooltip="'Удалить'"): .ico.ico-trash

			.case__inner(v-else) Список тегов пуст



		Popup(:name="'removeTag'")
			.popup__title Удалить тег?
			.popup__text Вы уверены что хотите удалить тег #[b {{ deleteItem.name }}] раздела #[b {{ deleteItem.part }}]?
			.popup__btn
				.btn.btn_green(@click="$store.commit('popup', 'close')") Отменить
				.btn.btn_red(@click="confirmDelete") Удалить

</template>

<script>


	import Popup from './component/popup.vue'

	export default {
		data () {
			return {
				list: [],
				deleteItem: {},
			}
		},

		mounted(){
			//this.loadTagsList(this.$store.state.tagDirectionActual[0]);
			this.loadTagsList();
		},

		methods:{
			loadTagsList(section){
				this.list = this.$store.getters.getTags(section);
			},

			preDelete(item){

				this.deleteItem = item;
				this.deleteItem.part = this.$store.getters.getTagDirection('value', item.section).label;
				this.$store.commit('popup', 'removeTag')
			},

			confirmDelete(){
				this.$api.deleteTag({id: this.deleteItem.id},
					()=>{
						this.$store.dispatch('loadTags')
					},
					()=>{},
					()=>{
						this.$store.commit('popup', 'close');
					}
				);
			}
		},

		components:{
			Popup
		}
	}
</script>


<style lang="scss">

</style>