<template lang="pug">
	.case
		.case__item(v-if="$route.meta.create || (model && model.id)")
			.case__inner
				form(action='/', method='post', @submit.prevent="onSubmit", novalidate)
					FormField(v-for='(field, index) in fields', :field='field', :model='model', :key='index', :ref="field.name")

		.case__item(v-else)
			.case__inner Тег не создан или удален

</template>

<script>

	import FormField from './component/formField.vue'
	import slugify from 'slugify'

	export default {
		data () {
			return {
				model: {
					name: '',
					slug: '',
					section: ''
				},

				fields: [

					{
						type: 'text',
						name: 'name',
						placeholder: 'Название тега',
						required: true,
						onKeyup: (val)=>{

							try {
								this.model.slug = slugify(val, {
									replacement: '_',
									lower: true
								}).replace(/[.%~]/img, '_').match(/[a-z0-9_\-]/img).join('') + (this.model.section ? '_' + this.model.section : '');
							} catch (e) {}

							this.$refs.slug[0].error = false;
							this.$refs.slug[0].message = false;
						},
						onChange: ()=>{
							console.info('change slug', this.model.slug);

							this.$api.checkSlug({section: 'tags', slug: this.model.slug},
								(res)=>{
									if ( res.data.status === false){
										this.$refs.slug[0].error = true;
										this.$refs.slug[0].message = res.data.message;
									} else {
										this.$refs.slug[0].error = false;
										this.$refs.slug[0].message = false;
									}
								}
							);
						}
					},

					{
						type: 'text',
						name: 'slug',
						placeholder: 'Адрес (url) страницы',
						required: true,
					},

					{
						type: 'select',
						name: 'section',
						placeholder: 'Раздел',
						required: true,
						items: this.$store.state.tagDirection,
						onChange: ()=>{

							this.model.slug = this.model.slug + '_' + this.model.section;

							this.$api.checkSlug({section: 'tags', slug: this.model.slug},
								(res)=>{
									if ( res.data.status === false){
										this.$refs.slug[0].error = true;
										this.$refs.slug[0].message = res.data.message;
									} else {
										this.$refs.slug[0].error = false;
										this.$refs.slug[0].message = false;
									}
								}
							);
						}
					},

					{
						type: 'submit',
						value: this.$route.meta.create ? 'Создать тег' : 'Редактировать тег'
					}

				]
			}
		},

		mounted(){
			if ( this.$route.params && this.$route.params.id){
				this.$api.getTag({id: this.$route.params.id},
					(res)=>{
						this.model = res.data.data;
					}
				);
			}
		},

		methods: {
			onSubmit(){

				let valid = true;

				for (let i = 0; i < this.fields.length; i++){
					if ( this.fields[i].name ) {
						if (this.$refs[this.fields[i].name][0].validate().errors.length){
							valid = false;
						}
					}
				}

				if ( valid ){

					let method = this.$route.meta.create ? 'addTag' : 'updateTag' ;

					this.$api[method](this.model,
						(res)=>{
							if (res.data.status){
								this.$router.push('/tags');
								this.$store.dispatch('loadTags');
							}
						}
					);

				}

			}
		},

		components:{
			FormField
		}
	}
</script>


<style lang="scss">

</style>