<template lang="pug">
	.case
		.case__item
			router-link(to="/users/add").btn.btn_green Добавить сотрудника
		.case__item
			.case__inner(v-if="$store.state.users.length")

				.table
					table
						thead
							tr
								th.sqz №
								th Почта
								th Логин
								th Описание
								th(colspan='2').sqz Управление
						//-vue-scroll
						tbody
							tr(v-for='(item, index) in $store.state.users')
								td {{ index + 1 }}
								td {{ item.email }}
								td {{ item.login }}
								td {{ item.description }}
								td.sqz
									router-link(:to="'/users/' + item.id", v-tooltip="'Редактировать'").btn.btn_green: .ico.ico-pencil-square-o
								td.sqz
									.btn.btn_red(v-if="item.level !== '0'", @click="preDelete(item)", v-tooltip="'Удалить'"): .ico.ico-trash

			.case__inner(v-else) Список пользователей пуст



		Popup(:name="'deleteItem'")
			.popup__title Удалить аккаунт сотрудника?
			.popup__text Вы уверены что хотите удалить аккаунт сотрудника #[b {{ deleteItem.email }}]?
			.popup__btn
				.btn.btn_green(@click="$store.commit('popup', 'close')") Отменить
				.btn.btn_red(@click="confirmDelete") Удалить

</template>

<script>

	import Popup from './component/popup.vue'

	export default {
		data () {
			return {
				deleteItem: {}
			}
		},

		mounted(){

		},

		methods: {
			preDelete(item){
				this.deleteItem = item;
				this.$store.commit('popup', 'deleteItem')
			},

			confirmDelete(){
				this.$api.deleteUser({id: this.deleteItem.id},
					()=>{
						this.$store.dispatch('loadUsers');
					},
					()=>{},
					()=>{
						this.$store.commit('popup', 'close');
					}
				);
			}
		},

		components:{
			Popup
		}
	}
</script>


<style lang="scss">

</style>