<template lang="pug">
	.case
		.case__item(v-if="$route.meta.create || (model && model.id)")
			.case__inner
				form(action='/', method='post', @submit.prevent="onSubmit", novalidate)
					FormField(v-for='(field, index) in fields', :field='field', :model='model', :key='index', :ref="field.name")

		.case__item(v-else)
			.case__inner Аккаунт не создан или удален

</template>

<script>

	import FormField from './component/formField.vue'

	export default {
		data () {
			return {
				model: {
					login: '',
					password: '',
					description: '',
					email: ''
				},

				fields: [

					{
						type: 'email',
						name: 'email',
						placeholder: 'Почта пользователя',
						required: true,
						onKeyup: (val)=>{
							if (this.$route.meta.create) this.model.login = val;
							this.$refs.login[0].error = false;
							this.$refs.login[0].message = false;
						}
					},

					{
						type: 'text',
						name: 'login',
						placeholder: 'Логин пользователя (для авторизации)',
						required: true,
					},

					{
						type: 'password',
						name: 'password',
						placeholder: 'Пароль',
						required: true,
					},

					{
						type: 'textarea',
						name: 'description',
						placeholder: 'Описание пользователя',
						// required: true,
					},

					{
						type: 'submit',
						value: this.$route.meta.create ? 'Создать пользователя' : 'Редактировать пользователя'
					}

				]
			}
		},

		mounted(){
			if ( this.$route.params && this.$route.params.id){
				this.$api.getUser({id: this.$route.params.id},
					(res)=>{
						this.model = res.data.data;
					}
				);
			}
		},

		methods: {
			onSubmit(){

				let valid = true;

				for (let i = 0; i < this.fields.length; i++){
					if ( this.fields[i].name ) {
						if (this.$refs[this.fields[i].name][0].validate().errors.length){
							valid = false;
						}
					}
				}

				if ( valid ){

					let method = this.$route.meta.create ? 'addUser' : 'updateUser' ;

					this.$api[method](this.model,
						(res)=>{
							if (res.data.status){
								this.$router.push('/users');
								this.$store.dispatch('loadTags');
								this.$store.dispatch('loadUsers');
							}
						}
					);

				}

			}
		},

		components:{
			FormField
		}
	}
</script>


<style lang="scss">

</style>