<template lang="pug">

	div
		.dashboard__overlay(@click="$store.state.aside.show = false")

		.dashboard__aside
			.dashboard__header
			.dashboard__content
				vue-scroll(:ops="{rail:{gutterOfEnds:0,gutterOfSide:0},bar:{opacity:0}}").dashboard__menu

					.dashboard__menu-item(v-for='(item, index) in menu', :class="{ 'is-active' : $route.meta.group === item.group}", v-if=' !item.disable')
						router-link(:to="item.url", :class="{ 'is-active' : $route.meta.group === item.group}").dashboard__menu-link #[.ico(:class="'ico-' + item.ico")]{{ item.title }}
						.dashboard__submenu(v-if="item.submenu")
							.dashboard__submenu-item(v-for='(submenu, subindex) in item.submenu')
								router-link(:to="submenu.url").dashboard__submenu-link {{ submenu.title }}

					//-.dashboard__menu-group(v-for='(item, index) in menu', :class="{ 'is-active' : item.group && $route.meta.group === item.group}")
						router-link(v-if="!item.submenu", :to="item.url").dashboard__menu-item
							.ico(:class="'ico-' + item.ico")
							.dashboard__menu-link {{ item.title }}


					//-.dashboard__menu-group
						router-link(to="/").dashboard__menu-item
							.ico.ico-home
							.dashboard__menu-link Главная
					//-.dashboard__menu-group(:class="{ 'is-active' : $route.meta.group === 'news', 'is-open': activeGroup === 'news'}")
						.dashboard__menu-item(@click="toggleMenu")
							.ico.ico-newspaper-o
							.dashboard__menu-link Новости
							.dashboard__menu-arrow: .ico.ico-sort-desc
						.dashboard__menu-submenu
							router-link(to="/news").dashboard__menu-item
								//-.ico.ico-list
								.dashboard__menu-link Список новостей
							router-link(to="/news/tags").dashboard__menu-item
								//-.ico.ico-tags
								.dashboard__menu-link Теги новостей
							router-link(to="/news/add").dashboard__menu-item
								//-.ico.ico-plus
								.dashboard__menu-link Добавить новость

					//-.dashboard__menu-group(:class="{ 'is-active' : $route.meta.group === 'projects', 'is-open': activeGroup === 'projects' }")
						.dashboard__menu-item(@click="toggleMenu")
							.ico.ico-briefcase
							.dashboard__menu-link Проекты
							.dashboard__menu-arrow: .ico.ico-sort-desc
						.dashboard__menu-submenu
							router-link(to="/projects").dashboard__menu-item
								//-.ico.ico-list
								.dashboard__menu-link Список проектов
							router-link(to="/projects/tags").dashboard__menu-item
								//-.ico.ico-tags
								.dashboard__menu-link Теги проектов
							router-link(to="/projects/add").dashboard__menu-item
								//-.ico.ico-plus
								.dashboard__menu-link Добавить проект

					//-.dashboard__menu-group(:class="{ 'is-active' : $route.meta.group === 'equipments', 'is-open': activeGroup === 'equipments' }")
						.dashboard__menu-item(@click="toggleMenu")
							.ico.ico-cube
							.dashboard__menu-link Оборудование
							.dashboard__menu-arrow: .ico.ico-sort-desc
						.dashboard__menu-submenu
							router-link(to="/equipments").dashboard__menu-item
								//-.ico.ico-list
								.dashboard__menu-link Список оборудования
							router-link(to="/equipments/tags").dashboard__menu-item
								//-.ico.ico-tags
								.dashboard__menu-link Теги оборудования
							router-link(to="/equipments/add").dashboard__menu-item
								//-.ico.ico-plus
								.dashboard__menu-link Добавить оборудование

					//-.dashboard__menu-group(:class="{ 'is-active' : $route.meta.group === 'brands', 'is-open': activeGroup === 'brands' }")
						.dashboard__menu-item(@click="toggleMenu")
							.ico.ico-apple
							.dashboard__menu-link Бренды
							.dashboard__menu-arrow: .ico.ico-sort-desc
						.dashboard__menu-submenu
							router-link(to="/brands").dashboard__menu-item
								//-.ico.ico-list
								.dashboard__menu-link Список брендов
							router-link(to="/brands/tags").dashboard__menu-item
								//-.ico.ico-tags
								.dashboard__menu-link Теги брендов
							router-link(to="/brands/add").dashboard__menu-item
								//-.ico.ico-plus
								.dashboard__menu-link Добавить бренд

			.dashboard__footer
				.dashboard__footer-out(@click="logout") Выйти
				i.ico.ico-arrow-left(v-tooltip="!$store.state.aside.show && $store.state.aside.compact ? 'Развернуть меню' : 'Свернуть меню'", @click="$store.state.aside.show = false; $store.state.aside.compact = !$store.state.aside.compact; hideSubmenu()")



</template>

<script>


	export default {
		data () {

			return {
				activeGroup: null,

				menu: [

					{
						title: 'Главная',
						url: '/',
						ico: 'home'
					},

					{
						title: 'Новости',
						url: '/news',
						group: 'news',
						ico: 'newspaper-o',
						disable: this.$store.state.user.info.level > 0
					},

					{
						title: 'Проекты',
						url: '/projects',
						group: 'projects',
						ico: 'briefcase',
						disable: this.$store.state.user.info.level > 0
					},

					{
						title: 'Оборудование',
						url: '/equipments',
						group: 'equipments',
						ico: 'cube',
						disable: this.$store.state.user.info.level > 0
					},

					{
						title: 'Бренды',
						url: '/brands',
						group: 'brands',
						ico: 'apple',
						disable: this.$store.state.user.info.level > 0
					},

					{
						title: 'Теги',
						url: '/tags',
						ico: 'tag',
						group: 'tags',
						disable: this.$store.state.user.info.level > 0
					},

					{
						title: 'Сотрудники',
						url: '/users',
						ico: 'user',
						group: 'users',
						disable: this.$store.state.user.info.level > 0
						/*submenu: [
							{
								title: 'Теги проектов',
								url: '/projects/tags'
							},
							{
								title: 'Добавить проект',
								url: '/projects/add'
							}
						]*/
					},

					{
						title: 'Заявки',
						url: '/feedback',
						ico: 'comments',
						group: 'feedback',
						/*submenu: [
							{
								title: 'Новые',
								url: '/feedback/new'
							},
							{
								title: 'В работе',
								url: '/feedback/active'
							},
							{
								title: 'Обработанные',
								url: '/feedback/archive'
							}
						]*/
					},

					/*{
						title: 'Новости',
						url: '/news',
						ico: 'newspaper-o',
						group: 'news',
						submenu: [
							{
								title: 'Теги новостей',
								url: '/news/tags'
							},
							{
								title: 'Добавить новость',
								url: '/news/add'
							}
						]
					},

					{
						title: 'Проекты',
						url: '/projects',
						ico: 'briefcase',
						group: 'projects',
						submenu: [
							{
								title: 'Теги проектов',
								url: '/projects/tags'
							},
							{
								title: 'Добавить проект',
								url: '/projects/add'
							}
						]
					},

					{
						title: 'Оборудование',
						url: '/equipments',
						ico: 'cube',
						group: 'equipments',
						submenu: [
							{
								title: 'Теги оборудования',
								url: '/equipments/tags'
							},
							{
								title: 'Добавить оборудование',
								url: '/equipments/add'
							}
						]
					},

					{
						title: 'Бренды',
						url: '/brands',
						ico: 'apple',
						group: 'brands',
						submenu: [
							{
								title: 'Теги',
								url: '/brands/tags'
							},
							{
								title: 'Добавить бренд',
								url: '/brands/add'
							}
						]
					}
*/
				]
			}
		},

		beforeCreate (){
			// if (isDev) console.info('beforeCreate')
		},
		created (){

		},

		destroyed (){
			// if (isDev) console.info('destroyed')
		},

		beforeMount (){
			// if (isDev) console.info('beforeMount')
		},
		mounted (){

			this.activeGroup = this.$route.meta.group;

			if (isLocal) console.info(this.$route);


		},
		beforeUpdate (){
			// if (isDev) console.info('beforeUpdate')
		},
		updated (){
			// if (isDev) console.info('updated')
		},

		watch: {
			$route (to, from){
				console.info(to);
			}
		},

		components: {

		},

		methods: {

			hideSubmenu(){

				if ( !this.$store.state.aside.compact ) return false;

				let $group = $(this.$el).find('.dashboard__menu-group'),
					$submenu = $group.find('.dashboard__menu-submenu')
				;

				if ( $group.hasClass('in-action') ) return false;

				$group.addClass('in-action');
				$submenu.slideUp(()=>{
					$group.removeClass('is-open in-action');
				});

			},

			toggleMenu(e){

				let $t = $(e.target),
					$group = $t.closest('.dashboard__menu-group'),
					$submenu = $group.find('.dashboard__menu-submenu')
				;

				if ( $group.hasClass('in-action') ) return false;

				$group.addClass('in-action');
				$submenu.slideToggle(()=>{
					$group.toggleClass('is-open in-action');
				});

				this.$store.state.aside.compact = false;
			},

			logout(){
				this.$api.logout({},
					(res)=>{
						this.$store.state.user.info.auth = false;
					}
				);
			}
		}
	}
</script>

<style lang="scss">

</style>