<template lang="pug">

	footer.footer Footer


</template>

<script>

	export default {
		data() {
			return {

			}
		},

		mounted (){

		},

		methods:{
		},

		components:{

		}
	}
</script>

<style lang="scss">

</style>