<template lang="pug">
	.popup.popup_login
		.popup__overlay
		.popup__layout
			.popup__content
				.popup__title Авторизация
				.popup__form
					form(action='/', method='post', @submit.prevent="onSubmit", novalidate)
						FormField(v-for='(field, index) in fields', :field='field', :model='model', :key='index', :ref="field.name")




</template>

<script>

	import FormField from '../component/formField.vue'

	export default {
		data () {
			return {
				model: {
					login: '',
					password: ''
				},


				fields: [
					{
						type: 'text',
						name: 'login',
						placeholder: 'Логин',
						required: true,
						onChange: (value)=>{
							console.info('onChange', value);
							//this.$refs.email_name[0].validate();
						}
					},

					{
						type: 'password',
						name: 'password',
						placeholder: 'Пароль',
						required: true,
						onChange: (value)=>{
							console.info('onChange', value);
						}
					},
					{
						type: 'submit',
						value: 'Войти'
					}
				]
			}
		},

		beforeCreate (){
			// if (isDev) console.info('beforeCreate')
		},
		created (){

		},

		destroyed (){
			// if (isDev) console.info('destroyed')
		},

		beforeMount (){
			// if (isDev) console.info('beforeMount')
		},
		mounted (){
		},
		beforeUpdate (){
			// if (isDev) console.info('beforeUpdate')
		},
		updated (){
			// if (isDev) console.info('updated')
		},

		watch: {

		},

		components: {
			FormField
		},

		methods: {
			onSubmit(){

				let valid = true;

				for (let i = 0; i < this.fields.length; i++){
					if ( this.fields[i].name ) {
						if (this.$refs[this.fields[i].name][0].validate().errors.length){
							valid = false;
						}
					}
				}

				if ( valid ){
					this.$api.login(this.model,
						(res)=>{
							this.$store.state.user.info = res.data;

							if (res.data.directions && res.data.directions.length ){
								this.$store.commit('loadDirections', res.data.directions);
							}
						},
						(err)=>{

						},
						()=>{
							//this.$store.commit('endLoading');
						}
					);
				}

			}
		}
	}
</script>

<style lang="scss">

</style>