<template lang="pug">
	.dashboard(:class="{ 'is-nav-show' : $store.state.aside.show, 'is-nav-compact' : $store.state.aside.compact}")
		Aside
		.dashboard__page(v-if="$store.getters.getDataLoaded")
			.dashboard__header
				.dashboard__header-left
					.dashboard__header-handler.dashboard__header-btn
						i.ico.ico-bars(@click="$store.state.aside.show = !$store.state.aside.show")
					.dashboard__header-title {{ $route.meta.title }}
				.dashboard__header-info(v-if="$store.state.user.info.num_requests > 0 && $store.state.user.info.level < 1")
					.dashboard__header-btn
						i.ico.ico-envelope(v-tooltip="$store.state.user.info.num_requests +' новых заявок'")
							.ico__counter {{ $store.state.user.info.num_requests }}
					//-.dashboard__header-btn
						i.ico.ico-folder(v-tooltip="'Обработано 5 новых заявок'")
							.ico__counter 5
			.dashboard__content
				transition(mode='out-in', name="tr-fade"): router-view
			.dashboard__footer
				.dashboard__footer-links
					router-link(to="/news/add") Добавить новость
					router-link(to="/projects/add") Добавить проект
					router-link(to="/equipments/add") Добавить оборудование
					router-link(to="/brands/add") Добавить бренд
				.dashboard__footer-site
					a(href='/', target='_blank') Перейти к сайту

</template>

<script>

	import Aside from './aside.vue'

	export default {
		data () {
			return {

			}
		},

		beforeCreate (){
			// if (isDev) console.info('beforeCreate')
		},
		created (){
			this.$api.register({},
				(res)=>{
					this.$store.state.user.info = res.data;

					if (res.data.directions && res.data.directions.length ){
						this.$store.commit('loadDirections', res.data.directions);
					}
				}
			);
		},

		destroyed (){
			// if (isDev) console.info('destroyed')
		},

		beforeMount (){
			// if (isDev) console.info('beforeMount')
		},
		mounted (){



			if ( this.$store.state.user.info.level < 1){
				this.$store.dispatch('loadBrands');
				this.$store.dispatch('loadTags');
				this.$store.dispatch('loadUsers');
			}

			this.$store.dispatch('loadFeedbackInfo');

		},
		beforeUpdate (){
			// if (isDev) console.info('beforeUpdate')
		},
		updated (){
			// if (isDev) console.info('updated')
		},

		watch: {


		},

		components: {
			Aside
		},

		methods: {

		}
	}
</script>

<style lang="scss">

</style>