<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Технофлот</title>
    <meta property="og:title" content="Технофлот"/>
    <meta property="og:description" content="base"/>
    <meta property="og:image" content="/img.jpg"/>
    <meta property="og:url" content="{{page url}}"/>
    <meta name="twitter:title" content="Технофлот"/>
    <meta name="twitter:description" content="base"/>
    <meta name="twitter:image" content="/img.jpg"/>
    <meta name="twitter:card" content="summary_large_image"/>
    <link rel="apple-touch-icon" sizes="180x180" href="../img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#6cc74d">
    <meta name="theme-color" content="#6cc74d">
  <link href="css/index.style.css?333218ed11ca1cb4b6bc" rel="stylesheet"></head>
  <body>
    <div class="wrapper wrapper_main">
      <header class="header">
        <div class="inner"><a class="header__logo" href="/"><img src="img/technoflot-logo.svg" alt="Технофлот"></a>
          <div class="header__control">
            <div class="header__text">
              <div class="header__text-item header__text-item_phone"><span>СПБ +7 (812) 545-69-19</span><br><span>МСК +7 (495) 739-42-79</span></div>
              <div class="header__text-item header__text-item_email">info@tfdecor.ru</div>
            </div>
            <div class="header__soc"><a class="header__soc-item" href="https://www.facebook.com/technoflot/" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
<path fill="#FFFFFF" d="M37,24.4c-1.8,0-3.1,0.6-4.4,1.2V39c1.2,0.1,2,0.1,3.1,0.1c4.3,0,4.8-2,4.8-4.7V28C40.6,26,39.9,24.4,37,24.4L37,24.4z M13.7,45.9H5V24.8H0.7v-7.3H5v-4.4c0-5.9,2.5-9.4,9.4-9.4h5.8V11h-3.6c-2.7,0-2.9,1-2.9,2.9l0,3.6h6.6l-0.8,7.3h-5.8L13.7,45.9L13.7,45.9z M49.3,34.4c0,6.9-2,11.9-13.8,11.9c-4.3,0-6.8-0.4-11.5-1.1V5.9l8.7-1.5v13.7c1.9-0.7,4.3-1.1,6.5-1.1c8.7,0,10.1,3.9,10.1,10.2L49.3,34.4L49.3,34.4z"/>
</svg>
</a><a class="header__soc-item" href="https://instagram.com/technoflot" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
<path fill="#ffffff" d="M17.7,25c0-4,3.3-7.3,7.3-7.3s7.3,3.3,7.3,7.3S29,32.3,25,32.3S17.7,29,17.7,25 M13.7,25c0,6.2,5.1,11.3,11.3,11.3S36.3,31.2,36.3,25S31.2,13.7,25,13.7S13.7,18.8,13.7,25 M34.1,13.3c0,1.5,1.2,2.6,2.6,2.6c1.5,0,2.6-1.2,2.6-2.6s-1.2-2.6-2.6-2.6h0C35.3,10.6,34.1,11.8,34.1,13.3 M16.1,42.9c-2.1-0.1-3.3-0.5-4.1-0.8c-1-0.4-1.8-0.9-2.5-1.6S8.3,39,7.9,38c-0.3-0.8-0.7-1.9-0.8-4.1C7,31.6,7,30.9,7,25s0-6.6,0.1-8.9C7.2,14,7.6,12.8,7.9,12c0.4-1,0.9-1.8,1.6-2.5S11,8.3,12,7.9c0.8-0.3,1.9-0.7,4.1-0.8C18.4,7,19.1,7,25,7s6.6,0,8.9,0.1C36,7.2,37.2,7.6,38,7.9c1,0.4,1.8,0.9,2.5,1.6s1.2,1.5,1.6,2.5c0.3,0.8,0.7,1.9,0.8,4.1c0.1,2.3,0.1,3,0.1,8.9s0,6.6-0.1,8.9c-0.1,2.1-0.5,3.3-0.8,4.1c-0.4,1-0.9,1.8-1.6,2.5c-0.8,0.8-1.5,1.2-2.5,1.6c-0.8,0.3-1.9,0.7-4.1,0.8C31.6,43,30.9,43,25,43S18.4,43,16.1,42.9 M15.9,3.2c-2.3,0.1-3.9,0.5-5.3,1C9.2,4.7,7.9,5.5,6.7,6.7s-2,2.4-2.5,3.9c-0.5,1.4-0.9,3-1,5.3C3,18.3,3,19,3,25s0,6.7,0.1,9.1c0.1,2.3,0.5,3.9,1,5.3c0.6,1.4,1.3,2.7,2.5,3.9s2.4,2,3.9,2.5c1.4,0.5,3,0.9,5.3,1C18.3,46.9,19,47,25,47s6.7,0,9.1-0.1c2.3-0.1,3.9-0.5,5.3-1c1.4-0.6,2.7-1.3,3.9-2.5s2-2.4,2.5-3.9c0.5-1.4,0.9-3,1-5.3C47,31.7,47,31,47,25s0-6.7-0.1-9.1c-0.1-2.3-0.5-3.9-1-5.3c-0.6-1.4-1.3-2.7-2.5-3.9c-1.2-1.2-2.4-2-3.9-2.5c-1.4-0.5-3-0.9-5.3-1C31.7,3.1,31,3,25,3S18.3,3,15.9,3.2"/>
<path fill="#ffffff" d="M17.7,25c0-4,3.3-7.3,7.3-7.3s7.3,3.3,7.3,7.3S29,32.3,25,32.3S17.7,29,17.7,25 M13.7,25c0,6.2,5.1,11.3,11.3,11.3S36.3,31.2,36.3,25S31.2,13.7,25,13.7S13.7,18.8,13.7,25 M34.1,13.3c0,1.5,1.2,2.6,2.6,2.6c1.5,0,2.6-1.2,2.6-2.6s-1.2-2.6-2.6-2.6h0C35.3,10.6,34.1,11.8,34.1,13.3 M16.1,42.9c-2.1-0.1-3.3-0.5-4.1-0.8c-1-0.4-1.8-0.9-2.5-1.6S8.3,39,7.9,38c-0.3-0.8-0.7-1.9-0.8-4.1C7,31.6,7,30.9,7,25s0-6.6,0.1-8.9C7.2,14,7.6,12.8,7.9,12c0.4-1,0.9-1.8,1.6-2.5S11,8.3,12,7.9c0.8-0.3,1.9-0.7,4.1-0.8C18.4,7,19.1,7,25,7s6.6,0,8.9,0.1C36,7.2,37.2,7.6,38,7.9c1,0.4,1.8,0.9,2.5,1.6s1.2,1.5,1.6,2.5c0.3,0.8,0.7,1.9,0.8,4.1c0.1,2.3,0.1,3,0.1,8.9s0,6.6-0.1,8.9c-0.1,2.1-0.5,3.3-0.8,4.1c-0.4,1-0.9,1.8-1.6,2.5c-0.8,0.8-1.5,1.2-2.5,1.6c-0.8,0.3-1.9,0.7-4.1,0.8C31.6,43,30.9,43,25,43S18.4,43,16.1,42.9 M15.9,3.2c-2.3,0.1-3.9,0.5-5.3,1C9.2,4.7,7.9,5.5,6.7,6.7s-2,2.4-2.5,3.9c-0.5,1.4-0.9,3-1,5.3C3,18.3,3,19,3,25s0,6.7,0.1,9.1c0.1,2.3,0.5,3.9,1,5.3c0.6,1.4,1.3,2.7,2.5,3.9s2.4,2,3.9,2.5c1.4,0.5,3,0.9,5.3,1C18.3,46.9,19,47,25,47s6.7,0,9.1-0.1c2.3-0.1,3.9-0.5,5.3-1c1.4-0.6,2.7-1.3,3.9-2.5s2-2.4,2.5-3.9c0.5-1.4,0.9-3,1-5.3C47,31.7,47,31,47,25s0-6.7-0.1-9.1c-0.1-2.3-0.5-3.9-1-5.3c-0.6-1.4-1.3-2.7-2.5-3.9c-1.2-1.2-2.4-2-3.9-2.5c-1.4-0.5-3-0.9-5.3-1C31.7,3.1,31,3,25,3S18.3,3,15.9,3.2"/>
</svg>
</a><a class="header__soc-item" href="https://vk.com/techno_flot/" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" >
<path fill="#fff" d="M49.7,36.5c-0.1-0.1-0.1-0.2-0.2-0.3c-0.9-1.6-2.5-3.5-5-5.8l-0.1-0.1l0,0l0,0h0c-1.1-1.1-1.8-1.8-2.1-2.1c-0.5-0.7-0.7-1.4-0.4-2.1c0.2-0.5,1-1.7,2.3-3.4c0.7-0.9,1.3-1.7,1.7-2.2c3-4,4.3-6.5,3.9-7.7l-0.2-0.3c-0.1-0.2-0.4-0.3-0.8-0.4C48.5,12,48,12,47.3,12l-7.5,0.1c-0.1,0-0.3,0-0.5,0c-0.2,0.1-0.3,0.1-0.3,0.1l-0.1,0.1l-0.1,0.1c-0.1,0.1-0.2,0.1-0.3,0.3c-0.1,0.1-0.2,0.3-0.3,0.5c-0.8,2.1-1.7,4.1-2.8,5.9c-0.6,1.1-1.2,2-1.8,2.8c-0.5,0.8-1,1.4-1.4,1.7c-0.4,0.4-0.7,0.7-1,0.9c-0.3,0.2-0.5,0.3-0.7,0.3c-0.2,0-0.3-0.1-0.4-0.1c-0.2-0.2-0.4-0.4-0.6-0.6c-0.1-0.3-0.2-0.6-0.3-1c-0.1-0.4-0.1-0.8-0.1-1.1c0-0.3,0-0.7,0-1.2c0-0.5,0-0.9,0-1.1c0-0.7,0-1.4,0-2.1c0-0.8,0-1.4,0.1-1.8c0-0.5,0-0.9,0-1.4c0-0.5,0-0.9-0.1-1.2c-0.1-0.3-0.2-0.6-0.3-0.8c-0.1-0.3-0.3-0.5-0.5-0.6c-0.2-0.1-0.5-0.3-0.9-0.4c-0.9-0.2-2.1-0.3-3.5-0.3c-3.2,0-5.3,0.2-6.2,0.6c-0.4,0.2-0.7,0.5-1,0.8c-0.3,0.4-0.4,0.6-0.1,0.6c1,0.2,1.8,0.5,2.2,1.1l0.2,0.3c0.1,0.2,0.2,0.6,0.4,1.2c0.1,0.6,0.2,1.2,0.2,1.9c0.1,1.3,0.1,2.4,0,3.3c-0.1,0.9-0.2,1.6-0.2,2.1c-0.1,0.5-0.2,0.9-0.4,1.2c-0.2,0.3-0.3,0.5-0.3,0.6c-0.1,0.1-0.1,0.1-0.1,0.1c-0.2,0.1-0.5,0.1-0.7,0.1c-0.2,0-0.5-0.1-0.9-0.4c-0.3-0.2-0.7-0.6-1.1-1c-0.4-0.4-0.8-1-1.3-1.8c-0.5-0.8-1-1.7-1.5-2.7l-0.4-0.8c-0.3-0.5-0.6-1.2-1.1-2.1c-0.5-0.9-0.9-1.8-1.2-2.7c-0.1-0.4-0.3-0.6-0.6-0.8l-0.1-0.1c-0.1-0.1-0.2-0.1-0.4-0.2C9.2,12.1,9,12,8.8,12L1.7,12c-0.7,0-1.2,0.2-1.5,0.5l-0.1,0.2C0,12.8,0,12.9,0,13.1c0,0.2,0.1,0.4,0.2,0.7c1,2.4,2.2,4.8,3.4,7.1c1.2,2.3,2.3,4.1,3.2,5.5c0.9,1.4,1.8,2.7,2.8,3.9c0.9,1.2,1.6,2,1.9,2.4c0.3,0.3,0.5,0.6,0.7,0.8l0.7,0.6c0.4,0.4,1,0.9,1.8,1.5c0.8,0.6,1.7,1.2,2.7,1.7c1,0.6,2.1,1,3.4,1.4c1.3,0.4,2.6,0.5,3.8,0.4h3c0.6-0.1,1.1-0.2,1.4-0.6l0.1-0.1c0.1-0.1,0.1-0.3,0.2-0.5c0.1-0.2,0.1-0.5,0.1-0.7c0-0.7,0-1.4,0.2-2c0.1-0.6,0.3-1,0.4-1.4c0.2-0.3,0.4-0.6,0.6-0.8c0.2-0.2,0.4-0.3,0.4-0.4c0.1,0,0.2-0.1,0.2-0.1c0.4-0.1,0.9,0,1.5,0.4c0.6,0.4,1.1,0.9,1.6,1.5c0.5,0.6,1.1,1.3,1.8,2c0.7,0.7,1.3,1.3,1.8,1.7l0.5,0.3c0.3,0.2,0.8,0.4,1.4,0.6c0.6,0.2,1,0.2,1.5,0.1l6.7-0.1c0.7,0,1.2-0.1,1.5-0.3c0.4-0.2,0.6-0.5,0.7-0.7c0.1-0.3,0.1-0.6,0-0.9C49.9,36.9,49.8,36.6,49.7,36.5z"/>
</svg>
</a></div>
            <div class="header__search">
              <form action="search.html" method="get">
                <div class="header__search-input">
                  <input type="text" name="query" autocomplete="off">
                </div>
                <div class="header__search-ico"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50"><path  d="M45.5,41.1l-9.6-9.6c2-2.9,3.2-6.3,3.2-10.1c0-9.8-8-17.7-17.7-17.7c-9.8,0-17.7,7.9-17.7,17.7c0,9.8,8,17.7,17.7,17.7c3.7,0,7.2-1.2,10.1-3.2l9.6,9.6c1.2,1.2,3.2,1.2,4.4,0C46.7,44.3,46.7,42.3,45.5,41.1z M21.4,32.9C15,32.8,9.9,27.7,9.9,21.4c0-6.3,5.1-11.5,11.5-11.5c6.3,0,11.4,5.1,11.4,11.5C32.8,27.8,27.7,32.9,21.4,32.9z"/></svg>

                </div>
              </form>
            </div><a class="header__call" href="tel:+78124546919">
              <div class="header__call-btn btn btn_border">Позвоните нам</div>
              <div class="header__call-ico"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50"><path d="M44.2,40.6c-0.6,1.4-2.2,2.3-3.5,3c-1.7,0.9-3.4,1.5-5.3,1.5c-2.7,0-5.1-1.1-7.5-2c-1.7-0.6-3.4-1.4-5-2.4C18,37.7,12.2,31.8,9.2,27c-1-1.6-1.7-3.3-2.4-5c-0.9-2.4-2-4.8-2-7.5c0-1.9,0.5-3.6,1.5-5.3C7,8,8,6.3,9.4,5.7c0.9-0.4,2.9-0.9,4-0.9c0.2,0,0.4,0,0.6,0.1c0.6,0.2,1.2,1.6,1.5,2.2c0.9,1.6,1.8,3.3,2.7,4.9c0.5,0.7,1.3,1.7,1.3,2.5c0,1.7-5.2,4.3-5.2,5.8c0,0.8,0.7,1.8,1.1,2.5c2.9,5.2,6.5,8.8,11.7,11.7c0.7,0.4,1.7,1.1,2.5,1.1c1.5,0,4.1-5.2,5.8-5.2c0.9,0,1.8,0.9,2.5,1.3c1.6,0.9,3.3,1.8,4.9,2.7c0.6,0.3,2,0.9,2.2,1.5c0.1,0.2,0.1,0.4,0.1,0.6C45.1,37.7,44.7,39.7,44.2,40.6z"/></svg>

              </div></a>
            <div class="header__handler">
              <div class="header__handler-text">Меню</div>
              <div class="header__handler-ico"></div>
            </div>
          </div>
        </div>
      </header>
      <nav class="nav">
        <div class="nav__layout scrollable">
          <div class="nav__inner">
            <div class="nav__close"><i></i></div>
            <div class="nav__menu">
              <div class="nav__menu-list">
                <div class="nav__menu-item"><a class="nav__menu-link" href="kitchen.html">Рестораны</a></div>
                <div class="nav__menu-item"><a class="nav__menu-link" href="hotel.html">Отели</a></div>
                <div class="nav__menu-item"><a class="nav__menu-link" href="bakery.html">Пекарни</a></div>
                <div class="nav__menu-item"><a class="nav__menu-link" href="retail.html">Ритейл</a></div>
                <div class="nav__menu-item"><a class="nav__menu-link" href="flot.html">Корабли</a></div>
              </div>
            </div>
            <div class="nav__more">
              <div class="nav__more-list">
                <div class="nav__more-item"><a class="nav__more-link" href="news.html">Новости</a></div>
                <div class="nav__more-item"><a class="nav__more-link" href="contacts.html">Контакты</a></div>
              </div>
            </div>
            <div class="nav__soc">
              <div class="nav__soc-list">
                <div class="nav__soc-item"><a class="nav__soc-link" href="https://www.facebook.com/technoflot/" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
<path fill="#FFFFFF" d="M37,24.4c-1.8,0-3.1,0.6-4.4,1.2V39c1.2,0.1,2,0.1,3.1,0.1c4.3,0,4.8-2,4.8-4.7V28C40.6,26,39.9,24.4,37,24.4L37,24.4z M13.7,45.9H5V24.8H0.7v-7.3H5v-4.4c0-5.9,2.5-9.4,9.4-9.4h5.8V11h-3.6c-2.7,0-2.9,1-2.9,2.9l0,3.6h6.6l-0.8,7.3h-5.8L13.7,45.9L13.7,45.9z M49.3,34.4c0,6.9-2,11.9-13.8,11.9c-4.3,0-6.8-0.4-11.5-1.1V5.9l8.7-1.5v13.7c1.9-0.7,4.3-1.1,6.5-1.1c8.7,0,10.1,3.9,10.1,10.2L49.3,34.4L49.3,34.4z"/>
</svg>
</a></div>
                <div class="nav__soc-item"><a class="nav__soc-link" href="https://instagram.com/technoflot" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
<path fill="#ffffff" d="M17.7,25c0-4,3.3-7.3,7.3-7.3s7.3,3.3,7.3,7.3S29,32.3,25,32.3S17.7,29,17.7,25 M13.7,25c0,6.2,5.1,11.3,11.3,11.3S36.3,31.2,36.3,25S31.2,13.7,25,13.7S13.7,18.8,13.7,25 M34.1,13.3c0,1.5,1.2,2.6,2.6,2.6c1.5,0,2.6-1.2,2.6-2.6s-1.2-2.6-2.6-2.6h0C35.3,10.6,34.1,11.8,34.1,13.3 M16.1,42.9c-2.1-0.1-3.3-0.5-4.1-0.8c-1-0.4-1.8-0.9-2.5-1.6S8.3,39,7.9,38c-0.3-0.8-0.7-1.9-0.8-4.1C7,31.6,7,30.9,7,25s0-6.6,0.1-8.9C7.2,14,7.6,12.8,7.9,12c0.4-1,0.9-1.8,1.6-2.5S11,8.3,12,7.9c0.8-0.3,1.9-0.7,4.1-0.8C18.4,7,19.1,7,25,7s6.6,0,8.9,0.1C36,7.2,37.2,7.6,38,7.9c1,0.4,1.8,0.9,2.5,1.6s1.2,1.5,1.6,2.5c0.3,0.8,0.7,1.9,0.8,4.1c0.1,2.3,0.1,3,0.1,8.9s0,6.6-0.1,8.9c-0.1,2.1-0.5,3.3-0.8,4.1c-0.4,1-0.9,1.8-1.6,2.5c-0.8,0.8-1.5,1.2-2.5,1.6c-0.8,0.3-1.9,0.7-4.1,0.8C31.6,43,30.9,43,25,43S18.4,43,16.1,42.9 M15.9,3.2c-2.3,0.1-3.9,0.5-5.3,1C9.2,4.7,7.9,5.5,6.7,6.7s-2,2.4-2.5,3.9c-0.5,1.4-0.9,3-1,5.3C3,18.3,3,19,3,25s0,6.7,0.1,9.1c0.1,2.3,0.5,3.9,1,5.3c0.6,1.4,1.3,2.7,2.5,3.9s2.4,2,3.9,2.5c1.4,0.5,3,0.9,5.3,1C18.3,46.9,19,47,25,47s6.7,0,9.1-0.1c2.3-0.1,3.9-0.5,5.3-1c1.4-0.6,2.7-1.3,3.9-2.5s2-2.4,2.5-3.9c0.5-1.4,0.9-3,1-5.3C47,31.7,47,31,47,25s0-6.7-0.1-9.1c-0.1-2.3-0.5-3.9-1-5.3c-0.6-1.4-1.3-2.7-2.5-3.9c-1.2-1.2-2.4-2-3.9-2.5c-1.4-0.5-3-0.9-5.3-1C31.7,3.1,31,3,25,3S18.3,3,15.9,3.2"/>
<path fill="#ffffff" d="M17.7,25c0-4,3.3-7.3,7.3-7.3s7.3,3.3,7.3,7.3S29,32.3,25,32.3S17.7,29,17.7,25 M13.7,25c0,6.2,5.1,11.3,11.3,11.3S36.3,31.2,36.3,25S31.2,13.7,25,13.7S13.7,18.8,13.7,25 M34.1,13.3c0,1.5,1.2,2.6,2.6,2.6c1.5,0,2.6-1.2,2.6-2.6s-1.2-2.6-2.6-2.6h0C35.3,10.6,34.1,11.8,34.1,13.3 M16.1,42.9c-2.1-0.1-3.3-0.5-4.1-0.8c-1-0.4-1.8-0.9-2.5-1.6S8.3,39,7.9,38c-0.3-0.8-0.7-1.9-0.8-4.1C7,31.6,7,30.9,7,25s0-6.6,0.1-8.9C7.2,14,7.6,12.8,7.9,12c0.4-1,0.9-1.8,1.6-2.5S11,8.3,12,7.9c0.8-0.3,1.9-0.7,4.1-0.8C18.4,7,19.1,7,25,7s6.6,0,8.9,0.1C36,7.2,37.2,7.6,38,7.9c1,0.4,1.8,0.9,2.5,1.6s1.2,1.5,1.6,2.5c0.3,0.8,0.7,1.9,0.8,4.1c0.1,2.3,0.1,3,0.1,8.9s0,6.6-0.1,8.9c-0.1,2.1-0.5,3.3-0.8,4.1c-0.4,1-0.9,1.8-1.6,2.5c-0.8,0.8-1.5,1.2-2.5,1.6c-0.8,0.3-1.9,0.7-4.1,0.8C31.6,43,30.9,43,25,43S18.4,43,16.1,42.9 M15.9,3.2c-2.3,0.1-3.9,0.5-5.3,1C9.2,4.7,7.9,5.5,6.7,6.7s-2,2.4-2.5,3.9c-0.5,1.4-0.9,3-1,5.3C3,18.3,3,19,3,25s0,6.7,0.1,9.1c0.1,2.3,0.5,3.9,1,5.3c0.6,1.4,1.3,2.7,2.5,3.9s2.4,2,3.9,2.5c1.4,0.5,3,0.9,5.3,1C18.3,46.9,19,47,25,47s6.7,0,9.1-0.1c2.3-0.1,3.9-0.5,5.3-1c1.4-0.6,2.7-1.3,3.9-2.5s2-2.4,2.5-3.9c0.5-1.4,0.9-3,1-5.3C47,31.7,47,31,47,25s0-6.7-0.1-9.1c-0.1-2.3-0.5-3.9-1-5.3c-0.6-1.4-1.3-2.7-2.5-3.9c-1.2-1.2-2.4-2-3.9-2.5c-1.4-0.5-3-0.9-5.3-1C31.7,3.1,31,3,25,3S18.3,3,15.9,3.2"/>
</svg>
</a></div>
                <div class="nav__soc-item"><a class="nav__soc-link" href="https://vk.com/techno_flot" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" >
<path fill="#fff" d="M49.7,36.5c-0.1-0.1-0.1-0.2-0.2-0.3c-0.9-1.6-2.5-3.5-5-5.8l-0.1-0.1l0,0l0,0h0c-1.1-1.1-1.8-1.8-2.1-2.1c-0.5-0.7-0.7-1.4-0.4-2.1c0.2-0.5,1-1.7,2.3-3.4c0.7-0.9,1.3-1.7,1.7-2.2c3-4,4.3-6.5,3.9-7.7l-0.2-0.3c-0.1-0.2-0.4-0.3-0.8-0.4C48.5,12,48,12,47.3,12l-7.5,0.1c-0.1,0-0.3,0-0.5,0c-0.2,0.1-0.3,0.1-0.3,0.1l-0.1,0.1l-0.1,0.1c-0.1,0.1-0.2,0.1-0.3,0.3c-0.1,0.1-0.2,0.3-0.3,0.5c-0.8,2.1-1.7,4.1-2.8,5.9c-0.6,1.1-1.2,2-1.8,2.8c-0.5,0.8-1,1.4-1.4,1.7c-0.4,0.4-0.7,0.7-1,0.9c-0.3,0.2-0.5,0.3-0.7,0.3c-0.2,0-0.3-0.1-0.4-0.1c-0.2-0.2-0.4-0.4-0.6-0.6c-0.1-0.3-0.2-0.6-0.3-1c-0.1-0.4-0.1-0.8-0.1-1.1c0-0.3,0-0.7,0-1.2c0-0.5,0-0.9,0-1.1c0-0.7,0-1.4,0-2.1c0-0.8,0-1.4,0.1-1.8c0-0.5,0-0.9,0-1.4c0-0.5,0-0.9-0.1-1.2c-0.1-0.3-0.2-0.6-0.3-0.8c-0.1-0.3-0.3-0.5-0.5-0.6c-0.2-0.1-0.5-0.3-0.9-0.4c-0.9-0.2-2.1-0.3-3.5-0.3c-3.2,0-5.3,0.2-6.2,0.6c-0.4,0.2-0.7,0.5-1,0.8c-0.3,0.4-0.4,0.6-0.1,0.6c1,0.2,1.8,0.5,2.2,1.1l0.2,0.3c0.1,0.2,0.2,0.6,0.4,1.2c0.1,0.6,0.2,1.2,0.2,1.9c0.1,1.3,0.1,2.4,0,3.3c-0.1,0.9-0.2,1.6-0.2,2.1c-0.1,0.5-0.2,0.9-0.4,1.2c-0.2,0.3-0.3,0.5-0.3,0.6c-0.1,0.1-0.1,0.1-0.1,0.1c-0.2,0.1-0.5,0.1-0.7,0.1c-0.2,0-0.5-0.1-0.9-0.4c-0.3-0.2-0.7-0.6-1.1-1c-0.4-0.4-0.8-1-1.3-1.8c-0.5-0.8-1-1.7-1.5-2.7l-0.4-0.8c-0.3-0.5-0.6-1.2-1.1-2.1c-0.5-0.9-0.9-1.8-1.2-2.7c-0.1-0.4-0.3-0.6-0.6-0.8l-0.1-0.1c-0.1-0.1-0.2-0.1-0.4-0.2C9.2,12.1,9,12,8.8,12L1.7,12c-0.7,0-1.2,0.2-1.5,0.5l-0.1,0.2C0,12.8,0,12.9,0,13.1c0,0.2,0.1,0.4,0.2,0.7c1,2.4,2.2,4.8,3.4,7.1c1.2,2.3,2.3,4.1,3.2,5.5c0.9,1.4,1.8,2.7,2.8,3.9c0.9,1.2,1.6,2,1.9,2.4c0.3,0.3,0.5,0.6,0.7,0.8l0.7,0.6c0.4,0.4,1,0.9,1.8,1.5c0.8,0.6,1.7,1.2,2.7,1.7c1,0.6,2.1,1,3.4,1.4c1.3,0.4,2.6,0.5,3.8,0.4h3c0.6-0.1,1.1-0.2,1.4-0.6l0.1-0.1c0.1-0.1,0.1-0.3,0.2-0.5c0.1-0.2,0.1-0.5,0.1-0.7c0-0.7,0-1.4,0.2-2c0.1-0.6,0.3-1,0.4-1.4c0.2-0.3,0.4-0.6,0.6-0.8c0.2-0.2,0.4-0.3,0.4-0.4c0.1,0,0.2-0.1,0.2-0.1c0.4-0.1,0.9,0,1.5,0.4c0.6,0.4,1.1,0.9,1.6,1.5c0.5,0.6,1.1,1.3,1.8,2c0.7,0.7,1.3,1.3,1.8,1.7l0.5,0.3c0.3,0.2,0.8,0.4,1.4,0.6c0.6,0.2,1,0.2,1.5,0.1l6.7-0.1c0.7,0,1.2-0.1,1.5-0.3c0.4-0.2,0.6-0.5,0.7-0.7c0.1-0.3,0.1-0.6,0-0.9C49.9,36.9,49.8,36.6,49.7,36.5z"/>
</svg>
</a></div>
              </div>
            </div>
          </div>
        </div>
      </nav>
      <div class="website">
        <div class="welcome welcome_main">
          <div class="welcome__textline"><img src="img/technoflot-text.svg" alt="technoflot"></div>
          <div class="welcome__carousel">
            <div class="welcome__carousel-list">
              <div class="welcome__carousel-item">
                <div class="welcome__carousel-image _backgroundimage"><img data-lazy="../img/temp/carousel_1.jpg"/></div>
                <div class="welcome__carousel-info">
                  <div class="welcome__carousel-count">01</div>
                  <div class="welcome__carousel-title"><a href="project_item.html">Стадион «Открытие Арена»</a></div>
                  <div class="welcome__carousel-placement">Москва</div>
                </div>
                <div class="welcome__carousel-preview _gonext">
                  <div class="welcome__carousel-thumbnail _backgroundimage"><img data-lazy="../img/temp/carousel_2.jpg"/></div>
                </div>
              </div>
              <div class="welcome__carousel-item">
                <div class="welcome__carousel-image _backgroundimage"><img data-lazy="../img/temp/carousel_2.jpg"/></div>
                <div class="welcome__carousel-info">
                  <div class="welcome__carousel-count">02</div>
                  <div class="welcome__carousel-title"><a href="project_item.html">Buddha-Bar</a></div>
                  <div class="welcome__carousel-placement">Санкт-Петербург</div>
                </div>
                <div class="welcome__carousel-preview _gonext">
                  <div class="welcome__carousel-thumbnail _backgroundimage"><img data-lazy="../img/temp/carousel_3.jpg"/></div>
                </div>
              </div>
              <div class="welcome__carousel-item">
                <div class="welcome__carousel-image _backgroundimage"><img data-lazy="../img/temp/carousel_3.jpg"/></div>
                <div class="welcome__carousel-info">
                  <div class="welcome__carousel-count">03</div>
                  <div class="welcome__carousel-title"><a href="project_item.html">Hyatt Regency Sochi</a></div>
                  <div class="welcome__carousel-placement">Сочи</div>
                </div>
                <div class="welcome__carousel-preview _gonext">
                  <div class="welcome__carousel-thumbnail _backgroundimage"><img data-lazy="../img/temp/carousel_4.jpg"/></div>
                </div>
              </div>
              <div class="welcome__carousel-item">
                <div class="welcome__carousel-image _backgroundimage"><img data-lazy="../img/temp/carousel_4.jpg"/></div>
                <div class="welcome__carousel-info">
                  <div class="welcome__carousel-count">04</div>
                  <div class="welcome__carousel-title"><a href="project_item.html">Probka на Цветном</a></div>
                  <div class="welcome__carousel-placement">Москва</div>
                </div>
                <div class="welcome__carousel-preview _gonext">
                  <div class="welcome__carousel-thumbnail _backgroundimage"><img data-lazy="../img/temp/carousel_5.jpg"/></div>
                </div>
              </div>
              <div class="welcome__carousel-item">
                <div class="welcome__carousel-image _backgroundimage"><img data-lazy="../img/temp/carousel_5.jpg"/></div>
                <div class="welcome__carousel-info">
                  <div class="welcome__carousel-count">05</div>
                  <div class="welcome__carousel-title"><a href="project_item.html">Sheraton Ufa Hotel</a></div>
                  <div class="welcome__carousel-placement">Уфа</div>
                </div>
                <div class="welcome__carousel-preview _gonext">
                  <div class="welcome__carousel-thumbnail _backgroundimage"><img data-lazy="../img/temp/carousel_9.jpg"/></div>
                </div>
              </div>
              <div class="welcome__carousel-item">
                <div class="welcome__carousel-image _backgroundimage"><img data-lazy="../img/temp/carousel_6.jpg"/></div>
                <div class="welcome__carousel-info">
                  <div class="welcome__carousel-count">06</div>
                  <div class="welcome__carousel-title"><a href="project_item.html">Swissôtel Resort Sochi Kamelia</a></div>
                  <div class="welcome__carousel-placement">Сочи</div>
                </div>
                <div class="welcome__carousel-preview _gonext">
                  <div class="welcome__carousel-thumbnail _backgroundimage"><img data-lazy="../img/temp/carousel_7.jpg"/></div>
                </div>
              </div>
              <div class="welcome__carousel-item">
                <div class="welcome__carousel-image _backgroundimage"><img data-lazy="../img/temp/carousel_7.jpg"/></div>
                <div class="welcome__carousel-info">
                  <div class="welcome__carousel-count">07</div>
                  <div class="welcome__carousel-title"><a href="project_item.html">Uilliam's, сеть ресторанов Ginza Project</a></div>
                  <div class="welcome__carousel-placement">Москва</div>
                </div>
                <div class="welcome__carousel-preview _gonext">
                  <div class="welcome__carousel-thumbnail _backgroundimage"><img data-lazy="../img/temp/carousel_8.jpg"/></div>
                </div>
              </div>
              <div class="welcome__carousel-item">
                <div class="welcome__carousel-image _backgroundimage"><img data-lazy="../img/temp/carousel_8.jpg"/></div>
                <div class="welcome__carousel-info">
                  <div class="welcome__carousel-count">08</div>
                  <div class="welcome__carousel-title"><a href="project_item.html">W St. Petersburg</a></div>
                  <div class="welcome__carousel-placement">Санкт-Петербург</div>
                </div>
                <div class="welcome__carousel-preview _gonext">
                  <div class="welcome__carousel-thumbnail _backgroundimage"><img data-lazy="../img/temp/carousel_9.jpg"/></div>
                </div>
              </div>
              <div class="welcome__carousel-item">
                <div class="welcome__carousel-image _backgroundimage"><img data-lazy="../img/temp/carousel_9.jpg"/></div>
                <div class="welcome__carousel-info">
                  <div class="welcome__carousel-count">09</div>
                  <div class="welcome__carousel-title"><a href="project_item.html">Здание Главного Адмиралтейства</a></div>
                  <div class="welcome__carousel-placement">Санкт-Петербург</div>
                </div>
                <div class="welcome__carousel-preview _gonext">
                  <div class="welcome__carousel-thumbnail _backgroundimage"><img data-lazy="../img/temp/carousel_10.jpg"/></div>
                </div>
              </div>
              <div class="welcome__carousel-item">
                <div class="welcome__carousel-image _backgroundimage"><img data-lazy="../img/temp/carousel_10.jpg"/></div>
                <div class="welcome__carousel-info">
                  <div class="welcome__carousel-count">10</div>
                  <div class="welcome__carousel-title"><a href="project_item.html">Корюшка, сеть ресторанов Ginza Project</a></div>
                  <div class="welcome__carousel-placement">Санкт-Петербург</div>
                </div>
                <div class="welcome__carousel-preview _gonext">
                  <div class="welcome__carousel-thumbnail _backgroundimage"><img data-lazy="../img/temp/carousel_11.jpg"/></div>
                </div>
              </div>
              <div class="welcome__carousel-item">
                <div class="welcome__carousel-image _backgroundimage"><img data-lazy="../img/temp/carousel_11.jpg"/></div>
                <div class="welcome__carousel-info">
                  <div class="welcome__carousel-count">11</div>
                  <div class="welcome__carousel-title"><a href="project_item.html">Лента на Энгельса</a></div>
                  <div class="welcome__carousel-placement">Санкт-Петербург</div>
                </div>
                <div class="welcome__carousel-preview _gonext">
                  <div class="welcome__carousel-thumbnail _backgroundimage"><img data-lazy="../img/temp/carousel_1.jpg"/></div>
                </div>
              </div>
            </div>
            <div class="welcome__carousel-control">
              <div class="btn welcome__carousel-btn welcome__carousel-btn_prev _goprev">Предыдущий проект</div>
              <div class="btn welcome__carousel-btn welcome__carousel-btn_next _gonext">Следующий проект</div>
            </div>
          </div>
          <div class="welcome__info">
            <div class="inner">
              <div class="welcome__info-title">Проектируем</div>
              <div class="welcome__info-text">кулинарные<br>пространства <span>16</span> лет</div>
            </div>
          </div>
        </div>
        <div class="partition">
          <div class="inner">
            <div class="partition__catalog">
              <div class="partition__catalog-title">Технологическое оборудование для&nbsp;профессиональной кухни</div>
              <div class="partition__catalog-list">
                <div class="partition__catalog-group">
                  <div class="partition__catalog-item partition__catalog-item_kitchen"><a class="partition__catalog-inner" href="kitchen.html" data-animate-fade>
                      <div class="partition__catalog-img"></div>
                      <div class="partition__catalog-info">
                        <div class="partition__catalog-name">Рестораны</div>
                        <div class="partition__catalog-text">Правильно спроектированная кухня&nbsp;– не&nbsp;просто место для&nbsp;приготовления пищи, а&nbsp;платформа, на&nbsp;базе которой воплощаются в&nbsp;жизнь крупные кулинарные проекты.</div>
                      </div></a></div>
                  <div class="partition__catalog-item partition__catalog-item_bakery"><a class="partition__catalog-inner" href="bakery.html" data-animate-fade>
                      <div class="partition__catalog-img"></div>
                      <div class="partition__catalog-info">
                        <div class="partition__catalog-name">Пекарни</div>
                        <div class="partition__catalog-text">Максимальная отдача прибыли с&nbsp;каждого метра производственного и&nbsp;торгового пространства</div>
                      </div></a></div>
                </div>
                <div class="partition__catalog-group">
                  <div class="partition__catalog-item partition__catalog-item_hotel"><a class="partition__catalog-inner" href="hotel.html" data-animate-fade>
                      <div class="partition__catalog-img"></div>
                      <div class="partition__catalog-info">
                        <div class="partition__catalog-name">Отели</div>
                        <div class="partition__catalog-text">Правильно спроектированная кухня&nbsp;– не&nbsp;просто место для&nbsp;приготовления пищи, а&nbsp;платформа.</div>
                      </div></a></div>
                  <div class="partition__catalog-item partition__catalog-item_retail"><a class="partition__catalog-inner" href="retail.html" data-animate-fade>
                      <div class="partition__catalog-img"></div>
                      <div class="partition__catalog-info">
                        <div class="partition__catalog-name">Ритейл</div>
                        <div class="partition__catalog-text"></div>
                      </div></a></div>
                  <div class="partition__catalog-item partition__catalog-item_flot"><a class="partition__catalog-inner" href="flot.html" data-animate-fade data-animate-delay="300">
                      <div class="partition__catalog-img"></div>
                      <div class="partition__catalog-info">
                        <div class="partition__catalog-name">Корабли</div>
                        <div class="partition__catalog-text"></div>
                      </div></a></div>
                </div>
              </div>
            </div>
          </div>
          <div class="partition__complex">
            <div class="inner">
              <div class="partition__complex-title">Мы оказываем полный комплекс услуг<br>по оснащению предприятий<br>общественного питания.</div>
              <div class="partition__complex-list">
                <div class="partition__complex-item">проектирование предприятий питания и&nbsp;пищевых производств</div>
                <div class="partition__complex-item">поставка технологического оборудования для&nbsp;профессиональной кухни</div>
                <div class="partition__complex-item">производство изделий из&nbsp;нержавеющей стали, монтаж и&nbsp;обслуживание</div>
                <div class="partition__complex-item">обеспечение необходимыми запчастями из&nbsp;складского запаса</div>
                <div class="partition__complex-item">обучение, консультации и&nbsp;проведение мастер&#8209;классов</div>
              </div>
            </div>
          </div>
          <div class="partition__statictic">
            <div class="partition__statictic-image" style="background-image:url(../img/statistic.jpg);"></div>
            <div class="partition__statictic-info">
              <div class="inner">
                <div class="partition__statictic-title">Технофлот</div>
                <div class="partition__statictic-subtitle">сегодня – это:</div>
                <div class="partition__statictic-list">
                  <div class="partition__statictic-item">
                    <div class="partition__statictic-value">><span data-animate-num="150">0</span></div>
                    <div class="partition__statictic-text">ведущих мировых производителей</div>
                  </div>
                  <div class="partition__statictic-item">
                    <div class="partition__statictic-value">><span data-animate-num="200" data-animate-delay="300">0</span></div>
                    <div class="partition__statictic-text">вдилеров в&nbsp;России и&nbsp;странах&nbsp;СНГ</div>
                  </div>
                  <div class="partition__statictic-item">
                    <div class="partition__statictic-value">><span data-animate-num="200">0</span></div>
                    <div class="partition__statictic-text">сотрудников в&nbsp;штате</div>
                  </div>
                  <div class="partition__statictic-item">
                    <div class="partition__statictic-value">><span data-animate-num="4000" data-animate-delay="300">0</span></div>
                    <div class="partition__statictic-text">оснащённых объектов</div>
                  </div>
                  <div class="partition__statictic-item">
                    <div class="partition__statictic-value"><span data-animate-num="4500">0</span> м<sup>2</sup></div>
                    <div class="partition__statictic-text">складских помещений в&nbsp;Санкт&#8209;Петербурге и&nbsp;Москве</div>
                  </div>
                </div>
                <div class="partition__statictic-btn">
                  <div class="btn btn_green" data-popup-open=".popup_feedback">Оставить заявку</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="partners">
          <div class="partners__list">
            <div class="partners__item"><a class="partners__logo" href="brand_item.html"><img class="partners__logo-image" src="img/partners/partner_1.png" alt=""><img class="partners__logo-hover" src="img/partners/partner_1.png" alt=""></a></div>
            <div class="partners__item"><a class="partners__logo" href="brand_item.html"><img class="partners__logo-image" src="img/partners/partner_2.png" alt=""><img class="partners__logo-hover" src="img/partners/partner_2.png" alt=""></a></div>
            <div class="partners__item"><a class="partners__logo" href="brand_item.html"><img class="partners__logo-image" src="img/partners/partner_3.png" alt=""><img class="partners__logo-hover" src="img/partners/partner_3.png" alt=""></a></div>
            <div class="partners__item"><a class="partners__logo" href="brand_item.html"><img class="partners__logo-image" src="img/partners/partner_4.png" alt=""><img class="partners__logo-hover" src="img/partners/partner_4.png" alt=""></a></div>
            <div class="partners__item"><a class="partners__logo" href="brand_item.html"><img class="partners__logo-image" src="img/partners/partner_5.png" alt=""><img class="partners__logo-hover" src="img/partners/partner_5.png" alt=""></a></div>
            <div class="partners__item"><a class="partners__logo" href="brand_item.html"><img class="partners__logo-image" src="img/partners/partner_6.png" alt=""><img class="partners__logo-hover" src="img/partners/partner_6.png" alt=""></a></div>
            <div class="partners__item"><a class="partners__logo" href="brand_item.html"><img class="partners__logo-image" src="img/partners/partner_7.png" alt=""><img class="partners__logo-hover" src="img/partners/partner_7.png" alt=""></a></div>
            <div class="partners__item"><a class="partners__logo" href="brand_item.html"><img class="partners__logo-image" src="img/partners/partner_8.png" alt=""><img class="partners__logo-hover" src="img/partners/partner_8.png" alt=""></a></div>
          </div>
        </div>
        <div class="news news_home">
          <div class="inner">
            <div class="news__head">
              <div class="news__title">Новости</div>
              <div class="news__control">
                <div class="news__control-more"><a href="news.html">Архив новостей</a></div>
              </div>
            </div>
            <div class="card">
              <div class="card__list">
                <div class="card__item card__item_news card__item_big"><a class="card__item-inner" href="news_item.html">
                    <div class="card__item-image"><img class="object-fit" src="img/temp/carousel_2.jpg" alt="Технофлот на PIR EXPO 2018"/>
                    </div>
                    <div class="card__item-tag">Выставки</div>
                    <div class="card__item-info">
                      <div class="card__item-date">
                        <div class="card__item-date-day">10</div>
                        <div class="card__item-date-month">октября</div>
                        <div class="card__item-date-year">2018</div>
                      </div>
                      <div class="card__item-title">Технофлот на PIR EXPO 2018</div>
                      <div class="card__item-text">С 24 по 27 сентября компания «Технофлот» приняла участие в главном ежегодном событии ресторанного бизнеса — выставке PIR EXPO.</div>
                    </div></a></div>
                <div class="card__item card__item_news"><a class="card__item-inner" href="news_item.html">
                    <div class="card__item-image"><img class="object-fit" src="img/temp/carousel_3.jpg" alt="IBA 2018 — «аппетитное» мероприятие осени"/>
                    </div>
                    <div class="card__item-tag">Мастер-класс</div>
                    <div class="card__item-info">
                      <div class="card__item-date">12.09.2018</div>
                      <div class="card__item-title">IBA 2018 — «аппетитное» мероприятие осени</div>
                    </div></a></div>
                <div class="card__item card__item_news"><a class="card__item-inner" href="news_item.html">
                    <div class="card__item-image"><img class="object-fit" src="img/temp/carousel_4.jpg" alt="Технофлот приглашает на ПИР 2018"/>
                    </div>
                    <div class="card__item-tag">Новинки</div>
                    <div class="card__item-info">
                      <div class="card__item-date">11.09.2018</div>
                      <div class="card__item-title">Технофлот приглашает на ПИР 2018</div>
                    </div></a></div>
                <div class="card__item card__item_news"><a class="card__item-inner" href="news_item.html">
                    <div class="card__item-image"><img class="object-fit" src="img/temp/carousel_5.jpg" alt="Печь VECTOR Alto-Shaam – революция в индустрии общепита"/>
                    </div>
                    <div class="card__item-tag">Мастер-класс</div>
                    <div class="card__item-info">
                      <div class="card__item-date">10.09.2018</div>
                      <div class="card__item-title">Печь VECTOR Alto-Shaam – революция в индустрии общепита</div>
                    </div></a></div>
                <div class="card__item card__item_news"><a class="card__item-inner" href="news_item.html">
                    <div class="card__item-image"><img class="object-fit" src="img/temp/carousel_6.jpg" alt="Выставка IBA 2018"/>
                    </div>
                    <div class="card__item-tag">Новинки</div>
                    <div class="card__item-info">
                      <div class="card__item-date">09.09.2018</div>
                      <div class="card__item-title">Выставка IBA 2018</div>
                    </div></a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="callback">
          <div class="inner">
            <div class="callback__title">Помочь с выбором?</div>
            <div class="callback__subtitle">Давайте мы позвоним вам и подробно расскажем</div>
            <div class="callback__form">
              <form class="form" action="" method="post" novalidate autocomplete="off">
                <div class="form__field">
                  <div class="form__input">
                    <input placeholder="Ваш телефон" type="text" name="phone" data-require="true" data-mask="+7 999 999-99-99">
                  </div>
                </div>
                <div class="form__field form__field_polithics">
                  <div class="form__input">
                    <label>
                      <input checked type="checkbox" name="politics" data-require="true"><span class="form__label">Настоящим подтверждаю, что я&nbsp;ознакомлен и&nbsp;согласен с&nbsp;<a href="http://tfdecor.ru/assets/doc/politics.pdf" target="_blank">условиями политики конфиденциальности</a></span>
                    </label>
                  </div>
                </div>
                <div class="form__field form__field_submit">
                  <div class="form__input">
                    <button class="btn btn_green" type="submit">Перезвоните мне!</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer">
        <div class="inner">
          <div class="footer__soc">
            <div class="footer__soc-list"><a class="footer__soc-item" href="https://www.facebook.com/technoflot/" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
<path fill="#FFFFFF" d="M37,24.4c-1.8,0-3.1,0.6-4.4,1.2V39c1.2,0.1,2,0.1,3.1,0.1c4.3,0,4.8-2,4.8-4.7V28C40.6,26,39.9,24.4,37,24.4L37,24.4z M13.7,45.9H5V24.8H0.7v-7.3H5v-4.4c0-5.9,2.5-9.4,9.4-9.4h5.8V11h-3.6c-2.7,0-2.9,1-2.9,2.9l0,3.6h6.6l-0.8,7.3h-5.8L13.7,45.9L13.7,45.9z M49.3,34.4c0,6.9-2,11.9-13.8,11.9c-4.3,0-6.8-0.4-11.5-1.1V5.9l8.7-1.5v13.7c1.9-0.7,4.3-1.1,6.5-1.1c8.7,0,10.1,3.9,10.1,10.2L49.3,34.4L49.3,34.4z"/>
</svg>
</a><a class="footer__soc-item" href="https://instagram.com/technoflot" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
<path fill="#ffffff" d="M17.7,25c0-4,3.3-7.3,7.3-7.3s7.3,3.3,7.3,7.3S29,32.3,25,32.3S17.7,29,17.7,25 M13.7,25c0,6.2,5.1,11.3,11.3,11.3S36.3,31.2,36.3,25S31.2,13.7,25,13.7S13.7,18.8,13.7,25 M34.1,13.3c0,1.5,1.2,2.6,2.6,2.6c1.5,0,2.6-1.2,2.6-2.6s-1.2-2.6-2.6-2.6h0C35.3,10.6,34.1,11.8,34.1,13.3 M16.1,42.9c-2.1-0.1-3.3-0.5-4.1-0.8c-1-0.4-1.8-0.9-2.5-1.6S8.3,39,7.9,38c-0.3-0.8-0.7-1.9-0.8-4.1C7,31.6,7,30.9,7,25s0-6.6,0.1-8.9C7.2,14,7.6,12.8,7.9,12c0.4-1,0.9-1.8,1.6-2.5S11,8.3,12,7.9c0.8-0.3,1.9-0.7,4.1-0.8C18.4,7,19.1,7,25,7s6.6,0,8.9,0.1C36,7.2,37.2,7.6,38,7.9c1,0.4,1.8,0.9,2.5,1.6s1.2,1.5,1.6,2.5c0.3,0.8,0.7,1.9,0.8,4.1c0.1,2.3,0.1,3,0.1,8.9s0,6.6-0.1,8.9c-0.1,2.1-0.5,3.3-0.8,4.1c-0.4,1-0.9,1.8-1.6,2.5c-0.8,0.8-1.5,1.2-2.5,1.6c-0.8,0.3-1.9,0.7-4.1,0.8C31.6,43,30.9,43,25,43S18.4,43,16.1,42.9 M15.9,3.2c-2.3,0.1-3.9,0.5-5.3,1C9.2,4.7,7.9,5.5,6.7,6.7s-2,2.4-2.5,3.9c-0.5,1.4-0.9,3-1,5.3C3,18.3,3,19,3,25s0,6.7,0.1,9.1c0.1,2.3,0.5,3.9,1,5.3c0.6,1.4,1.3,2.7,2.5,3.9s2.4,2,3.9,2.5c1.4,0.5,3,0.9,5.3,1C18.3,46.9,19,47,25,47s6.7,0,9.1-0.1c2.3-0.1,3.9-0.5,5.3-1c1.4-0.6,2.7-1.3,3.9-2.5s2-2.4,2.5-3.9c0.5-1.4,0.9-3,1-5.3C47,31.7,47,31,47,25s0-6.7-0.1-9.1c-0.1-2.3-0.5-3.9-1-5.3c-0.6-1.4-1.3-2.7-2.5-3.9c-1.2-1.2-2.4-2-3.9-2.5c-1.4-0.5-3-0.9-5.3-1C31.7,3.1,31,3,25,3S18.3,3,15.9,3.2"/>
<path fill="#ffffff" d="M17.7,25c0-4,3.3-7.3,7.3-7.3s7.3,3.3,7.3,7.3S29,32.3,25,32.3S17.7,29,17.7,25 M13.7,25c0,6.2,5.1,11.3,11.3,11.3S36.3,31.2,36.3,25S31.2,13.7,25,13.7S13.7,18.8,13.7,25 M34.1,13.3c0,1.5,1.2,2.6,2.6,2.6c1.5,0,2.6-1.2,2.6-2.6s-1.2-2.6-2.6-2.6h0C35.3,10.6,34.1,11.8,34.1,13.3 M16.1,42.9c-2.1-0.1-3.3-0.5-4.1-0.8c-1-0.4-1.8-0.9-2.5-1.6S8.3,39,7.9,38c-0.3-0.8-0.7-1.9-0.8-4.1C7,31.6,7,30.9,7,25s0-6.6,0.1-8.9C7.2,14,7.6,12.8,7.9,12c0.4-1,0.9-1.8,1.6-2.5S11,8.3,12,7.9c0.8-0.3,1.9-0.7,4.1-0.8C18.4,7,19.1,7,25,7s6.6,0,8.9,0.1C36,7.2,37.2,7.6,38,7.9c1,0.4,1.8,0.9,2.5,1.6s1.2,1.5,1.6,2.5c0.3,0.8,0.7,1.9,0.8,4.1c0.1,2.3,0.1,3,0.1,8.9s0,6.6-0.1,8.9c-0.1,2.1-0.5,3.3-0.8,4.1c-0.4,1-0.9,1.8-1.6,2.5c-0.8,0.8-1.5,1.2-2.5,1.6c-0.8,0.3-1.9,0.7-4.1,0.8C31.6,43,30.9,43,25,43S18.4,43,16.1,42.9 M15.9,3.2c-2.3,0.1-3.9,0.5-5.3,1C9.2,4.7,7.9,5.5,6.7,6.7s-2,2.4-2.5,3.9c-0.5,1.4-0.9,3-1,5.3C3,18.3,3,19,3,25s0,6.7,0.1,9.1c0.1,2.3,0.5,3.9,1,5.3c0.6,1.4,1.3,2.7,2.5,3.9s2.4,2,3.9,2.5c1.4,0.5,3,0.9,5.3,1C18.3,46.9,19,47,25,47s6.7,0,9.1-0.1c2.3-0.1,3.9-0.5,5.3-1c1.4-0.6,2.7-1.3,3.9-2.5s2-2.4,2.5-3.9c0.5-1.4,0.9-3,1-5.3C47,31.7,47,31,47,25s0-6.7-0.1-9.1c-0.1-2.3-0.5-3.9-1-5.3c-0.6-1.4-1.3-2.7-2.5-3.9c-1.2-1.2-2.4-2-3.9-2.5c-1.4-0.5-3-0.9-5.3-1C31.7,3.1,31,3,25,3S18.3,3,15.9,3.2"/>
</svg>
</a><a class="footer__soc-item" href="https://vk.com/techno_flot" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" >
<path fill="#fff" d="M49.7,36.5c-0.1-0.1-0.1-0.2-0.2-0.3c-0.9-1.6-2.5-3.5-5-5.8l-0.1-0.1l0,0l0,0h0c-1.1-1.1-1.8-1.8-2.1-2.1c-0.5-0.7-0.7-1.4-0.4-2.1c0.2-0.5,1-1.7,2.3-3.4c0.7-0.9,1.3-1.7,1.7-2.2c3-4,4.3-6.5,3.9-7.7l-0.2-0.3c-0.1-0.2-0.4-0.3-0.8-0.4C48.5,12,48,12,47.3,12l-7.5,0.1c-0.1,0-0.3,0-0.5,0c-0.2,0.1-0.3,0.1-0.3,0.1l-0.1,0.1l-0.1,0.1c-0.1,0.1-0.2,0.1-0.3,0.3c-0.1,0.1-0.2,0.3-0.3,0.5c-0.8,2.1-1.7,4.1-2.8,5.9c-0.6,1.1-1.2,2-1.8,2.8c-0.5,0.8-1,1.4-1.4,1.7c-0.4,0.4-0.7,0.7-1,0.9c-0.3,0.2-0.5,0.3-0.7,0.3c-0.2,0-0.3-0.1-0.4-0.1c-0.2-0.2-0.4-0.4-0.6-0.6c-0.1-0.3-0.2-0.6-0.3-1c-0.1-0.4-0.1-0.8-0.1-1.1c0-0.3,0-0.7,0-1.2c0-0.5,0-0.9,0-1.1c0-0.7,0-1.4,0-2.1c0-0.8,0-1.4,0.1-1.8c0-0.5,0-0.9,0-1.4c0-0.5,0-0.9-0.1-1.2c-0.1-0.3-0.2-0.6-0.3-0.8c-0.1-0.3-0.3-0.5-0.5-0.6c-0.2-0.1-0.5-0.3-0.9-0.4c-0.9-0.2-2.1-0.3-3.5-0.3c-3.2,0-5.3,0.2-6.2,0.6c-0.4,0.2-0.7,0.5-1,0.8c-0.3,0.4-0.4,0.6-0.1,0.6c1,0.2,1.8,0.5,2.2,1.1l0.2,0.3c0.1,0.2,0.2,0.6,0.4,1.2c0.1,0.6,0.2,1.2,0.2,1.9c0.1,1.3,0.1,2.4,0,3.3c-0.1,0.9-0.2,1.6-0.2,2.1c-0.1,0.5-0.2,0.9-0.4,1.2c-0.2,0.3-0.3,0.5-0.3,0.6c-0.1,0.1-0.1,0.1-0.1,0.1c-0.2,0.1-0.5,0.1-0.7,0.1c-0.2,0-0.5-0.1-0.9-0.4c-0.3-0.2-0.7-0.6-1.1-1c-0.4-0.4-0.8-1-1.3-1.8c-0.5-0.8-1-1.7-1.5-2.7l-0.4-0.8c-0.3-0.5-0.6-1.2-1.1-2.1c-0.5-0.9-0.9-1.8-1.2-2.7c-0.1-0.4-0.3-0.6-0.6-0.8l-0.1-0.1c-0.1-0.1-0.2-0.1-0.4-0.2C9.2,12.1,9,12,8.8,12L1.7,12c-0.7,0-1.2,0.2-1.5,0.5l-0.1,0.2C0,12.8,0,12.9,0,13.1c0,0.2,0.1,0.4,0.2,0.7c1,2.4,2.2,4.8,3.4,7.1c1.2,2.3,2.3,4.1,3.2,5.5c0.9,1.4,1.8,2.7,2.8,3.9c0.9,1.2,1.6,2,1.9,2.4c0.3,0.3,0.5,0.6,0.7,0.8l0.7,0.6c0.4,0.4,1,0.9,1.8,1.5c0.8,0.6,1.7,1.2,2.7,1.7c1,0.6,2.1,1,3.4,1.4c1.3,0.4,2.6,0.5,3.8,0.4h3c0.6-0.1,1.1-0.2,1.4-0.6l0.1-0.1c0.1-0.1,0.1-0.3,0.2-0.5c0.1-0.2,0.1-0.5,0.1-0.7c0-0.7,0-1.4,0.2-2c0.1-0.6,0.3-1,0.4-1.4c0.2-0.3,0.4-0.6,0.6-0.8c0.2-0.2,0.4-0.3,0.4-0.4c0.1,0,0.2-0.1,0.2-0.1c0.4-0.1,0.9,0,1.5,0.4c0.6,0.4,1.1,0.9,1.6,1.5c0.5,0.6,1.1,1.3,1.8,2c0.7,0.7,1.3,1.3,1.8,1.7l0.5,0.3c0.3,0.2,0.8,0.4,1.4,0.6c0.6,0.2,1,0.2,1.5,0.1l6.7-0.1c0.7,0,1.2-0.1,1.5-0.3c0.4-0.2,0.6-0.5,0.7-0.7c0.1-0.3,0.1-0.6,0-0.9C49.9,36.9,49.8,36.6,49.7,36.5z"/>
</svg>
</a></div>
          </div>
          <div class="footer__contact">
            <div class="footer__contact-item footer__contact-item_spb">
              <div class="footer__contact-title">Санкт-Петербург</div>
              <div class="footer__contact-phone">+7 (812) 454-69-19</div>
              <div class="footer__contact-address">ул. Заневский пост, д. 3,<br> стр. 1</div>
            </div>
            <div class="footer__contact-item footer__contact-item_msk">
              <div class="footer__contact-title">Москва</div>
              <div class="footer__contact-phone">+7 (495) 739-42-79</div>
              <div class="footer__contact-address">ул. Щербаковская, д. 3,<br>офис 603</div>
            </div>
          </div>
          <div class="footer__more">
            <div class="footer__email"><a href="mailto:info@tfdecor.ru">info@tfdecor.ru</a></div>
            <div class="footer__copy">© Технофлот 2015 – 2018</div>
            <div class="footer__design">Дизайн сайта — goga.spb.ru</div>
          </div>
          <div class="footer__politics"><a href="info@tfdecor.ru">Политика обработки персональных данных</a></div>
        </div>
      </footer>
      <div class="popup popup_feedback">
        <div class="popup__overlay"></div>
        <div class="popup__inner">
          <div class="popup__layout">
            <svg class="popup__bg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1071 650" preserveAspectRatio="none">
              <path></path>
            </svg>
            <div class="popup__close"></div>
            <div class="popup__content">
              <div class="popup__title">Оставить заявку</div>
              <form class="form" action="" method="post" novalidate autocomplete="off">
                <div class="form__field form__field_half">
                  <div class="form__input">
                    <input type="text" name="name" data-require="true">
                    <div class="form__placeholder">Как вас зовут?</div>
                  </div>
                </div>
                <div class="form__field form__field_half">
                  <div class="form__input">
                    <select name="direction" data-require="true">
                      <option selected disabled></option>
                      <option value="Рестораны">Рестораны</option>
                      <option value="Отели">Отели</option>
                      <option value="Пекарни">Пекарни</option>
                      <option value="Ритейл">Ритейл</option>
                      <option value="Корабли">Корабли</option>
                    </select>
                    <div class="form__placeholder">Направление</div>
                  </div>
                </div>
                <div class="form__field form__field_half">
                  <div class="form__input">
                    <input type="text" name="phone" data-require="true" data-mask="+7 999 999-99-99">
                    <div class="form__placeholder">Телефон</div>
                  </div>
                </div>
                <div class="form__field form__field_half">
                  <div class="form__input">
                    <input type="email" name="email" data-require="email">
                    <div class="form__placeholder">Почта</div>
                  </div>
                </div>
                <div class="form__field form__field_half">
                  <div class="form__input">
                    <select name="city" data-require="true" data-autocomplete="true">
                      <option selected disabled></option>
                      <option value="Москва">Москва</option>
                      <option value="Санкт-Петербург">Санкт-Петербург</option>
                      <option value="Новосибирск">Новосибирск</option>
                      <option value="Екатеринбург">Екатеринбург</option>
                      <option value="Нижний Новгород">Нижний Новгород</option>
                      <option value="Казань">Казань</option>
                      <option value="Челябинск">Челябинск</option>
                      <option value="Омск">Омск</option>
                      <option value="Самара">Самара</option>
                      <option value="Ростов-на-Дону">Ростов-на-Дону</option>
                      <option value="Уфа">Уфа</option>
                      <option value="Красноярск">Красноярск</option>
                      <option value="Пермь">Пермь</option>
                      <option value="Воронеж">Воронеж</option>
                      <option value="Волгоград">Волгоград</option>
                      <option value="Краснодар">Краснодар</option>
                      <option value="Саратов">Саратов</option>
                      <option value="Тюмень">Тюмень</option>
                      <option value="Тольятти">Тольятти</option>
                      <option value="Ижевск">Ижевск</option>
                      <option value="Барнаул">Барнаул</option>
                      <option value="Ульяновск">Ульяновск</option>
                      <option value="Иркутск">Иркутск</option>
                      <option value="Хабаровск">Хабаровск</option>
                      <option value="Ярославль">Ярославль</option>
                      <option value="Владивосток">Владивосток</option>
                      <option value="Махачкала">Махачкала</option>
                      <option value="Томск">Томск</option>
                      <option value="Оренбург">Оренбург</option>
                      <option value="Кемерово">Кемерово</option>
                      <option value="Новокузнецк">Новокузнецк</option>
                      <option value="Рязань">Рязань</option>
                      <option value="Астрахань">Астрахань</option>
                      <option value="Набережные">Набережные</option>
                      <option value="Пенза">Пенза</option>
                      <option value="Липецк">Липецк</option>
                      <option value="Киров">Киров</option>
                      <option value="Чебоксары">Чебоксары</option>
                      <option value="Тула">Тула</option>
                      <option value="Калининград">Калининград</option>
                      <option value="Балашиха">Балашиха</option>
                      <option value="Курск">Курск</option>
                      <option value="Севастополь">Севастополь</option>
                      <option value="Улан-Удэ">Улан-Удэ</option>
                      <option value="Ставрополь">Ставрополь</option>
                      <option value="Сочи">Сочи</option>
                      <option value="Тверь">Тверь</option>
                      <option value="Магнитогорск">Магнитогорск</option>
                      <option value="Иваново">Иваново</option>
                      <option value="Брянск">Брянск</option>
                    </select>
                    <div class="form__placeholder">Город</div>
                  </div>
                </div>
                <div class="form__field">
                  <div class="form__input">
                    <textarea name="message" data-require="true"></textarea>
                    <div class="form__placeholder">Комментарий</div>
                  </div>
                </div>
                <div class="form__field form__field_polithics">
                  <div class="form__input">
                    <label>
                      <input checked type="checkbox" name="politics" data-require="true"><span class="form__label">Настоящим подтверждаю, что я&nbsp;ознакомлен и&nbsp;согласен с&nbsp;<a href="http://tfdecor.ru/assets/doc/politics.pdf" target="_blank">условиями политики конфиденциальности</a></span>
                    </label>
                  </div>
                </div>
                <div class="form__field form__field_submit">
                  <div class="form__input">
                    <button class="btn btn_big btn_green" type="submit">Отправить</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  <script type="text/javascript" src="js/index.js?333218ed11ca1cb4b6bc"></script></body>
</html>