form.form(action='', method='post', novalidate, autocomplete='off')

	.form__field
		.form__title E-mail
		.form__input
			input(type='email', name='email', data-require='email')
			.form__placeholder E-mail

	.form__field
		.form__title Пароль*
		.form__input
			input(type='password', name='password', data-require='true')
			.form__placeholder Пароль

	.form__field
		.form__input
			label
				input(type='checkbox', name='remember', data-require='true')
				.form__label Запомнить меня

	.form__field
		.form__input
			.form__title Радио кнопки
			label
				input(type='radio', name='radio', data-require='true')
				.form__label Радио кнопка 1

	.form__field
		.form__input
			label
				input(type='radio', name='radio', data-require='true')
				.form__label Радио кнопка 2

	.form__field
		.form__title ФИО*
		.form__input
			input(type='text', name='fio', data-require='true')
			.form__placeholder ФИО*

	.form__field
		.form__title Селект
		.form__input
			.form__input-value
			input(type='text', name='select', value='', data-require='select').form__input-select
			.form__select
				.form__select-item(data-value='1') Вариант 1
				.form__select-item(data-value='2') Вариант 2
				.form__select-item(data-value='3') Вариант 3
			.form__placeholder Селект

	.form__field
		.form__title Сообщение*
		.form__input
			textarea(name='message', data-require='true')
			.form__placeholder Сообщение

	.form__field
		.form__footnote * - Поля. обязательные для заполнения

	.form__field.form__field_submit
		.form__input
			button(type='submit').btn отправить


