footer.footer
	.inner
		.footer__soc
			.footer__soc-list
				a(href='https://www.facebook.com/technoflot/', target='_blank').footer__soc-item: include ../../img/svg/ico-facebook.svg
				a(href='https://instagram.com/technoflot', target='_blank').footer__soc-item: include ../../img/svg/ico-instagram.svg
				a(href='https://vk.com/techno_flot', target='_blank').footer__soc-item: include ../../img/svg/ico-vk.svg


		.footer__contact
			.footer__contact-item.footer__contact-item_spb
				.footer__contact-title Санкт-Петербург
				.footer__contact-phone +7 (812) 454-69-19
				.footer__contact-address ул. Заневский пост, д. 3,#[br] стр. 1

			.footer__contact-item.footer__contact-item_msk
				.footer__contact-title Москва
				.footer__contact-phone +7 (495) 739-42-79
				.footer__contact-address ул. Щербаковская, д. 3,#[br]офис 603

		.footer__more
			.footer__email: a(href='mailto:info@tfdecor.ru') info@tfdecor.ru
			.footer__copy © Технофлот 2015 – 2018
			.footer__design Дизайн сайта — goga.spb.ru

		.footer__politics
			a(href='info@tfdecor.ru') Политика обработки персональных данных
