if( pagePart )
	aside.aside
		.aside__inner.scrollable
			a(href='/').aside__logo: img(src='../img/technoflot-logo.svg', alt='Технофлот')
			.aside__menu
				a(href='#').aside__menu-item Мини пекарни
				a(href='#').aside__menu-item Пицерии
				a(href='#').aside__menu-item Блиннные
				a(href='#').aside__menu-item Кондитерские
				a(href='#').aside__menu-item Тандырные
				a(href='#').aside__menu-item Прочие
		.aside__btn
			.btn.btn_link(data-popup-open='.popup_feedback') Оставьте заявку


header.header
	.inner
		a(href='/').header__logo: img(src='../img/technoflot-logo.svg', alt='Технофлот')

		if( pagePart )
			.header__nav
				a(href='equipments.html').header__nav-item Каталог оборудования
				a(href='news.html').header__nav-item Новости

		.header__control

			.header__text
				.header__text-item.header__text-item_phone
					span СПБ +7 (812) 545-69-19
					br
					span МСК +7 (495) 739-42-79
				.header__text-item.header__text-item_email info@tfdecor.ru


			.header__soc
				a(href='https://www.facebook.com/technoflot/', target='_blank').header__soc-item: include ../../img/svg/ico-facebook.svg
				a(href='https://instagram.com/technoflot', target='_blank').header__soc-item: include ../../img/svg/ico-instagram.svg
				a(href='https://vk.com/techno_flot/', target='_blank').header__soc-item: include ../../img/svg/ico-vk.svg

			.header__search
				form(action='search.html', method='get')
					.header__search-input: input(type='text', name='query', autocomplete='off')
					.header__search-ico: include ../../img/svg/ico-search.svg

			a.header__call(href='tel:+78124546919')
				.header__call-btn.btn.btn_border Позвоните нам
				.header__call-ico: include ../../img/svg/ico-call.svg

			if(pagePart)

				.header__write
					.header__write-ico(data-popup-open='.popup_feedback'): include ../../img/svg/ico-pen.svg

			.header__handler
				.header__handler-text Меню
				.header__handler-ico


nav.nav

	.nav__layout.scrollable
		.nav__inner
			.nav__close: i

			.nav__menu
				.nav__menu-list
					.nav__menu-item
						a(href='kitchen.html', class= pagePart === 'kitchen' ? 'is-active' : '').nav__menu-link
							| Рестораны
					.nav__menu-item
						a(href='hotel.html', class= pagePart === 'hotel' ? 'is-active' : '').nav__menu-link
							| Отели
					.nav__menu-item
						a(href='bakery.html', class= pagePart === 'bakery' ? 'is-active' : '').nav__menu-link
							| Пекарни
					.nav__menu-item
						a(href='retail.html', class= pagePart === 'retail' ? 'is-active' : '').nav__menu-link
							| Ритейл
					.nav__menu-item
						a(href='flot.html', class= pagePart === 'flot' ? 'is-active' : '').nav__menu-link
							| Корабли

			.nav__more
				.nav__more-list
					.nav__more-item: a(href='news.html').nav__more-link Новости
					.nav__more-item: a(href='contacts.html').nav__more-link Контакты

			.nav__soc
				.nav__soc-list
					.nav__soc-item: a(href='https://www.facebook.com/technoflot/', target='_blank').nav__soc-link: include ../../img/svg/ico-facebook.svg
					.nav__soc-item: a(href='https://instagram.com/technoflot', target='_blank').nav__soc-link: include ../../img/svg/ico-instagram.svg
					.nav__soc-item: a(href='https://vk.com/techno_flot', target='_blank').nav__soc-link: include ../../img/svg/ico-vk.svg

