mixin welcomeSlide(number, title, location, img, nextImg)
	.welcome__carousel-item
		.welcome__carousel-image._backgroundimage: img(data-lazy= img)
		.welcome__carousel-info
			.welcome__carousel-count= number
			.welcome__carousel-title: a(href='project_item.html')= title
			.welcome__carousel-placement= location
		.welcome__carousel-preview._gonext: .welcome__carousel-thumbnail._backgroundimage: img(data-lazy= nextImg)


mixin cardItem(type, image, title, text, tag, date, size)
	.card__item(class= 'card__item_' + type + ( size ? ' card__item_' + size : '' ))
		a(href= type + '_item.html').card__item-inner
			if( image )
				.card__item-image
					if (type == 'brand')
						img(src= image, alt= title).greyscale
						img(src= image, alt= title).hover
					else
						img(src= image, alt= title).object-fit
				if( tag )
					.card__item-tag= tag
			if( title || text )
				.card__item-info
					if ( date )
						if ( Array.isArray(date) )
							.card__item-date
								.card__item-date-day= date[0]
								.card__item-date-month= date[1]
								.card__item-date-year= date[2]
						else
							.card__item-date= date
					if ( title )
						.card__item-title= title
					if ( text )
						.card__item-text= text

mixin callback(type)
	.callback
		.inner
			if ( type === 'email' )
				.callback__title Хотите получать рассылку?
			else if ( type = 'phone' )
				.callback__title Хотите узнать цену?

			if (type === 'email')
				.callback__subtitle Обещаем, спамить не будем, пишем только по делу
			else if (type = 'phone')
				.callback__subtitle Давайте мы позвоним вам и подробно расскажем
			.callback__form
				form.form(action='', method='post', novalidate, autocomplete='off')

					.form__field
						.form__input
							if (type === 'email')
								input(placeholder='Ваша почта', type='text', name='email', data-require='email')
							else if (type = 'phone')
								input(placeholder='Ваш телефон', type='text', name='phone', data-require='true', data-mask='+7 999 999-99-99')
					.form__field.form__field_polithics
						.form__input
							label
								input(checked type="checkbox" name="politics" data-require="true")
								span.form__label Настоящим подтверждаю, что я&nbsp;ознакомлен и&nbsp;согласен с&nbsp;#[a(href="http://tfdecor.ru/assets/doc/politics.pdf", target="_blank") условиями политики конфиденциальности]

					.form__field.form__field_submit
						.form__input
							if (type === 'email')
								button(type='submit').btn.btn_green Подписаться
							else if (type = 'phone')
								button(type='submit').btn.btn_green Перезвоните мне
