
.welcome.welcome_part(class= 'welcome_' + pagePart)
	.welcome__bg
	.welcome__info
		.inner

			.welcome__info-title
				if ( pagePart === 'bakery' )
					| Пекарни
				else if ( pagePart === 'retail' )
					| Ритейл
				else if ( pagePart === 'hotel' )
					| Отели
				else if ( pagePart === 'kitchen' )
					| рестораны
				else if ( pagePart === 'flot' )
					| корабли

			.welcome__info-menu
				a(href='equipment.html').welcome__info-menu-item Каталог оборудования

			.welcome__info-part
				.welcome__info-part-text Правильно спроектированная кухня&nbsp;– не&nbsp;просто место для&nbsp;приготовления пищи, а&nbsp;платформа, на&nbsp;базе которой воплощаются в&nbsp;жизнь крупные кулинарные проекты.



.projects.projects_part
	.inner
		.projects__title Наши проекты
		.card__list.projects__list.projects__list_1
			.card__item.card__item_project
				a(href='project_item.html', data-animate-fade).card__item-inner
					.card__item-image: img(src='../img/temp/carousel_1.jpg', alt='Probka на Цветном, Москва').object-fit
					.card__item-tag КОНДИТЕРСКИЕ
					.card__item-info
						.card__item-title Probka на Цветном, Москва
			.card__item.card__item_project
				a(href='project_item.html', data-animate-fade).card__item-inner
					.card__item-image: img(src='../img/temp/carousel_2.jpg', alt='Probka на Цветном, Москва').object-fit
					.card__item-tag мини-пекарня
					.card__item-info
						.card__item-title Uilliam's, сеть ресторанов Ginza Project
			.card__item.card__item_project
				a(href='project_item.html', data-animate-fade).card__item-inner
					.card__item-image: img(src='../img/temp/carousel_3.jpg', alt='Probka на Цветном, Москва').object-fit
					.card__item-tag КОНДИТЕРСКИЕ
					.card__item-info
						.card__item-title Кондитерская на Тверской
			.card__item.card__item_project
				a(href='project_item.html', data-animate-fade, data-animate-delay='300').card__item-inner
					.card__item-image: img(src='../img/temp/carousel_4.jpg', alt='Probka на Цветном, Москва').object-fit
					.card__item-tag Пиццерия
					.card__item-info
						.card__item-title Корюшка, сеть ресторанов Ginza Project


			//-+cardItem('project', '../img/temp/carousel_1.jpg', 'Probka на Цветном, Москва', false, 'КОНДИТЕРСКИЕ')
			//-+cardItem('project', '../img/temp/carousel_4.jpg', "Uilliam's, сеть ресторанов Ginza Project", false, 'мини-пекарня')
			//-+cardItem('project', '../img/temp/carousel_2.jpg', 'Кондитерская на Тверской', false, 'КОНДИТЕРСКИЕ')
			//-+cardItem('project', '../img/temp/carousel_3.jpg', 'Корюшка, сеть ресторанов Ginza Project', false, 'Пиццерия')
			//-+cardItem('project', '../img/temp/carousel_5.jpg', 'Пицца Оllis', false, 'Пиццерия')


	.projects__insert(class= 'projects__insert_' + pagePart)
		.inner
			.projects__insert-text Мы&nbsp;оказываем полный комплекс услуг по&nbsp;оснащению пекарен, кондитерских, пиццерий, и&nbsp;прочего.
		.projects__insert-image(data-animate-class='is-animate'): img(src= '../img/partition/insert-' + pagePart + '.png')

	.inner
		.card__list.projects__list.projects__list_2
			.card__item.card__item_project
				a(href='project_item.html', data-animate-fade).card__item-inner
					.card__item-image: img(src='../img/temp/carousel_1.jpg', alt='Probka на Цветном, Москва').object-fit
					.card__item-tag КОНДИТЕРСКИЕ
					.card__item-info
						.card__item-title Probka на Цветном, Москва
			.card__item.card__item_project
				a(href='project_item.html', data-animate-fade, data-animate-delay='300').card__item-inner
					.card__item-image: img(src='../img/temp/carousel_2.jpg', alt='Probka на Цветном, Москва').object-fit
					.card__item-tag мини-пекарня
					.card__item-info
						.card__item-title Uilliam's, сеть ресторанов Ginza Project
			.card__item.card__item_project
				a(href='project_item.html', data-animate-fade, data-animate-delay='600').card__item-inner
					.card__item-image: img(src='../img/temp/carousel_3.jpg', alt='Probka на Цветном, Москва').object-fit
					.card__item-tag КОНДИТЕРСКИЕ
					.card__item-info
						.card__item-title Кондитерская на Тверской

			//-+cardItem('project', '../img/temp/carousel_1.jpg', 'Probka на Цветном, Москва', false, 'КОНДИТЕРСКИЕ')
			//-+cardItem('project', '../img/temp/carousel_2.jpg', 'Кондитерская на Тверской', false, 'КОНДИТЕРСКИЕ')
			//-+cardItem('project', '../img/temp/carousel_3.jpg', 'Корюшка, сеть ресторанов Ginza Project', false, 'Пиццерия')

		.card__more
			a(href='projects.html').btn.btn_link Показать все

.callback
	.inner
		.callback__title Понравились работы?
		.callback__subtitle Давайте мы позвоним вам и подробно расскажем
		.callback__form
			form.form(action='', method='post', novalidate, autocomplete='off')

				.form__field
					.form__input
						input(placeholder='Ваш телефон', type='text', name='phone', data-require='true', data-mask='+7 999 999-99-99')

				.form__field.form__field_polithics
					.form__input
						label
							input(checked type="checkbox" name="politics" data-require="true")
							span.form__label Настоящим подтверждаю, что я&nbsp;ознакомлен и&nbsp;согласен с&nbsp;#[a(href="http://tfdecor.ru/assets/doc/politics.pdf", target="_blank") условиями политики конфиденциальности]

				.form__field.form__field_submit
					.form__input
						button(type='submit').btn.btn_green Перезвоните мне