.popup.popup_feedback
	.popup__overlay
	.popup__inner
		.popup__layout
			svg.popup__bg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1071 650" preserveAspectRatio="none")
				path
			.popup__close
			.popup__content
				.popup__title Оставить заявку
				form.form(action='', method='post', novalidate, autocomplete='off')

					.form__field.form__field_half
						.form__input
							input(type='text', name='name', data-require='true')
							.form__placeholder Как вас зовут?

					.form__field.form__field_half
						.form__input
							select(name='direction', data-require='true')
								option(selected, disabled)
								option(value='Рестораны') Рестораны
								option(value='Отели') Отели
								option(value='Пекарни') Пекарни
								option(value='Ритейл') Ритейл
								option(value='Корабли') Корабли

							.form__placeholder Направление

					.form__field.form__field_half
						.form__input
							input(type='text', name='phone', data-require='true', data-mask='+7 999 999-99-99')
							.form__placeholder Телефон

					.form__field.form__field_half
						.form__input
							input(type='email', name='email', data-require='email')
							.form__placeholder Почта

					.form__field.form__field_half
						.form__input
							select(name='city', data-require='true', data-autocomplete='true')
								option(selected, disabled)
								option(value='Москва') Москва
								option(value='Санкт-Петербург') Санкт-Петербург
								option(value='Новосибирск') Новосибирск
								option(value='Екатеринбург') Екатеринбург
								option(value='Нижний Новгород') Нижний Новгород
								option(value='Казань') Казань
								option(value='Челябинск') Челябинск
								option(value='Омск') Омск
								option(value='Самара') Самара
								option(value='Ростов-на-Дону') Ростов-на-Дону
								option(value='Уфа') Уфа
								option(value='Красноярск') Красноярск
								option(value='Пермь') Пермь
								option(value='Воронеж') Воронеж
								option(value='Волгоград') Волгоград
								option(value='Краснодар') Краснодар
								option(value='Саратов') Саратов
								option(value='Тюмень') Тюмень
								option(value='Тольятти') Тольятти
								option(value='Ижевск') Ижевск
								option(value='Барнаул') Барнаул
								option(value='Ульяновск') Ульяновск
								option(value='Иркутск') Иркутск
								option(value='Хабаровск') Хабаровск
								option(value='Ярославль') Ярославль
								option(value='Владивосток') Владивосток
								option(value='Махачкала') Махачкала
								option(value='Томск') Томск
								option(value='Оренбург') Оренбург
								option(value='Кемерово') Кемерово
								option(value='Новокузнецк') Новокузнецк
								option(value='Рязань') Рязань
								option(value='Астрахань') Астрахань
								option(value='Набережные') Набережные
								option(value='Пенза') Пенза
								option(value='Липецк') Липецк
								option(value='Киров') Киров
								option(value='Чебоксары') Чебоксары
								option(value='Тула') Тула
								option(value='Калининград') Калининград
								option(value='Балашиха') Балашиха
								option(value='Курск') Курск
								option(value='Севастополь') Севастополь
								option(value='Улан-Удэ') Улан-Удэ
								option(value='Ставрополь') Ставрополь
								option(value='Сочи') Сочи
								option(value='Тверь') Тверь
								option(value='Магнитогорск') Магнитогорск
								option(value='Иваново') Иваново
								option(value='Брянск') Брянск

							.form__placeholder Город

					.form__field
						.form__input
							textarea(name='message', data-require='true')
							.form__placeholder Комментарий

					.form__field.form__field_polithics
						.form__input
							label
								input(checked type="checkbox" name="politics" data-require="true")
								span.form__label Настоящим подтверждаю, что я&nbsp;ознакомлен и&nbsp;согласен с&nbsp;#[a(href="http://tfdecor.ru/assets/doc/politics.pdf", target="_blank") условиями политики конфиденциальности]


					.form__field.form__field_submit
						.form__input
							button(type='submit').btn.btn_big.btn_green Отправить