extends layout/template

block vars
	- var pageName = "base";
	- var pageTitle = "Страница не найдена";
	- var pageDescription = pageName;
	- var pageImage = "/img.jpg";
	- var pageUrl = "{{page url}}";

block head

block content
	.error
		.inner
			.error__info
				.error__title Мы не всегда находим#[br]то, что ищем.#[br]Вот и сейчас кажется#[br]как раз такой случай.
				.error__text Неправильно набран адрес, или такой страницы больше#[br]не существует, а возможно никогда и не существовало.
			.error__code 404
			//-.error__image
				img(src='../img/404.png')

block append
