html(lang='ru')
	head
		meta(charset='UTF-8')/
		//-meta(http-equiv="Content-Type" content="text/html; charset=windows-1251")
		meta(name='viewport', content='width=device-width')/
		meta(http-equiv='X-UA-Compatible', content='IE=edge')/
		title= pageTitle

		meta(property='og:title', content= pageTitle)/
		meta(property='og:description', content= pageDescription)/
		meta(property='og:image', content= pageImage)/
		meta(property='og:url', content= pageUrl)/
		meta(name='twitter:title', content= pageTitle)/
		meta(name='twitter:description', content= pageDescription)/
		meta(name='twitter:image', content= pageImage)/
		meta(name='twitter:card', content='summary_large_image')/
		//-include favicon
		link(rel="apple-touch-icon", sizes="180x180", href="../img/favicon/apple-touch-icon.png")
		link(rel="icon", type="image/png", sizes="32x32", href="../img/favicon/favicon-32x32.png")
		link(rel="icon", type="image/png", sizes="16x16", href="../img/favicon/favicon-16x16.png")
		meta(name="msapplication-TileColor", content="#6cc74d")
		meta(name="theme-color", content="#6cc74d")

	body
		.information
			a(href='/').information__logo: img(src='../img/technoflot-logo.svg', alt='Технофлот')
			.information__content
				.inner
					.information__title ошибка 503
					.information__text Пока вы&nbsp;читаете это предложение, возможно мы&nbsp;всё уже починили. Попробуйте нажать кнопку ниже, вдруг всё уже работает
					.information__btn
						a(href='#', onclick='location.reload()').btn.btn_green.btn_big Перезагрузить страницу

