extends layout/template

block vars
	- var pageName = "base";
	- var pageTitle = "Контакты";
	- var pageDescription = pageName;
	- var pageImage = "/img.jpg";
	- var pageUrl = "{{page url}}";

block head

block content

	.page.page_about
		.head
			.inner
				.head__title О компании

		.about
			.about__main
				.inner
					.about__main-info
						.about__title Мы успешно работаем на&nbsp;рынке индустрии гостеприимства и&nbsp;питания с&nbsp;2003&nbsp;года.
						.about__quote Основная задача нашей компании&nbsp;– профессиональное оснащение кухонь.
						.about__lisence
							.about__lisence-item
								.about__lisence-photo: img(src='../img/about/lisence_1.jpg')
								.about__lisence-text Свидетельство о&nbsp;допуске к&nbsp;работам по&nbsp;подготовке проектной документации: СРО&nbsp;№&nbsp;0159-2012-7814120490-05 от&nbsp;«03»&nbsp;апреля 2012&nbsp;года.
							.about__lisence-item
								.about__lisence-photo: img(src='../img/about/lisence_2.jpg')
								.about__lisence-text Свидетельство о&nbsp;допуске к&nbsp;пусконаладочным работам: СРО&nbsp;№&nbsp;0571.03-2012-7814120490-С-010 от&nbsp;«15»&nbsp;марта 2012&nbsp;года.


					.about__more
						.about__more-image(style="background-image:url(../img/about/bg.jpg)")
						.about__more-text
							p Наша уникальность заключается в&nbsp;использовании разносторонних знаний и&nbsp;навыков, большого опыта реализованных нами проектов, умении применять разнообразныетехнические и&nbsp;технологические решения.
							p Всё это помогает нам выполнять поставленные клиентом задачи с&nbsp;максимальной эффективностью и&nbsp;оперативно реагировать на&nbsp;меняющиеся потребности рынка.

			.about__activity
				.inner
					.about__title Направления деятельности

					.about__activity-list
						.about__activity-item
							.about__activity-ico: img(src='../img/about/ico_1.png')
							.about__activity-title Проектирование
							.about__activity-text Технологическое проектирование предприятий питания и&nbsp;пищевых производств
						.about__activity-item
							.about__activity-ico: img(src='../img/about/ico_2.png')
							.about__activity-title Поставка
							.about__activity-text Поставка технологического оборудования для&nbsp;профессиональной кухни
						.about__activity-item
							.about__activity-ico: img(src='../img/about/ico_3.png')
							.about__activity-title Производство
							.about__activity-text Собственное производство изделий из&nbsp;нержавеющей стали
						.about__activity-item
							.about__activity-ico: img(src='../img/about/ico_4.png')
							.about__activity-title Монтаж
							.about__activity-text Монтажные и&nbsp;пусконаладочные работы
						.about__activity-item
							.about__activity-ico: img(src='../img/about/ico_5.png')
							.about__activity-title Сервисный центр
							.about__activity-text Гарантийное и&nbsp;постгарантийное сервисное обслуживание
						.about__activity-item
							.about__activity-ico: img(src='../img/about/ico_6.png')
							.about__activity-title Склад запасных частей
							.about__activity-text Обеспечение необходимыми запчастями из&nbsp;складского запаса
						.about__activity-item
							.about__activity-ico: img(src='../img/about/ico_7.png')
							.about__activity-title Дилерская сеть
							.about__activity-text Развитие дилерской сети в&nbsp;России и&nbsp;странах СНГ
						.about__activity-item
							.about__activity-ico: img(src='../img/about/ico_8.png')
							.about__activity-title Экспертная поддержка
							.about__activity-text Консультации квалифицированных специалистов на&nbsp;всех этапах проекта: от&nbsp;проектирования до сервисного обслуживания
						.about__activity-item
							.about__activity-ico: img(src='../img/about/ico_9.png')
							.about__activity-title Обучение
							.about__activity-text Проведение мастер-классов, бизнес-мероприятий, обучение персонала работе на&nbsp;оборудовании

			.about__advantages
				.inner
					.about__title Наши преимущества

					.about__advantages-list
						.about__advantages-item Индивидуальный подход, внимание и&nbsp;уважение к&nbsp;потребностям каждого заказчика;
						.about__advantages-item Сотрудничество с&nbsp;независимыми зарубежными консультантами по проектированию предприятий общественного питания;
						.about__advantages-item Технологи-проектировщики с&nbsp;многолетним опытом работы;
						.about__advantages-item Изготовление нестандартного оборудования из&nbsp;нержавеющей стали;
						.about__advantages-item.about__advantages-item_img: img(src='../img/about_adv.jpg')
						.about__advantages-item Высокий уровень качества поставляемого оборудования и&nbsp;сопутствующих услуг;
						.about__advantages-item Консультации опытных специалистов и&nbsp;оперативность в&nbsp;обслуживании.



	.callback
		.inner
			.callback__title Помочь с&nbsp;выбором?
			.callback__subtitle Давайте мы позвоним вам и&nbsp;подробно расскажем
			.callback__form
				form.form(action='', method='post', novalidate, autocomplete='off')

					.form__field
						.form__input
							input(placeholder='Ваш телефон', type='text', name='phone', data-require='true', data-mask='+7 999 999-99-99')

					.form__field.form__field_polithics
						.form__input
							label
								input(checked type="checkbox" name="politics" data-require="true")
								span.form__label Настоящим подтверждаю, что я&nbsp;ознакомлен и&nbsp;согласен с&nbsp;#[a(href="http://tfdecor.ru/assets/doc/politics.pdf", target="_blank") условиями политики конфиденциальности]

					.form__field.form__field_submit
						.form__input
							button(type='submit').btn.btn_green Перезвоните мне!

block append
	script(async src='https://maps.googleapis.com/maps/api/js?callback=initGoogleMap&key=AIzaSyBiHAxZCf4YLboE50wT_vEytsYi3OWaREs')