extends layout/template

block vars
	- var pagePart = 'bakery';
	- var pageColor = '#d5a25a';
	- var pageName = "base";
	- var pageTitle = "Пекарни";
	- var pageDescription = pageName;
	- var pageImage = "/img.jpg";
	- var pageUrl = "{{page url}}";


block head

block content
	include layout/part
block append
