extends layout/template

block vars
	- var pagePart = true;
	- var pageName = "base";
	- var pageTitle = "Бренды - Electrolux";
	- var pageDescription = pageName;
	- var pageImage = "/img.jpg";
	- var pageUrl = "{{page url}}";

block head

block content
	.article.article_brand
		.inner
			.breadcrumbs
				.breadcrumbs__item: a(href='brands.html') Бренды
				.breadcrumbs__item Electrolux

			.article__title Electrolux

			.article__brand
				.article__brand-logo: img(src='../img/temp/brand_1.png', alt='Electrolux')
				.article__brand-info
					.article__brand-title AB Electrolux — шведская компания, один из ведущих мировых производителей бытовой и&nbsp;профессиональной техники.
					.article__brand-text Ежегодно компания продает более 60&nbsp;миллионов своих изделий потребителям из&nbsp;150 стран. Штаб-квартира Electrolux расположена в&nbsp;Стокгольме. #[br]Компания Electrolux была основана Акселем Веннером-Греном. В 1908 году Веннер-Грен работал агентом по продажам в шведской компании Separator.

			.article__title Текстовое описание

			.article__content.article__content_wide
				.article__content-half
					p Одним из&nbsp;основоположников современного промышленного дизайна являлся директор Художественно-промышленной школы в&nbsp;Дюссельдорфе, представитель Дюссельдорфской художественной школы Петер Беренс, с&nbsp;1907 года работавший художественным консультантом компании AEG. Именно благодаря разработкам Беренса фирменный стиль стал одной из обязательных характеристик бытовой техники наряду с функциональными.

				.article__content-half
					p.center: a.btn.btn_big.btn_green(href='equipments.html') Оборудование бренда



	+callback('phone')

block append
