extends layout/template

block vars
	- var pagePart = true;
	- var pageName = "base";
	- var pageTitle = "Каталог брендов";
	- var pageDescription = pageName;
	- var pageImage = "/img.jpg";
	- var pageUrl = "{{page url}}";

block head

block content

	.page.page_brands
		.inner
			.head
				.head__title Каталог брендов

			.card
				.card__list
					+cardItem('brand', '../img/temp/brand_1.png')
					+cardItem('brand', '../img/temp/brand_2.png')
					+cardItem('brand', '../img/temp/brand_3.png')
					+cardItem('brand', '../img/temp/brand_4.png')
					+cardItem('brand', '../img/temp/brand_5.png')
					+cardItem('brand', '../img/temp/brand_6.png')
					+cardItem('brand', '../img/temp/brand_7.png')
					+cardItem('brand', '../img/temp/brand_8.png')
					+cardItem('brand', '../img/temp/brand_10.png')
					+cardItem('brand', '../img/temp/brand_4.png')
					+cardItem('brand', '../img/temp/brand_5.png')
					+cardItem('brand', '../img/temp/brand_9.png')

				.card__more: .btn.btn_link(data-card='https://next.json-generator.com/api/json/get/4kAB5VPe8?delay=500') Показать ещё


	+callback('phone')

block append
