extends layout/template

block vars
	- var pageName = "base";
	- var pageTitle = "Контакты";
	- var pageDescription = pageName;
	- var pageImage = "/img.jpg";
	- var pageUrl = "{{page url}}";

block head

block content

	.page.page_contact
		.head
			.inner
				.head__title Контакты
				.head__tab
					.head__tab-item(data-map-city='spb').is-active Санкт-Петербург
					.head__tab-item(data-map-city='msk') Москва

		.contact
			.contact__wrap
				.contact__info
					.inner
						.contact__info-item.is-active(data-map-info='spb[0]')
							.contact__info-phone +7 (812) 454-69-19
							.contact__info-address ул. Заневский пост, д. 3, стр. 1
							.contact__info-text Мы работаем с 9:00 - 18:30, выходные: сб, вс
							.contact__info-text
								span Бесплатная парковка
								a(href='../img/map/spb.jpg', target='_blank').openmap Открыть схему проезда
							.contact__info-email: a(href='mailto:info@tfdecor.ru') info@tfdecor.ru

						.contact__info-item(data-map-info='spb[1]')
							.contact__info-phone +7 (812) 454-00-76 #[br]+7 (812) 972-22-99
							.contact__info-address ул. Заневский пост, д. 3, стр. 2
							.contact__info-text Мы работаем с 9:00 - 18:30, выходные: сб, вс
							.contact__info-text
								span Бесплатная парковка
								a(href='../img/map/spb.jpg', target='_blank').openmap Открыть схему проезда
							.contact__info-email: a(href='mailto:9722299@tfdecor.ru') 9722299@tfdecor.ru

						.contact__info-item(data-map-info='spb[2]')
							.contact__info-phone +7 (812) 454-69-19
							.contact__info-address ул. Заневский пост, д. 3, стр. 2
							.contact__info-text Мы работаем с 9:00 - 18:30, выходные: сб, вс, обед: с 13:00 - 14:00
							.contact__info-text
								span Бесплатная парковка
								a(href='../img/map/spb.jpg', target='_blank').openmap Открыть схему проезда
							.contact__info-email: a(href='mailto:info@tfdecor.ru') info@tfdecor.ru

						.contact__info-item(data-map-info='msk[0]')
							.contact__info-phone +7 (495) 739-42-79
							.contact__info-address ул. Щербаковская, д. 3, оф. 603
							.contact__info-text Мы работаем с 9:00 - 18:30, выходные: сб, вс
							.contact__info-text
								span Бесплатная парковка
							.contact__info-email: a(href='mailto:info_msk@tfdecor.ru') mailto:info_msk@tfdecor.ru

						.contact__info-item(data-map-info='msk[1]')
							.contact__info-phone +7 (495) 739-42-79
							.contact__info-address Семеновский пер., д. 15, офис 919
							.contact__info-text Мы работаем с 9:00 - 18:30, выходные: сб, вс
							.contact__info-text
								span Бесплатная парковка
							.contact__info-email: a(href='mailto:info_msk@tfdecor.ru') mailto:info_msk@tfdecor.ru

						.contact__info-item(data-map-info='msk[2]')
							.contact__info-phone +7 (925) 011-50-38
							.contact__info-address ул. Газгольдерная, д. 12, стр. 4
							.contact__info-text Мы работаем с 9:00 - 18:30, выходные: сб, вс
							.contact__info-text
								span Бесплатная парковка
								a(href='../img/map/msk.jpg', target='_blank').openmap Открыть схему проезда
							.contact__info-email: a(href='mailto:info_msk@tfdecor.ru') mailto:info_msk@tfdecor.ru

				.contact__map
					.contact__map-layout
					.contact__map-control
						.inner.is-active(data-map-control='spb')
							.btn.btn_green.is-active(data-map-item='0', data-map-coord='59.943075,30.512231') Офис
							.btn.btn_green(data-map-item='1', data-map-coord='59.943111,30.513174') сервисный центр
							.btn.btn_green(data-map-item='2', data-map-coord='59.943075,30.512231') склад

						.inner(data-map-control='msk')
							.btn.btn_green.is-active(data-map-item='0', data-map-coord='55.782623,37.723367') Офис
							.btn.btn_green(data-map-item='1', data-map-coord='55.782927,37.715911') сервисный центр
							.btn.btn_green(data-map-item='2', data-map-coord='55.726168,37.734452') склад


			.contact__form
				.inner
					.contact__form-inner
						.contact__form-title Напишите нам&nbsp;с&nbsp;сайта

						form.form(action='', method='post', novalidate, autocomplete='off')

							.form__field
								.form__input
									input(type='text', name='name', data-require='true')
									.form__placeholder Как вас зовут?

							.form__field.form__field_half
								.form__input
									input(type='text', name='phone', data-require='true', data-mask='+7 999 999-99-99')
									.form__placeholder Телефон

							.form__field.form__field_half
								.form__input
									input(type='email', name='email', data-require='email')
									.form__placeholder Почта


							.form__field
								.form__input
									textarea(name='message', data-require='true')
									.form__placeholder Сообщение

							.form__field.form__field_polithics
								.form__input
									label
										input(checked type="checkbox" name="politics" data-require="true")
										span.form__label Настоящим подтверждаю, что я&nbsp;ознакомлен и&nbsp;согласен с&nbsp;#[a(href="http://tfdecor.ru/assets/doc/politics.pdf", target="_blank") условиями политики конфиденциальности]


							.form__field.form__field_submit
								.form__input
									button(type='submit').btn.btn_big.btn_green Отправить


block append
	script(async src='https://maps.googleapis.com/maps/api/js?callback=initGoogleMap&key=AIzaSyBiHAxZCf4YLboE50wT_vEytsYi3OWaREs')