extends layout/template

block vars
	- var pagePart = true;
	- var pageName = "base";
	- var pageTitle = "Каталог оборудования";
	- var pageDescription = pageName;
	- var pageImage = "/img.jpg";
	- var pageUrl = "{{page url}}";

block head

block content

	.page.page_equipment
		.inner
			.head
				.head__title Каталог оборудования

			.card
				.card__list
					+cardItem('equipment', '../img/temp/equipment_1.png', 'Холодильный шкаф Electrolux', false, 'RGV')
					+cardItem('equipment', '../img/temp/equipment_2.png', 'Духовой шкаф Lainox', false, 'waring')
					+cardItem('equipment', '../img/temp/equipment_3.png', 'Электрошашлычница RGV', false, 'RGV')
					+cardItem('equipment', '../img/temp/equipment_4.png', 'Духовой шкаф Lainox', false, 'waring')
					+cardItem('equipment', '../img/temp/equipment_5.png', 'Холодильный шкаф Electrolux', false, 'RGV')
					+cardItem('equipment', '../img/temp/equipment_6.png', 'Духовой шкаф Lainox', false, 'waring')
					+cardItem('equipment', '../img/temp/equipment_7.png', 'Электрошашлычница RGV', false, 'RGV')
					+cardItem('equipment', '../img/temp/equipment_8.png', 'Духовой шкаф Lainox', false, 'waring')
					+cardItem('equipment', '../img/temp/equipment_5.png', 'Холодильный шкаф Electrolux', false, 'RGV')
					+cardItem('equipment', '../img/temp/equipment_6.png', 'Духовой шкаф Lainox', false, 'waring')
					+cardItem('equipment', '../img/temp/equipment_7.png', 'Электрошашлычница RGV', false, 'RGV')
					+cardItem('equipment', '../img/temp/equipment_8.png', 'Духовой шкаф Lainox', false, 'waring')


				.card__more: .btn.btn_link(data-card='https://next.json-generator.com/api/json/get/Vk0ecVvl8?delay=500') Показать ещё


	+callback('phone')

block append
