extends layout/template

block vars
	- var pagePart = true;
	- var pageName = "base";
	- var pageTitle = "Станция блинная электрическая";
	- var pageDescription = pageName;
	- var pageImage = "/img.jpg";
	- var pageUrl = "{{page url}}";

block head

block content
	.article.article_equipment
		.inner
			.breadcrumbs
				.breadcrumbs__item: a(href='brands.html') Пекарни
				.breadcrumbs__item: a(href='brands.html') Fimar
				.breadcrumbs__item Станция блинная электрическая

			.article__title Станция блинная электрическая

			.article__equipment
				.article__equipment-view
					.article__equipment-preview
						.article__equipment-thumbnail.is-active: img(src='../img/temp/equipment-item_1.png', alt='')
						.article__equipment-thumbnail: img(src='../img/temp/equipment-item_2.png', alt='')
					.article__equipment-carousel
						.article__equipment-image: img(src='../img/temp/equipment-item_1.png', alt='')
						.article__equipment-image: img(src='../img/temp/equipment-item_2.png', alt='')

				.article__equipment-info
					.article__equipment-logo: img(src='../img/temp/brand_7.png', alt='Electrolux')
					.article__equipment-text
						.article__equipment-title Производитель:
						.article__equipment-value ТТМ
						.article__equipment-title Габаритые размеры:
						.article__equipment-value 1500x850x850
						.article__equipment-title Напряжение, В:
						.article__equipment-value 220
						.article__equipment-title Мощность, кВт:
						.article__equipment-value 0.6


			.article__title Описание

			.article__content
				p Материал корпуса — нержавеющая сталь, охлажд. ванна, стенд закрыт с 3-х сторон, вытяжка, электромеханическая система управления, ниша размером 880х470х200мм под блинный аппарат с 2 жарочными поверхностями (аппарат не входит в комплектацию); 1 охлаждаемой наклонной ванной под гастроемкости 8хGN1/6 глубиной до 150мм. и гнёздами под ёмкости под масло (GN1/9) и тесто (GN1/3) (гастроемкости в комплект не входят); гнездом со специальной ёмкостью в комплекте под палочку для разравнивания теста, имеет четыре поворотные колеса (2 с тормозами).

	+callback('phone')

block append
