extends layout/template

block vars
	- var pagePart = 'flot';
	- var pageColor = '#42b3cc';
	- var pageName = "base";
	- var pageTitle = "Корабли";
	- var pageDescription = pageName;
	- var pageImage = "/img.jpg";
	- var pageUrl = "{{page url}}";


block head

block content
	include layout/part
block append
