extends layout/template

block vars
	- var pagePart = 'hotel';
	- var pageColor = '#735586';
	- var pageName = "base";
	- var pageTitle = "Отели";
	- var pageDescription = pageName;
	- var pageImage = "/img.jpg";
	- var pageUrl = "{{page url}}";


block head

block content
	include layout/part
block append
