extends layout/template

block vars
	- var pageMain = true;
	- var pageName = "base";
	- var pageTitle = "Технофлот";
	- var pageDescription = pageName;
	- var pageImage = "/img.jpg";
	- var pageUrl = "{{page url}}";

block head

block content
	.welcome.welcome_main
		.welcome__textline: img(src='../img/technoflot-text.svg', alt="technoflot")
		.welcome__carousel
			.welcome__carousel-list

				+welcomeSlide('01', 'Стадион «Открытие Арена»', 'Москва', '../img/temp/carousel_1.jpg', '../img/temp/carousel_2.jpg')
				+welcomeSlide('02', 'Buddha-Bar', 'Санкт-Петербург', '../img/temp/carousel_2.jpg', '../img/temp/carousel_3.jpg')
				+welcomeSlide('03', 'Hyatt Regency Sochi', 'Сочи', '../img/temp/carousel_3.jpg', '../img/temp/carousel_4.jpg')
				+welcomeSlide('04', 'Probka на Цветном', 'Москва', '../img/temp/carousel_4.jpg', '../img/temp/carousel_5.jpg')
				+welcomeSlide('05', 'Sheraton Ufa Hotel', 'Уфа', '../img/temp/carousel_5.jpg', '../img/temp/carousel_9.jpg')
				+welcomeSlide('06', 'Swissôtel Resort Sochi Kamelia', 'Сочи', '../img/temp/carousel_6.jpg', '../img/temp/carousel_7.jpg')
				+welcomeSlide('07', "Uilliam's, сеть ресторанов Ginza Project", 'Москва', '../img/temp/carousel_7.jpg', '../img/temp/carousel_8.jpg')
				+welcomeSlide('08', 'W St. Petersburg', 'Санкт-Петербург', '../img/temp/carousel_8.jpg', '../img/temp/carousel_9.jpg')
				+welcomeSlide('09', 'Здание Главного Адмиралтейства', 'Санкт-Петербург', '../img/temp/carousel_9.jpg', '../img/temp/carousel_10.jpg')
				+welcomeSlide('10', 'Корюшка, сеть ресторанов Ginza Project', 'Санкт-Петербург', '../img/temp/carousel_10.jpg', '../img/temp/carousel_11.jpg')
				+welcomeSlide('11', 'Лента на Энгельса', 'Санкт-Петербург', '../img/temp/carousel_11.jpg', '../img/temp/carousel_1.jpg')


			.welcome__carousel-control
				.btn.welcome__carousel-btn.welcome__carousel-btn_prev._goprev Предыдущий проект
				.btn.welcome__carousel-btn.welcome__carousel-btn_next._gonext Следующий проект

		.welcome__info
			.inner
				.welcome__info-title Проектируем

				.welcome__info-text кулинарные#[br]пространства #[span 16] лет

				//-.welcome__info-more: a(href='contacts.html') узнайте о нас больше

	.partition
		.inner
			.partition__catalog
				.partition__catalog-title Технологическое оборудование для&nbsp;профессиональной кухни
				.partition__catalog-list
					.partition__catalog-group
						.partition__catalog-item.partition__catalog-item_kitchen
							a(href='kitchen.html', data-animate-fade).partition__catalog-inner
								.partition__catalog-img
								.partition__catalog-info
									.partition__catalog-name Рестораны
									.partition__catalog-text Правильно спроектированная кухня&nbsp;– не&nbsp;просто место для&nbsp;приготовления пищи, а&nbsp;платформа, на&nbsp;базе которой воплощаются в&nbsp;жизнь крупные кулинарные проекты.
						.partition__catalog-item.partition__catalog-item_bakery
							a(href='bakery.html', data-animate-fade).partition__catalog-inner
								.partition__catalog-img
								.partition__catalog-info
									.partition__catalog-name Пекарни
									.partition__catalog-text Максимальная отдача прибыли с&nbsp;каждого метра производственного и&nbsp;торгового пространства
					.partition__catalog-group
						.partition__catalog-item.partition__catalog-item_hotel
							a(href='hotel.html', data-animate-fade).partition__catalog-inner
								.partition__catalog-img
								.partition__catalog-info
									.partition__catalog-name Отели
									.partition__catalog-text Правильно спроектированная кухня&nbsp;– не&nbsp;просто место для&nbsp;приготовления пищи, а&nbsp;платформа.
						.partition__catalog-item.partition__catalog-item_retail
							a(href='retail.html', data-animate-fade).partition__catalog-inner
								.partition__catalog-img
								.partition__catalog-info
									.partition__catalog-name Ритейл
									.partition__catalog-text
						.partition__catalog-item.partition__catalog-item_flot
							a(href='flot.html', data-animate-fade, data-animate-delay='300').partition__catalog-inner
								.partition__catalog-img
								.partition__catalog-info
									.partition__catalog-name Корабли
									.partition__catalog-text
		.partition__complex
			.inner
				.partition__complex-title Мы оказываем полный комплекс услуг#[br]по оснащению предприятий#[br]общественного питания.
				.partition__complex-list
					.partition__complex-item проектирование предприятий питания и&nbsp;пищевых производств
					.partition__complex-item поставка технологического оборудования для&nbsp;профессиональной кухни
					.partition__complex-item производство изделий из&nbsp;нержавеющей стали, монтаж и&nbsp;обслуживание
					.partition__complex-item обеспечение необходимыми запчастями из&nbsp;складского запаса
					.partition__complex-item обучение, консультации и&nbsp;проведение мастер&#8209;классов

		.partition__statictic
			.partition__statictic-image(style='background-image:url(../img/statistic.jpg);')
			.partition__statictic-info
				.inner
					.partition__statictic-title Технофлот
					.partition__statictic-subtitle сегодня – это:

					.partition__statictic-list
						.partition__statictic-item
							.partition__statictic-value >#[span(data-animate-num='150') 0]
							.partition__statictic-text ведущих мировых производителей
						.partition__statictic-item
							.partition__statictic-value >#[span(data-animate-num='200', data-animate-delay='300') 0]
							.partition__statictic-text вдилеров в&nbsp;России и&nbsp;странах&nbsp;СНГ
						.partition__statictic-item
							.partition__statictic-value >#[span(data-animate-num='200') 0]
							.partition__statictic-text сотрудников в&nbsp;штате
						.partition__statictic-item
							.partition__statictic-value >#[span(data-animate-num='4000', data-animate-delay='300') 0]
							.partition__statictic-text оснащённых объектов
						.partition__statictic-item
							.partition__statictic-value #[span(data-animate-num='4500') 0] м#[sup 2]
							.partition__statictic-text складских помещений в&nbsp;Санкт&#8209;Петербурге и&nbsp;Москве
					.partition__statictic-btn
						.btn.btn_green(data-popup-open='.popup_feedback') Оставить заявку

	.partners
		.partners__list
			.partners__item: a(href='brand_item.html').partners__logo
				img(src='../img/partners/partner_1.png', alt='').partners__logo-image
				img(src='../img/partners/partner_1.png', alt='').partners__logo-hover
			.partners__item: a(href='brand_item.html').partners__logo
				img(src='../img/partners/partner_2.png', alt='').partners__logo-image
				img(src='../img/partners/partner_2.png', alt='').partners__logo-hover
			.partners__item: a(href='brand_item.html').partners__logo
				img(src='../img/partners/partner_3.png', alt='').partners__logo-image
				img(src='../img/partners/partner_3.png', alt='').partners__logo-hover
			.partners__item: a(href='brand_item.html').partners__logo
				img(src='../img/partners/partner_4.png', alt='').partners__logo-image
				img(src='../img/partners/partner_4.png', alt='').partners__logo-hover
			.partners__item: a(href='brand_item.html').partners__logo
				img(src='../img/partners/partner_5.png', alt='').partners__logo-image
				img(src='../img/partners/partner_5.png', alt='').partners__logo-hover
			.partners__item: a(href='brand_item.html').partners__logo
				img(src='../img/partners/partner_6.png', alt='').partners__logo-image
				img(src='../img/partners/partner_6.png', alt='').partners__logo-hover
			.partners__item: a(href='brand_item.html').partners__logo
				img(src='../img/partners/partner_7.png', alt='').partners__logo-image
				img(src='../img/partners/partner_7.png', alt='').partners__logo-hover
			.partners__item: a(href='brand_item.html').partners__logo
				img(src='../img/partners/partner_8.png', alt='').partners__logo-image
				img(src='../img/partners/partner_8.png', alt='').partners__logo-hover



	.news.news_home
		.inner
			.news__head
				.news__title Новости
				.news__control
					//-.news__control-filter Показывать все
					.news__control-more: a(href='news.html') Архив новостей
			.card
				.card__list
					+cardItem('news', '../img/temp/carousel_2.jpg', 'Технофлот на PIR EXPO 2018', 'С 24 по 27 сентября компания «Технофлот» приняла участие в главном ежегодном событии ресторанного бизнеса — выставке PIR EXPO.', 'Выставки', ['10', 'октября', '2018'], 'big')
					+cardItem('news', '../img/temp/carousel_3.jpg', 'IBA 2018 — «аппетитное» мероприятие осени', false, 'Мастер-класс', '12.09.2018')
					+cardItem('news', '../img/temp/carousel_4.jpg', 'Технофлот приглашает на ПИР 2018', false, 'Новинки', '11.09.2018')
					+cardItem('news', '../img/temp/carousel_5.jpg', 'Печь VECTOR Alto-Shaam – революция в индустрии общепита', false, 'Мастер-класс', '10.09.2018')
					+cardItem('news', '../img/temp/carousel_6.jpg', 'Выставка IBA 2018', false, 'Новинки', '09.09.2018')


	.callback
		.inner
			.callback__title Помочь с выбором?
			.callback__subtitle Давайте мы позвоним вам и подробно расскажем
			.callback__form
				form.form(action='', method='post', novalidate, autocomplete='off')

					.form__field
						.form__input
							input(placeholder='Ваш телефон', type='text', name='phone', data-require='true', data-mask='+7 999 999-99-99')

					.form__field.form__field_polithics
						.form__input
							label
								input(checked type="checkbox" name="politics" data-require="true")
								span.form__label Настоящим подтверждаю, что я&nbsp;ознакомлен и&nbsp;согласен с&nbsp;#[a(href="http://tfdecor.ru/assets/doc/politics.pdf", target="_blank") условиями политики конфиденциальности]

					.form__field.form__field_submit
						.form__input
							button(type='submit').btn.btn_green Перезвоните мне!
block append
