extends layout/template

block vars
	- var pagePart = 'kitchen';
	- var pageColor = '#8b0e3d';
	- var pageName = "base";
	- var pageTitle = "Кухни";
	- var pageDescription = pageName;
	- var pageImage = "/img.jpg";
	- var pageUrl = "{{page url}}";


block head

block content
	include layout/part
block append
