extends layout/template

block vars
	- var pagePart = true;
	- var pageName = "main";
	- var pageTitle = "Карта сайта";
	- var pageDescription = pageName;
	- var pageImage = "/img.jpg";
	- var pageUrl = "{{page url}}";

block head

block content
	.article
		.inner

			.article__title Карта сайта

			.article__content
				p: a(href='index.html') Главная
				p: a(href='kitchen.html') Рестораны
				p: a(href='hotel.html') Отели
				p: a(href='bakery.html') Пекарни
				p: a(href='retail.html') Ритейл
				p: a(href='flot.html') Корабли
				p: a(href='brands.html') Список брендов
				p: a(href='brand_item.html') Страница бренда
				p: a(href='equipments.html') Список оборудования
				p: a(href='equipment_item.html') Страница оборудования
				p: a(href='news.html') Список новостей
				p: a(href='news_item.html') Страница новости
				p: a(href='projects.html') Список проектов
				p: a(href='project_item.html') Страница продукта
				p: a(href='about.html') О компании
				p: a(href='contacts.html') Контакты
				p: a(href='search.html') Страница результатов поиска
				p: a(href='404.html') Ошибка 404
				p: a(href='503.html') Ошибка 503
				//-p: a(href='503.html') 503



block append
