extends layout/template

block vars
	- var pagePart = true;
	- var pageName = "base";
	- var pageTitle = "Гастрономический фестиваль MEGUSTRO 2018";
	- var pageDescription = pageName;
	- var pageImage = "/img.jpg";
	- var pageUrl = "{{page url}}";

block head

block content
	.article.article_news
		.inner
			.breadcrumbs
				.breadcrumbs__item: a(href='news.html') Новости
				.breadcrumbs__item Гастрономический фестиваль MEGUSTRO 2018

			.article__title Гастрономический фестиваль MEGUSTRO 2018

			.article__kv
				.article__date
					.article__date-col
						.article__date-day 10
					.article__date-col
						.article__date-month октября
						.article__date-year 2018
				img(src='../img/temp/article_1.jpg', alt='Гастрономический фестиваль MEGUSTRO 2018')

			.article__announce 7-9 ноября Технофлот участвовал в международном фестивале MEGUSTRO - крупнейшем мероприятии для представителей ресторанного бизнеса, которое проходило в «Экспофоруме» (Санкт-Петербург).

			.article__content

				.typo

					p Это еще молодое событие, однако, всего за два года площадка MEGUSTRO стала местом, где создаются коллаборации и формируются тренды. Участниками очередного фестиваля стали знаменитости индустрии, представители предприятий, повара и рестораторы, а также 7000 посетителей. В течение трех насыщенных дней для них работало семь тематических зон, выступили более сотни спикеров, прошло свыше 90 обучающих семинаров.
					p Изюминка MEGUSTRO в сравнении с другими гастрономическими фестивалями - его концепция: обмен опытом в совершенно новых форматах, которые создают лидеры отрасли. Например, второй год на фестивале проходит ChefsChallenge - «батлы» между петербургскими и зарубежными шефами. В 2018 году в поединках участвовали 23 повара, из них 11 - гости из Европы, Азии и Латинской Америки. Также в рамках фестиваля состоялся отборочный тур всероссийского кулинарного чемпионата Chef a la Russe, в котором участвовали 15 команд из разных регионов. Технофлот совместно с компанией RATIONAL выступил техническим партнером этого конкурса: мы предоставили командам-участникам пароконвектоматы, а в конце мероприятия вручили призы победителям.
					p Другим нашим друзьям - французской пекарне Du Nord 1834 - мы как технический партнер предоставили холодильное оборудование и печь. А на стенде организатора фестиваля - METRO - компания «Технофлот» была представлена со шкафами для сухого вызревания мяса от немецкого производителя DRY AGER - лидера на рынке подобного оборудования.

					p Новинка MEGUSTRO 2018 года - зона дискуссий TalkME для общения экспертов, критиков и поваров. Также гости оценили образовательные площадки форума, где обсуждались вопросы управления рестораном, кадровая работа, проблемы продвижения. Обсуждая тренды ресторанного рынка, участники выясняли, что важнее - еда или искусство, как создавать пространство блюда и сочетать вкусы, а также найти баланс между азиатской и европейской традициями. И не менее «вкусными» были выступления спикеров. Например, эпатажный Владимир Перельман - создатель и владелец восьми ресторанов и архитектурного бюро - поделился опытом построения бизнеса на культе собственной личности. Дмитрий Левицкий, президент РЕАЛ - Ресторанного Альянса - на пресс-конференции подвел итоги первого года профессионального объединения и рассказал о дальнейших планах.

					ul
						li Другим нашим друзьям
						li Другим нашим друзьям
						li Другим нашим друзьям das dasd asdasdдрузьям das dasd asdasdдрузьям das dasd asdasd
						li Другим нашим друзьям

					ol
						li Другим нашим друзьям
						li Другим нашим друзьям
						li Другим нашим друзьям


					table
						tbody
							tr
								td 1
								td 2
								td 3
								td 4
							tr
								td 1
								td 2
								td 3
								td 4
							tr
								td 1
								td 2
								td 3
								td 4

				.article__carousel
					.article__carousel-item(data-src='../img/temp/article_2.jpg'): img(src='../img/temp/article_2.jpg')
					.article__carousel-item(data-src='../img/temp/article_3.jpg'): img(src='../img/temp/article_3.jpg')
					.article__carousel-item(data-src='../img/temp/article_4.jpg'): img(src='../img/temp/article_4.jpg')
					.article__carousel-item(data-src='../img/temp/article_3.jpg'): img(src='../img/temp/article_3.jpg')
					.article__carousel-item(data-src='../img/temp/article_4.jpg'): img(src='../img/temp/article_4.jpg')


	.news
		.inner
			.news__head
				.news__title Другие наши новости:
			.card
				.card__list
					+cardItem('news', '../img/temp/carousel_3.jpg', 'IBA 2018 — «аппетитное» мероприятие осени', false, 'Мастер-класс', '12.09.2018')
					+cardItem('news', '../img/temp/carousel_4.jpg', 'Технофлот приглашает на ПИР 2018', false, 'Новинки', '11.09.2018')
					+cardItem('news', '../img/temp/carousel_5.jpg', 'Печь VECTOR Alto-Shaam – революция в индустрии общепита', false, 'Мастер-класс', '10.09.2018')
					+cardItem('news', '../img/temp/carousel_6.jpg', 'Выставка IBA 2018', false, 'Новинки', '09.09.2018')

	+callback('email')

block append
