extends layout/template

block vars
	- var pagePart = true;
	- var pageName = "base";
	- var pageTitle = "Новости";
	- var pageDescription = pageName;
	- var pageImage = "/img.jpg";
	- var pageUrl = "{{page url}}";

block head

block content

	.page.page_news
		.inner
			.head
				.head__title Новости

			.card
				.card__list
					+cardItem('news', '../img/temp/carousel_2.jpg', 'Технофлот на PIR EXPO 2018', 'С 24 по 27 сентября компания «Технофлот» приняла участие в главном ежегодном событии ресторанного бизнеса — выставке PIR EXPO.', 'Выставки', ['10', 'октября', '2018'], 'big')
					+cardItem('news', '../img/temp/carousel_3.jpg', 'IBA 2018 — «аппетитное» мероприятие осени', false, 'Мастер-класс', '12.09.2018')
					+cardItem('news', '../img/temp/carousel_4.jpg', 'Технофлот приглашает на ПИР 2018', false, 'Новинки', '11.09.2018')
					+cardItem('news', '../img/temp/carousel_5.jpg', 'Печь VECTOR Alto-Shaam – революция в индустрии общепита', false, 'Мастер-класс', '10.09.2018')
					+cardItem('news', '../img/temp/carousel_6.jpg', 'Выставка IBA 2018', false, 'Новинки', '09.09.2018')
					+cardItem('news', '../img/temp/carousel_3.jpg', 'IBA 2018 — «аппетитное» мероприятие осени', false, 'Мастер-класс', '08.09.2018')
					+cardItem('news', '../img/temp/carousel_4.jpg', 'Технофлот приглашает на ПИР 2018', false, 'Новинки', '07.09.2018')
					+cardItem('news', '../img/temp/carousel_5.jpg', 'Печь VECTOR Alto-Shaam – революция в индустрии общепита', false, 'Мастер-класс', '06.09.2018')
					+cardItem('news', '../img/temp/carousel_6.jpg', 'Выставка IBA 2018', false, 'Новинки', '06.09.2018')
					+cardItem('news', '../img/temp/carousel_5.jpg', 'Печь VECTOR Alto-Shaam – революция в индустрии общепита', false, 'Мастер-класс', '10.09.2018')
					+cardItem('news', '../img/temp/carousel_6.jpg', 'Выставка IBA 2018', false, 'Новинки', '09.09.2018')
					+cardItem('news', '../img/temp/carousel_3.jpg', 'IBA 2018 — «аппетитное» мероприятие осени', false, 'Мастер-класс', '08.09.2018')
					+cardItem('news', '../img/temp/carousel_4.jpg', 'Технофлот приглашает на ПИР 2018', false, 'Новинки', '07.09.2018')


				.card__more: .btn.btn_link(data-card='https://next.json-generator.com/api/json/get/V1CeY4veU?delay=500') Показать ещё


	+callback('email')

block append
