extends layout/template

block vars
	- var pagePart = true;
	- var pageName = "base";
	- var pageTitle = "Проекты";
	- var pageDescription = pageName;
	- var pageImage = "/img.jpg";
	- var pageUrl = "{{page url}}";

block head

block content
	.page.page_projects
		.inner
			.head
				.head__title Проекты

			.card
				.card__list
					+cardItem('project', '../img/temp/carousel_1.jpg', 'Probka на Цветном, Москва', false, 'КОНДИТЕРСКИЕ')
					+cardItem('project', '../img/temp/carousel_4.jpg', "Uilliam's, сеть ресторанов Ginza Project", false, 'мини-пекарня')
					+cardItem('project', '../img/temp/carousel_2.jpg', 'Кондитерская на Тверской', false, 'КОНДИТЕРСКИЕ')
					+cardItem('project', '../img/temp/carousel_3.jpg', 'Корюшка, сеть ресторанов Ginza Project', false, 'Пиццерия')
					+cardItem('project', '../img/temp/carousel_5.jpg', 'Пицца Оllis', false, 'Пиццерия')
					+cardItem('project', '../img/temp/carousel_1.jpg', 'Probka на Цветном, Москва', false, 'КОНДИТЕРСКИЕ')
					+cardItem('project', '../img/temp/carousel_4.jpg', "Uilliam's, сеть ресторанов Ginza Project", false, 'мини-пекарня')
					+cardItem('project', '../img/temp/carousel_1.jpg', 'Probka на Цветном, Москва', false, 'КОНДИТЕРСКИЕ')
					+cardItem('project', '../img/temp/carousel_4.jpg', "Uilliam's, сеть ресторанов Ginza Project", false, 'мини-пекарня')
					+cardItem('project', '../img/temp/carousel_2.jpg', 'Кондитерская на Тверской', false, 'КОНДИТЕРСКИЕ')
					+cardItem('project', '../img/temp/carousel_3.jpg', 'Корюшка, сеть ресторанов Ginza Project', false, 'Пиццерия')
					+cardItem('project', '../img/temp/carousel_5.jpg', 'Пицца Оllis', false, 'Пиццерия')

				.card__more: .btn.btn_link(data-card='https://next.json-generator.com/api/json/get/V1qNsNvxI?delay=500') Показать ещё


	+callback('email')



block append
