extends layout/template

block vars
	- var pagePart = true;
	- var pageName = "base";
	- var pageTitle = "Будда бар";
	- var pageDescription = pageName;
	- var pageImage = "/img.jpg";
	- var pageUrl = "{{page url}}";

block head

block content
	.project
		.project__header
			.project__header-bg(style='background-image:url(../img/temp/carousel_2.jpg);')
			.inner
				.breadcrumbs
					.breadcrumbs__item: a(href='projects.html') Поректы
					.breadcrumbs__item: a(href='projects.html') Кондитерские
					.breadcrumbs__item Будда бар
				.project__header-title Будда бар

				.project__header-info
					.project__header-logo: img(src='../img/temp/progect-logo.png', alt='Будда бар')
					//-.project__header-text: .project__header-text-inner: span Первый в России lounge-ресторан мировой сети Buddha-Bar. Уникальный формат: гармония, спокойствие и безмятежная атмосфера в сочетании с лучшими блюдами паназиатской кухни.

		.project__content
			.inner
				.project__content-info: span Первый в России lounge-ресторан мировой сети Buddha-Bar. Уникальный формат: гармония, спокойствие и безмятежная атмосфера в сочетании с лучшими блюдами паназиатской кухни.

				.project__stats
					.project__stats-item
						.project__stats-title Площадь помещения:
						.project__stats-value 4 500 м#[sup 2]
					.project__stats-item.project__stats-item_city
						.project__stats-title Адрес:
						.project__stats-value Санкт-Петербург, Синопская набережная, 78
					.project__stats-item
						.project__stats-title Посадочных мест
						.project__stats-value 128

			.project__gallery
				.inner
					.project__gallery-list
						.project__gallery-item: img(data-lazy='../img/temp/carousel_2.jpg')
						.project__gallery-item: img(data-lazy='../img/temp/carousel_3.jpg')
						.project__gallery-item: img(data-lazy='../img/temp/carousel_4.jpg')
						.project__gallery-item: img(data-lazy='../img/temp/carousel_5.jpg')
						.project__gallery-item: img(data-lazy='../img/temp/carousel_6.jpg')
						.project__gallery-item: img(data-lazy='../img/temp/carousel_7.jpg')
						.project__gallery-item: img(data-lazy='../img/temp/carousel_8.jpg')
						.project__gallery-item: img(data-lazy='../img/temp/carousel_9.jpg')
						.project__gallery-item: img(data-lazy='../img/temp/carousel_10.jpg')
						.project__gallery-item: img(data-lazy='../img/temp/carousel_11.jpg')

					.project__gallery-preview
						.project__gallery-thumbnail: img(src='../img/temp/carousel_2.jpg')
						.project__gallery-thumbnail: img(src='../img/temp/carousel_3.jpg')
						.project__gallery-thumbnail: img(src='../img/temp/carousel_4.jpg')
						.project__gallery-thumbnail: img(src='../img/temp/carousel_5.jpg')
						.project__gallery-thumbnail: img(src='../img/temp/carousel_6.jpg')
						.project__gallery-thumbnail: img(src='../img/temp/carousel_7.jpg')
						.project__gallery-thumbnail: img(src='../img/temp/carousel_8.jpg')
						.project__gallery-thumbnail: img(src='../img/temp/carousel_9.jpg')
						.project__gallery-thumbnail: img(src='../img/temp/carousel_10.jpg')
						.project__gallery-thumbnail: img(src='../img/temp/carousel_11.jpg')

			.inner
				.project__subtitle Использованное оборудование #[br]в этом проекте:
				.project__brands
					a(href='brand_item.html').project__brands-item: img(src='../img/temp/brand_1.png')
					a(href='brand_item.html').project__brands-item: img(src='../img/temp/brand_2.png')
					a(href='brand_item.html').project__brands-item: img(src='../img/temp/brand_3.png')
					a(href='brand_item.html').project__brands-item: img(src='../img/temp/brand_4.png')
					a(href='brand_item.html').project__brands-item: img(src='../img/temp/brand_5.png')
					a(href='brand_item.html').project__brands-item: img(src='../img/temp/brand_6.png')


	.callback
		.inner
			.callback__title Понравились работы?
			.callback__subtitle Давайте мы позвоним вам и подробно расскажем
			.callback__form
				form.form(action='', method='post', novalidate, autocomplete='off')

					.form__field
						.form__input
							input(placeholder='Ваш телефон', type='text', name='phone', data-require='true', data-mask='+7 999 999-99-99')
					.form__field.form__field_polithics
						.form__input
							label
								input(checked type="checkbox" name="politics" data-require="true")
								span.form__label Настоящим подтверждаю, что я&nbsp;ознакомлен и&nbsp;согласен с&nbsp;#[a(href="http://tfdecor.ru/assets/doc/politics.pdf", target="_blank") условиями политики конфиденциальности]

					.form__field.form__field_submit
						.form__input
							button(type='submit').btn.btn_green Перезвоните мне!
block append
