extends layout/template

block vars
	- var pagePart = 'retail';
	- var pageColor = '#f5d20f';
	- var pageName = "base";
	- var pageTitle = "Ритейл";
	- var pageDescription = pageName;
	- var pageImage = "/img.jpg";
	- var pageUrl = "{{page url}}";


block head

block content
	include layout/part
block append
