extends layout/template

block vars
	- var pagePart = true;
	- var pageName = "base";
	- var pageTitle = "Результаты поиска";
	- var pageDescription = pageName;
	- var pageImage = "/img.jpg";
	- var pageUrl = "{{page url}}";

block head

block content

	.page.page_search
		.inner
			.search
				.search__form
					form(action='search.html', method='get')
						.search__form-input
							input(type='text', name='query', value='холод')
						.search__form-btn
							button(type='submit').btn.btn_border Найти


				.search__text Результатов по вашему запросу: 6

			.card
				.card__list
					+cardItem('equipment', '../img/temp/equipment_1.png', 'Холодильный шкаф Electrolux', false, 'RGV')
					+cardItem('equipment', '../img/temp/equipment_2.png', 'Духовой шкаф Lainox', false, 'waring')
					+cardItem('equipment', '../img/temp/equipment_3.png', 'Электрошашлычница RGV', false, 'RGV')
					+cardItem('equipment', '../img/temp/equipment_4.png', 'Духовой шкаф Lainox', false, 'waring')
					+cardItem('equipment', '../img/temp/equipment_5.png', 'Холодильный шкаф Electrolux', false, 'RGV')
					+cardItem('equipment', '../img/temp/equipment_6.png', 'Духовой шкаф Lainox', false, 'waring')



	+callback('phone')

block append
