<template lang="pug">
	.form__input
		input(
			@change="onChange",
			@keyup="onKeyup",
			@focus="onFocus",
			@blur="onBlur",
			:type="field.type",
			:name="field.name",
			v-model.trim="model[field.name]",
			autocomplete="off",
			:disabled="field.disabled",
			:readonly="field.readonly"
			)
		transition(mode='out-in', name="tr-fade")
			.form__dropdown(v-if="field.autocomplete && field.items.length && focused", :class="dropdownOnTop ? 'form__dropdown_top' : ''")
				.form__dropdown-list
					.form__dropdown-item(
					@mousedown="onDropDownClick(item)",
					v-for="(item, index) in field.items",
					:key="index",
					v-html="item.html || item.label || item.value",
					:class="[item.disabled ? 'is-disabled' : '']"
					)
		.form__placeholder(v-if="field.placeholder"): span(v-html="field.placeholder")


</template>

<script>

	import Inputmask from 'inputmask'

	export default {

		props: ['field', 'model'],

		data() {

			return {

			}
		},

		computed: {

		},

		beforeDestroy(){

		},

		created(){

		},

		mounted(){
			if ( this.field.mask ){
				new Inputmask({
					mask: this.field.mask,
					showMaskOnHover: false,
					onincomplete: (e)=>{
						e.target.value = '';
						this.model[this.field.name] = '';
					}
				}).mask(this.$el.querySelectorAll('input')[0]);
			}
		},

		watch:{

		},

		methods:{
			onChange(e){
				this.$emit('onChange', this.model[this.field.name], e);
				if ( this.field.onChange && typeof this.field.onChange === 'function') this.field.onChange(this.model[this.field.name], e);
			},
			onKeyup(e){
				this.$emit('onKeyup', this.model[this.field.name], e);
				if ( this.field.onKeyup && typeof this.field.onKeyup === 'function') this.field.onKeyup(this.model[this.field.name], e);
			},
			onFocus(e){
				this.$emit('onFocus', this.model[this.field.name], e);
				if ( this.field.onFocus && typeof this.field.onFocus === 'function') this.field.onFocus(this.model[this.field.name], e);
			},
			onBlur(e){
				this.$emit('onBlur', this.model[this.field.name], e);
				if ( this.field.onBlur && typeof this.field.onBlur === 'function') this.field.onBlur(this.model[this.field.name], e);
			},
		},

		components:{

		}
	}
</script>

<style lang="scss">

</style>