<template lang="pug">
	.form__input
		input(
		type="submit",
		:value="field.value",
		:disabled="field.disabled"
		)


</template>

<script>

	export default {

		props: ['field', 'model'],

		data() {


			return {

			}
		},

		computed: {

		},

		beforeDestroy(){

		},

		created(){

		},

		mounted(){

		},

		watch:{

		},

		methods:{

		},

		components:{

		}
	}
</script>

<style lang="scss">

</style>