<template lang="pug">
	.form__input
		.form__editor
			Editor(
				@onChange="onChange",
				@onBlur="onBlur",
				@onFocus="onFocus",
				@onKeyUp="onKeyup",
				@onInit="onInit",
				:init="options",
				v-model='model[field.name]',
				)

		.form__placeholder(v-if="field.placeholder"): span(v-html="field.placeholder")


</template>

<script>

	import Editor from '@tinymce/tinymce-vue'
	import axios from 'axios'

	let uploadUrl = '/tinymce_uploader';

	export default {

		props: ['field', 'model'],

		data() {


			return {

				options: {
					height: 500,
					// images_upload_url: uploadUrl,
					body_class: 'typo',
					content_css: '/assets/css/index.style.css',
					style_formats: [
						{
							title: 'Текст',
							items: [
								{title: 'Заголовок (h2)', format: 'h2'},
								{title: 'Подзаголовок (h3)', format: 'h3'},
								{title: 'Подзаголовок (h4)', format: 'h4'},
								{title: 'Обычный текст', block: 'p'}
							]
						},
						{
							title: 'Форматирование', items: [
								{title: 'Bold', icon: 'bold', format: 'bold'},
								{title: 'Italic', icon: 'italic', format: 'italic'},
								{title: 'Underline', icon: 'underline', format: 'underline'},
								{title: 'Strikethrough', icon: 'strikethrough', format: 'strikethrough'},
								{title: 'Superscript', icon: 'superscript', format: 'superscript'},
								{title: 'Subscript', icon: 'subscript', format: 'subscript'}
							]
						},
						{
							title: 'Выравнивание', items: [
								{title: 'Left', icon: 'alignleft', format: 'alignleft'},
								{title: 'Center', icon: 'aligncenter', format: 'aligncenter'},
								{title: 'Right', icon: 'alignright', format: 'alignright'},
								{title: 'Justify', icon: 'alignjustify', format: 'alignjustify'}
							]
						}

					],
					// style_formats_merge: true,
					style_formats_autohide: true,

					plugins: [
						"autolink hr link image",
						"wordcount media nonbreaking",
						"filemanager table lists contextmenu directionality code languageRUS"
					],

					toolbar: "filemanager  undo redo | styleselect | insertfile | bullist numlist | link unlink | image media table | hr ",


					external_plugins: {
						"languageRUS" : "/assets/admin/tinymice/ru.js",
						"filemanager" : "/assets/admin/tinymice/plugins/responsivefilemanager/plugin.min.js"
					},

					image_advtab: true,

					relative_urls: false,


					image_class_list: [
						{title: 'По центру', value: 'image'},
						{title: 'Выравнивание справа', value: 'image_right'},
						{title: 'Выравнивание слева', value: 'image_left'}
					],

					image_dimensions: false,

					table_default_styles: {
						width: '100%'
					},

					filemanager_title:"Responsive Filemanager",
					filemanager_crossdomain: true,
					// external_filemanager_path:"http://test.albertoperipolli.com/secondaryserver/rfm0123/",
					external_filemanager_path:"/assets/admin/tinymice/plugins/responsivefilemanager/",


					// file_picker_types: 'file',
					/*file_picker_callback: (callback, value, meta)=>{
						console.info(callback, value, meta);
						let input = document.createElement('input');
						input.setAttribute('type', 'file');
						input.setAttribute('accept', 'application/pdf');

						input.onchange = (e)=>{
							let file = e.target.files[0],
								// xhr = new XMLHttpRequest(),
								formData = new FormData();

							formData.append('file', file, file.name);
							// xhr.send(formData);

							console.info(file);

							this.$store.commit('loading', 'start');
							axios({
								method: 'post',
								url: uploadUrl,
								headers: {
									'Content-Type': 'multipart/form-data'
									// 'Content-type': 'application/x-www-form-urlencoded'
								},
								data: formData
							}).then(response=>{
								console.info(meta.filetype);
								console.info(response);

								if (meta.filetype === 'file') {
									callback(response.data.location, {alt: file.name});
								}
								if (meta.filetype === 'image') {
									callback(response.data.location, {alt: 'My alt text'});
								}

								if (meta.filetype === 'media') {
									callback(response.data.location, {source2: 'alt.ogg', poster: 'image.jpg'});
								}
							}).catch(error=>{
								console.error(error)
							}).then(()=>{
								this.$store.commit('loading', 'end');
							});
						};

						input.click();


					}*/
				}

			}
		},

		computed: {

		},

		beforeDestroy(){

		},

		created(){

		},

		mounted(){

		},

		watch:{

		},

		methods:{
			onChange(e){
				this.$emit('onChange', this.model[this.field.name], e);
				if ( this.field.onChange && typeof this.field.onChange === 'function') this.field.onChange(this.model[this.field.name], e);
			},
			onKeyup(e){
				this.$emit('onKeyup', this.model[this.field.name], e);
				if ( this.field.onKeyup && typeof this.field.onKeyup === 'function') this.field.onKeyup(this.model[this.field.name], e);
			},
			onFocus(e){
				this.$emit('onFocus', this.model[this.field.name], e);
				if ( this.field.onFocus && typeof this.field.onFocus === 'function') this.field.onFocus(this.model[this.field.name], e);
			},
			onBlur(e){
				this.$emit('onBlur', this.model[this.field.name], e);
				if ( this.field.onBlur && typeof this.field.onBlur === 'function') this.field.onBlur(this.model[this.field.name], e);
			},


			onInit(e){
				console.info('test');
				console.info(e);

				console.info(window.tinymce);
			}
		},

		components:{
			Editor,
		}
	}
</script>

<style lang="scss">
	.mce-notification-warning.mce-notification.mce-in {
		opacity: 0 !important;
		pointer-events: none !important;
	}

	.mce-tinymce{
		border: none !important;
		border-radius: 3px!important;
	}

</style>