<template lang="pug">
	.form__input
		input(
			@change="onChange",
			type="checkbox",
			:name="field.name",
			:id="field.name+'_'+_uid",
			:disabled="field.disabled",
			v-model="model[field.name]"
			)
		label(v-html="field.label", :for="field.name+'_'+_uid")


</template>

<script>

	export default {

		props: ['field', 'model'],

		data() {

			return {

			}
		},

		computed: {

		},

		beforeDestroy(){

		},

		created(){

		},

		mounted(){

		},

		watch:{

		},

		methods:{
			onChange(e){
				this.$emit('onChange', this.model[this.field.name], e);
				if ( this.field.onChange && typeof this.field.onChange === 'function') this.field.onChange(this.model[this.field.name], e);
			}
		},

		components:{

		}
	}
</script>

<style lang="scss">

</style>