<template lang="pug">
	.form__input
		datepicker(
			:language="ru",
			:format="'dd-MM-yyyy'",
			@selected="onChange",
			@opened="onFocus",
			@closed="onBlur",
			@input="onKeyup",
			:disabledDates = "{from: new Date(), to: null }",
			v-model='model[field.name]'
			)

		.form__placeholder(v-if="field.placeholder"): span(v-html="field.placeholder")

</template>

<script>

	import Datepicker from 'vuejs-datepicker';
	import {ru} from 'vuejs-datepicker/dist/locale'


	export default {

		props: ['field', 'model'],

		data() {

			return {
				ru
			}
		},

		computed: {

		},

		beforeDestroy(){

		},

		created(){

		},

		mounted(){
			if (this.model[this.field.name]) {
				this.model[this.field.name] = new Date(this.model[this.field.name]);
			} else {
				this.model[this.field.name] = new Date();
			}
		},

		watch:{

		},

		methods:{
			onChange(e){
				this.$emit('onChange', this.model[this.field.name], e);
				if ( this.field.onChange && typeof this.field.onChange === 'function') this.field.onChange(this.model[this.field.name], e);
			},
			onKeyup(e){
				this.$emit('onKeyup', this.model[this.field.name], e);
				if ( this.field.onKeyup && typeof this.field.onKeyup === 'function') this.field.onKeyup(this.model[this.field.name], e);
			},
			onFocus(e){
				this.$emit('onFocus', this.model[this.field.name], e);
				if ( this.field.onFocus && typeof this.field.onFocus === 'function') this.field.onFocus(this.model[this.field.name], e);
			},
			onBlur(e){
				this.$emit('onBlur', this.model[this.field.name], e);
				if ( this.field.onBlur && typeof this.field.onBlur === 'function') this.field.onBlur(this.model[this.field.name], e);
			},

		},

		components:{
			Datepicker
		}
	}
</script>

<style lang="scss">

</style>