<template lang="pug">
	.form__field(v-if='!field.remove', :class="[clasees, 'form__field_' + field.type,  field.class ? field.class : '']")
		.form__title(v-if="field.title", v-html="field.title")

		//- Submit button
		Submit(v-if="field.type === 'submit'", :field='field', :model='model')
		//- Textarea
		Textarea(v-else-if="field.type === 'textarea'", :field='field', :model='model', @onChange="onChange", @onBlur="onBlur", @onKeyup="onKeyup", @onFocus="onFocus")
		//- Textarea
		Checkbox(v-else-if="field.type === 'checkbox'", :field='field', :model='model', @onChange="onChange")
		//- Radio
		Radio(v-else-if="field.type === 'radio'", :field='field', :model='model', @onChange="onChange")
		//- Select
		Select(v-else-if="field.type === 'select'", :field='field', :model='model', @onChange="onChange", @onBlur="onBlur", @onFocus="onFocus")
		//- Image
		Images(v-else-if="field.type === 'image'", :field='field', :model='model', @onChange="onChange")
		//- Date
		DatePicker(v-else-if="field.type === 'date'", :field='field', :model='model', @onChange="onChange", @onBlur="onBlur", @onKeyup="onKeyup", @onFocus="onFocus")
		//- Editor
		EditorTiniMCE(v-else-if="field.type === 'editorMCE'", :field='field', :model='model', @onChange="onChange", @onBlur="onBlur", @onKeyup="onKeyup", @onFocus="onFocus")
		//- Editor
		Editor(v-else-if="field.type === 'editor'", :field='field', :model='model', @onChange="onChange", @onBlur="onBlur", @onKeyup="onKeyup", @onFocus="onFocus")
		//- Text
		TextInput(v-else, :field='field', :model='model', @onChange="onChange", @onBlur="onBlur", @onKeyup="onKeyup", @onFocus="onFocus")

		.form__message(v-if="message", v-html="message")

</template>

<script>

	/**
	 * 	title - field title
	 * 	type - input type [text, email, radio, checkbox, textarea, submit]
	 * 	name - input name
	 * 	placeholder - input placeholder
	 * 	disabled - boolean
	 * 	readonly - boolean
	 * 	callbacks: onChange, onKeyup, onFocus, onBlur
	 * 	mask - Inputmask rules
	 * 	value
	 *
	 *	autocomplete - boolean
	 * 		items - array [autocomplete values] {value, html, disabled}
	 *
	 */


	import Submit from './formFieldSubmit.vue'
	import Textarea from './formFieldTextarea.vue'
	import Checkbox from './formFieldCheckbox.vue'
	import Radio from './formFieldRadio.vue'
	import Select from './formFieldSelect.vue'
	import Images from './formFieldImage.vue'
	import DatePicker from './formFieldDate.vue'
	import Editor from './formFieldEditor.vue'
	import EditorTiniMCE from './formFieldEditorTiniMCE.vue'
	import TextInput from './formFieldText.vue'


	export default {

		props: ['field', 'model'],

		data() {

			return {
				error: false,
				filled: false,
				focused: false,
				message: false,

				rules: {
					current: {
						empty: {
							message: 'Заполните поле'
						}
					},
					radio: {
						unchecked: {
							message: 'Отметьте один из вариантов'
						}
					},
					checkbox: {
						unchecked: {
							message: 'Для продолжения нужно подтверждение'
						}
					},
					select: {
						empty: {
							message: 'Выберите один из вариантов'
						}
					},
					email: {
						empty: {
							message: 'Заполните поле'
						},
						value: [
							{
								val: 'test@test.test',
								message: 'Какая, блин, оригинальная почта...'
							}
						],
						pattern: [
							{
								regex: /^[-._a-z0-9а-я]+@(?:[a-z0-9а-я][-a-z0-9а-я]+\.)+[a-zа-я]{2,6}$/i,
								message: 'Проверьте корректность E-mail'
							}
						],
						// antiPattern: [
						// 	{
						// 		regex: 'test@test.test',
						// 		message: 'Какая, блин, оригинальная почта...'
						// 	}
						// ]
					},

					number: {
						empty: {
							message: 'Заполните поле'
						},
						pattern: [
							{
								regex: /^\d+$/i,
								message: 'Поле должно содержать только числовые символы'
							}
						],
					}
				}
			}
		},

		computed: {

			clasees: function (){

				//[
				// (
				// model[field.name] &&
				// model[field.name].toString().length > 0 &&
				// model[field.name] !== undefined &&
				// field.type !== 'checkbox' &&
				// field.type !== 'radio'
				// && field.type !== 'submit'
				// && field.type !== 'image'
				// )
				// || filled ? 'is-filled' : '',

				return {
					'form__field_multiple': this.field.multiple,
					'is-error': this.error,
					'is-focused': this.focused,
					'is-filled': this.filled || (this.model[this.field.name] && this.model[this.field.name].length) || (this.field.type === 'date' && typeof this.model[this.field.name] === 'object'),
				}
			}

		},

		beforeDestroy(){

		},

		created(){

			if ( this.model[this.field.name] === undefined && this.field.type !== 'submit') {
				this.model[this.field.name] = this.field.type === 'multiselect' ? [] : '';
			}
		},

		mounted(){

		},

		watch:{

		},

		methods:{

			onChange(val, e){
				this.error = !1;
				this.message = '';
			},
			onKeyup(val, e){
				if ( val.length ) {
					this.filled = !0;
				} else {
					this.filled = !1;
				}
			},
			onFocus(val, e){
				this.focused = !0;
			},
			onBlur(val, e){
				this.focused = !1;
			},

			validate(addrules = {}) {



				// console.info(typeof this.model[this.field.name], this.field.name, !!this.model[this.field.name]);

				this.error = false;
				this.message = false;

				let err = [],
					val = this.model[this.field.name],
					rules, type = this.field.required;

				if ( (type === 'true' || type === true) && !!this.rules[this.field.type] ) {
					type = this.field.type
				} else {
					type = 'current';
				}

				rules = Object.assign({}, this.rules[type], addrules);

				if ( this.field.required && !!rules ){
					for (let rule in rules) {
						if (rules.hasOwnProperty(rule)) {
							switch (rule){
								case 'empty':
									if ( (Array.isArray(val) && val.length < 1) ||  val === '' || val === null) err.push(rules[rule].message);
									break;
								case 'pattern':
									if ( rules[rule].length ) rules[rule].map(item=>{
										if ( item.regex && item.regex instanceof RegExp && !item.regex.test(val) ) err.push(item.message);
									});
									break;
								case 'antiPattern':
									if ( rules[rule].length ) rules[rule].map(item=>{
										if ( item.regex && item.regex instanceof RegExp && item.regex.test(val) ) {
											err.push(item.message);
										} else if ( item.regex && typeof item.regex === 'string' && val === item.regex ){
											err.push(item.message);
										}
									});
									break;
								case 'min':
									if ( val.length < rules[rule].length ) err.push(rules[rule].message);
									break;
								case 'max':
									if ( val.length > rules[rule].length ) err.push(rules[rule].message);
									break;
								case 'unchecked':
									if ( type === 'radio' ){
										let i = 0, radio = document.querySelectorAll(`input[name="${this.field.name}"]`), checked = false;

										for (i; i < radio.length; i++ ){
											if ( radio[i].checked ) {
												checked = true;
												break;
											}
										}
										if ( !checked ) err.push(rules[rule].message);

									} else if ( type === 'checkbox' && !val ) {
										err.push(rules[rule].message);
									}
									break;
								default:

							}
						}
					}
				}

				// console.info(err, val);

				if ( err.length ){
					this.error = true;
					this.message = err[0];

					this.$notify({
						title: `Заполните обязательное поле ${this.field.title || this.field.placeholder || this.field.label || this.field.name }`,
						//text: 'Допускается только загрузка изображений png и jpeg', // success warn error
						type: 'warn'
					});
				}

				return {errors: err, value: val, type: type};
			}

		},

		components:{
			Submit,
			Textarea,
			Checkbox,
			Radio,
			Select,
			Images,
			DatePicker,
			Editor,
			TextInput,
			EditorTiniMCE
		}
	}
</script>

<style lang="scss">

</style>