<template lang="pug">
	.form__input
		.form__images(v-if="!!field.multiple")
			.form__images-list(v-if="model[field.name].length")
				Draggable(v-model="model[field.name]")
					.form__images-item(v-for="(image, index) in model[field.name]", :style="'background-image:url(' + image + ');'")
						.form__images-remove(@click="removeImage(index)")
			label.btn.btn_yellow(:for="field.name+'_'+_uid" v-html="'Добавить изображение'")
		.form__images(v-else)
			.form__images-list(v-if="model[field.name]")
				.form__images-item(:style="'background-image:url(' + model[field.name] + ');'")
					.form__images-remove(@click="removeImage")
			label.btn.btn_yellow(:for="field.name+'_'+_uid" v-html="model[field.name] ? 'Заменить изображение' : 'Добавить изображение'")
		input(
			accept="image/*",
			@change="onChange",
			:multiple="!!field.multiple",
			type="file",
			:id="field.name+'_'+_uid"
			)

</template>

<script>

	import downscale from 'downscale'
	import _ from 'lodash'
	import Draggable from 'vuedraggable'


	export default {

		props: ['field', 'model'],

		data() {

			return {

			}
		},

		computed: {

		},

		beforeDestroy(){

		},

		created(){

		},

		mounted(){

			if ( this.model[this.field.name].length ){
				if ( this.field.multiple ){
					let i = 0, lng = this.model[this.field.name].length;

					for (i; i < lng; i++){
						this.imageToBase64(this.model[this.field.name][i], i);
					}
				} else {
					this.imageToBase64(this.model[this.field.name]);
				}
			}
		},

		watch:{

		},

		methods:{
			onChange(e){
				this.getImage(e);
				if ( this.field.onChange && typeof this.field.onChange === 'function') this.field.onChange(this.model[this.field.name]);
			},

			moveImage(i, n){
				if (n >= this.model[this.field.name].length) {
					let k = n - this.model[this.field.name].length + 1;
					while (k--) {
						this.model[this.field.name].push(undefined);
					}
				}
				this.model[this.field.name].splice(n, 0, this.model[this.field.name].splice(i, 1)[0]);
			},

			getImage(e){


				let collect = e.dataTransfer || e.target,
					files = collect.files,
					buffer = [],
					count = 0
				;

				this.$store.commit('loading', 'start');

				([...files]).forEach((file, index)=>{

					let type = file.type.match(/(jpeg|png)/ig),
						max = this.field.maxWidth || 1920
					;

					if ( type ){

						let reader = new FileReader();
						reader.readAsDataURL(file);
						reader.onloadend = ()=>{
							let img = new Image;
							img.onload = ()=>{
								let width = img.width > max ? max : img.width,
									height = width * img.height / img.width
								;

								if ( height > 1000 ){
									height = 1000;
									width = height * img.width / img.height
								}

								downscale(file, width, height, {
									imageType: type
								}).then((data)=>{

									//-console.info(file.name, data);

									if ( !!this.field.multiple ){
										count++;

										buffer.push({
											name: file.name,
											src: data
										});

										if ( files.length === count) {

											let arr = _.sortBy(buffer, (e)=> e.name);

											setTimeout(()=>{
												for (let i = 0; i < arr.length; i++){
													this.model[this.field.name].push(arr[i].src);
												}
												this.$store.commit('loading', 'end');
											}, 1000);

										}
									} else {
										this.model[this.field.name] = data;
										this.$store.commit('loading', 'end');
									}

									this.$emit('onChange', this.model[this.field.name], e);
								});
							};
							img.onerror = ()=>{
								count++;
							};
							img.src = reader.result;
						};
					} else {
						count++;

						this.$store.commit('loading', 'end');

						this.$notify({
							title: 'Недопустимый формат файла',
							text: 'Допускается только загрузка изображений png и jpeg', // success warn error
							type: 'error'
						});

					}
				});

			},

			removeImage(index){
				if ( !!this.field.multiple ){
					this.model[this.field.name].splice(index, 1);
				} else {
					this.model[this.field.name] = '';
				}
			},


			imageToBase64(src, index){

				if ( src.indexOf('data:image') === 0 ) return false;

				let xhr = new XMLHttpRequest();
				xhr.onload = ()=>{
					let reader = new FileReader();
					reader.onloadend = ()=>{
						if (this.field.multiple){
							// this.model[this.field.name][index] = reader.result;
							this.model[this.field.name].splice(index, 1, reader.result);
						} else {
							this.model[this.field.name] = reader.result;
						}
					};
					reader.readAsDataURL(xhr.response);
				};
				// xhr.open('GET', `${src}?${new Date().getTime()}`);
				xhr.open('GET', src);
				xhr.setRequestHeader("Cache-Control", "max-age=0");
				xhr.responseType = 'blob';
				xhr.send();


			},

		},

		components:{
			Draggable
		}
	}
</script>

<style lang="scss">

</style>