<template lang="pug">
	.form__input
		textarea.textarea(
			@change="onChange",
			@keyup="onKeyup",
			@focus="onFocus",
			@blur="onBlur",
			:name="field.name",
			:disabled="field.disabled",
			:readonly="field.readonly",
			autocomplete="off",
			v-model.trim="model[field.name]"
			)
		.form__placeholder(v-if="field.placeholder"): span(v-html="field.placeholder")


</template>

<script>

	export default {

		props: ['field', 'model'],

		data() {

			return {

			}
		},

		computed: {

		},

		beforeDestroy(){

		},

		created(){

		},

		mounted(){

		},

		watch:{

		},

		methods:{
			onChange(e){
				this.$emit('onChange', this.model[this.field.name], e);
				if ( this.field.onChange && typeof this.field.onChange === 'function') this.field.onChange(this.model[this.field.name], e);
			},
			onKeyup(e){
				this.$emit('onKeyup', this.model[this.field.name], e);
				if ( this.field.onKeyup && typeof this.field.onKeyup === 'function') this.field.onKeyup(this.model[this.field.name], e);
			},
			onFocus(e){
				this.$emit('onFocus', this.model[this.field.name], e);
				if ( this.field.onFocus && typeof this.field.onFocus === 'function') this.field.onFocus(this.model[this.field.name], e);
			},
			onBlur(e){
				this.$emit('onBlur', this.model[this.field.name], e);
				if ( this.field.onBlur && typeof this.field.onBlur === 'function') this.field.onBlur(this.model[this.field.name], e);
			},
		},

		components:{

		}
	}
</script>

<style lang="scss">

</style>