<template lang="pug">
	.form__input
		select(
			@change="onChange",
			@focus="onFocus",
			@blur="onBlur",
			:name="field.name",
			:multiple="field.multiple",
			v-model="model[field.name]",
			autocomplete="off",
			:disabled="field.disabled",
			:id="field.name+'_'+_uid"
			)
			option(v-for="(item, index) in field.items", :key="index", :value="item.value", :disabled="item.disabled") {{item.value}}
		label(v-if="!field.multiple", :for="field.name+'_'+_uid", v-html="selectValue(model[field.name])")
		label(v-else-if="field.multiple", :for="field.name+'_'+_uid")
			.form__multi(v-if="model[field.name].length")
				.form__multi__item(v-for="(selected, index) in model[field.name]")
					.form__multi__text(v-html="selectValue(selected)")
					.form__multi__remove(@click.stop.prevent="removeSelectItem(selected)")
		transition(mode='out-in', name="tr-fade")
			.form__dropdown(v-if="field.items.length && focused", :class="dropdownOnTop ? 'form__dropdown_top' : ''")
				.form__dropdown-list
					.form__dropdown-item(
						@mousedown="onDropDownClick(item)",
						v-for="(item, index) in field.items",
						:key="index",
						v-html="item.html || item.label || item.value",
						:class="[selectItem(item), item.disabled ? 'is-disabled' : '']"
						)
		.form__placeholder(v-if="field.placeholder"): span(v-html="field.placeholder")


</template>

<script>

	export default {

		props: ['field', 'model'],

		data() {

			return {
				focused: false,
				dropdowned: false,
				dropdownOnTop: false,
			}
		},

		computed: {

		},

		beforeDestroy(){

		},

		created(){

		},

		mounted(){

		},

		watch:{

		},

		methods:{
			onChange(e){
				this.$emit('onChange', this.model[this.field.name], e);
				if ( this.field.onChange && typeof this.field.onChange === 'function') this.field.onChange(this.model[this.field.name], e);
			},
			onFocus(e){
				this.focused = !0;
				if (this.dropdownOnTop) this.dropdownOnTop = false;

				this.$emit('onFocus', this.model[this.field.name], e);
				if ( this.field.onFocus && typeof this.field.onFocus === 'function') this.field.onFocus(this.model[this.field.name], e);
			},
			onBlur(e){

				this.focused = !1;
				this.$emit('onBlur', this.model[this.field.name], e);
				if ( this.field.onBlur && typeof this.field.onBlur === 'function') this.field.onBlur(this.model[this.field.name], e);
			},

			onDropDownClick(item){
				if ( item.disabled ) return false;

				if ( this.field.multiple ){
					if ( this.model[this.field.name].indexOf(item.value) >= 0) return false;
					this.model[this.field.name].push(item.value);
				} else {
					this.model[this.field.name] = item.value;
				}

				this.dropdowned = !1;

				this.onChange();
			},

			selectItem(item){
				let classList = '';

				if ( this.field.multiple && this.model[this.field.name].indexOf(item.value) >= 0){
					classList = 'is-active';
				} else if ( this.model[this.field.name] === item.value ){
					classList = 'is-active';
				}

				return classList;
			},

			selectValue(value) {

				let label = '';

				if (!this.field.items || !value) return '';

				let item = _.find(this.field.items, (e)=>{ return e.value === value });
				label = item.html || item.label || item.value ;

				return label;
			},

			removeSelectItem(sel){
				let index = this.model[this.field.name].indexOf(sel);
				this.model[this.field.name].splice(index, 1);
			},

		},

		components:{

		}
	}
</script>

<style lang="scss">

</style>