<template lang="pug">
	.form__input
		.form__editor
			Editor.form__editor-inner(
				:text="contentEditHTML",
				:reuse-medium-editor-instance="false",
				:options="contentEditableOptions",
				custom-tag="div",
				@edit="contentEdit")

		.form__placeholder(v-if="field.placeholder"): span(v-html="field.placeholder")


</template>

<script>

	import Editor from 'vue2-medium-editor'

	export default {

		props: ['field', 'model'],

		data() {
			let contentEditableOptions = {}, that = this;


			let extensions = {}, buttons = [], opts = this.field.items || [];

			for (let i = 0; i < opts.length; i++){

				let item = opts[i],
					Ext = Editor.MediumEditor.extensions.button.extend({

						name: item.name,
						// tagNames: [item.tag],
						contentDefault: '<b>' + item.label + '</i>',// '<i class="ico ico-paint-brush"></i>'
						action: item.name,

						init: function () {
							Editor.MediumEditor.extensions.button.prototype.init.call(this);

							this.button.title = item.tooltip;
						},

						isAlreadyApplied: function (node) {
							let isMatch = false, el = this.base.getSelectedParentElement();

							if ( el.tagName.toLowerCase() === item.tag ){
								if ( !!item.class ){
									if ( item.class === el.className ){
										isMatch = true;
									}
								} else {
									isMatch = true;
								}
							}

							return isMatch;
						},

						handleClick: function (event) {

							Editor.MediumEditor.util.execFormatBlock(this.base.options.ownerDocument, item.tag);
							//this.base.options.ownerDocument.execCommand('formatBlock', false, item.tag);

							let block = this.base.getSelectedParentElement();

							if (!!item.class) block.className += item.class;

							console.info(block);

							this.base.checkContentChanged();
						}
					})
				;

				extensions[item.name] = new Ext();
				buttons.push(item.name);
			}

			contentEditableOptions = {
				placeholder: false,
				toolbar: {
					static: true,
					allowMultiParagraphSelection: false,
					align: 'right',
					sticky: true,
					updateOnEmptySelection: true,
					buttons: [
						'bold',
						'anchor'
					].concat(buttons)
				},
				paste: {
					cleanPaste: function (text) { console.log("clean paste"); },
					pasteHTML: function (html, options) { console.log("paste html"); }
				},

				extensions
			};

			return {
				contentEditableOptions,
				contentEditHTML: this.model[this.field.name]
			}
		},

		computed: {

		},

		beforeDestroy(){

		},

		created(){

		},

		mounted(){

		},

		watch:{

		},

		methods:{
			contentEdit(data){
				this.model[this.field.name] = data.api.origElements.innerHTML;
				this.$emit('onKeyup', this.model[this.field.name]);
				this.$emit('onChange', this.model[this.field.name]);
			},


		},

		components:{
			Editor,
		}
	}
</script>

<style lang="scss">

</style>