<template lang="pug">
	transition(mode='out-in', name="tr-fade")
		.popup(v-if="$store.state.popup.name === name")
			.popup__overlay(@click="$store.commit('popup', 'close')")
			.popup__layout
				.popup__close(@click="$store.commit('popup', 'close')")
				.popup__content
					slot

</template>

<script>
	export default {

		props: ['name'],

		data() {
			return {
			}
		},

	}
</script>

<style scoped lang="scss">

</style>


