doctype html
html
	head
		meta(charset='UTF-8')/
		meta(name='viewport', content='width=device-width')/
		meta(http-equiv='X-UA-Compatible', content='IE=edge')/
		meta(name="theme-color" content="#6cc74d")/
		meta(name="msapplication-TileColor" content="#6cc74d")/
		meta(name="msapplication-navbutton-color" content="#6cc74d")/
		meta(name="apple-mobile-web-app-status-bar-style" content="#6cc74d")/
		title CRM maestros
	body
		#app

